*{
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei",微软雅黑;
    font-size:62.5%;
}
html body{
    min-width: 1920px;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-line: none;
    cursor: pointer;
}
.active{
    border-bottom: 4px solid #f45353;
    color: #f45353;
}
input{
    outline: none;
}
.inli{
    float: left;
}
/* head */
.top{
    box-sizing: border-box;
    padding: 0 17.7%;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
}
.top_box{
    width: 50%;
    height: 72px;
    margin: 0;
    padding: 0;
    display: flex;
}
.top_img{
    width:179px;
    height: 72px;
    margin-right: 34px;
}
.top_img img{
    width:179px;
    height: 72px;
}
.top_banner{
    height: 72px;
    width:auto;
    padding:0;
    margin: 0; 
}
.top_box ul{
    display: flex;    
}
.top_box ul li{
    width:auto;
    padding: 0 16.5px;
    height: 68px;
    text-align: center;

}
.top_box ul li a{
    font-size: 1.8rem;
    border: none;
    line-height: 70px;
}
.search{
    width:200px;
    height: 22px;
    border: 1px solid #a9a9a9;
    margin: 18px 30px 20px 100px;
    padding: 6px 10px;
    border-radius: 8px;
    display: flex;
}
.search:hover{
    border: 1px solid #000000;
}
.search:visited{
    border: 1px solid #f45353;
}
.search input{
    border: none;
    background: none;
    color:#484848;
    padding-top:0.5px;
}
.start{
    width:140px;
    height: 52px;
    margin: 10px 30px 0 0;
    background-color:#f45353;
    text-align: center;
}
.start a{
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 52px;
}
.text{
    width:100px;
    height: 20px;
    margin: 26px 0 0 0;
    display: flex;
}
.text_child{
    width: 49.5%;
    height: 20px;
    border-right: 1px solid #000000;
    text-align: center;
 
}
.text_child a{
    font-size: 18px;
    color: #000000;
    line-height: 20px;
}
.text_child a:hover{
    color: #f45353;
}
.none{
    border: none;
}
/* bottom */
.bottom{
    width: 100%;
    height: 150px;
    background:#f45353;
    display: flex;
    justify-content: center;
}
.bottom_text{
    width: 136px;
    height: 25px;
    text-align: center;
    margin-top:60px;
    border-right: 1px solid #ffffff;
}
.bottom_text a{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.8);
}
.blow{
    width: 100%;
    height: 50px;
    background: #db4b4b;
    text-align: center;
}
.blow p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 50px;
}
.bg{
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 99;
    display: none;
}
.erweima{
    position: fixed;
    z-index: 100;
    top:100px;
    left:620px;
}

