
/* 轮播样式 */

.main_visual {
    height: 860px;
    overflow: hidden;
    position: relative;
}

.main_image {
    height: 860px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.main_image ul {
    width: 100%;
    height: 860px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 860px;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 860px
}

.main_image li span img {
    width: 100%;
    height: 860px;
}

.main_image li a {
    display: block;
    width: 100%;
    height: 860px
}

.main_image li .img_1 {
    background: url(../images/img_main_1.jpg) center top no-repeat
}

.main_image li .img_4 {
    background: url(../images/img_main_2.jpg) center top no-repeat
}

.main_image li .img_3 {
    background: url(../images/img_main_3.jpg) center top no-repeat
}

div.flicking_con {
    position: absolute;
    top: 153px;
    left: 50%;
    z-index: 999;
    width: 300px;
    height: 21px;
    margin: 0 0 0 -32px;
}

div.flicking_con a {
    float: left;
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    background: url(../images/12.png) 0 0 no-repeat;
    display: block;
    text-indent: -1000px;
    position: relative;
    top: 610px;
}

div.flicking_con a.on {
    background-position: 0 -21px
}

#btn_prev,
#btn_next {
    z-index: 11111;
    position: absolute;
    display: block;
    width: 73px!important;
    height: 74px!important;
    top: 50%;
    margin-top: -37px;
    display: none;
    
}

#btn_prev {
    left: 100px;
    background: url(../images/left.png) no-repeat;
}

#btn_next {
    right: 100px;
    background: url(../images/right.png) no-repeat;
}

.mid{
    padding:30px 0 0 0;
}
.mid_top{
    width: 100%;
    height: 48px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.mid_top_mid{
    width:156px;
    height: 48px;
    margin: 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
.mid_top_mid p{
    font-size: 2.6rem;
    color: rgba(0, 0, 0, 0.4);
    line-height: 3.8rem;
}
.mid_top_lang{
    width:214px;
    height: 14px;
    margin-top:19px;
}
.mid_mid{
    width: 1200px;
    height: auto;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
    
}
.mid_mid ul{
    width: 1125px;
    display: flex;
    flex-wrap: wrap;
}
.mid_mid ul li{
    width:350px;
    height: 480px;
    margin: 0 12.5px 30px 12.5px;
    box-shadow: 0px 2px 5px 1.5px #d9d9d9;
}
.card_img{
    margin: 0;
    padding: 0;
    position: relative;
}
.card_img_little{
    width: 50px;
    height: 28px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    right:10px;
    top:10px;
    z-index: 100;
    text-align: center;
}
.card_img_little p{
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 28px;
}
.card_img img{
    width: 350px;
    height: 310px;
    z-index: 99;
}
.card_text{
    margin: 10px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.card_text_right{
    width:240px;
    height: 55px;
    text-align: left;
    overflow-y:hidden;
}
.card_text_right p{
    font-size: 1.8rem;
    color: #000000;
    line-height: 28px;
}
.card_text_left{
    width: 60px;
    height: 40px;
    padding-top:4px;
    display: flex;
    justify-content: flex-end;
}
.card_text_left p{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 6px;
}
.card_text_left img{
    width: 14px;
    height: 20px;
}
.card_going{
    width:100%;
    height: 30px;
    margin: 18px 0 0 0;
    position: relative;
}
.card_going_1{
    width:310px;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
    background: #e5e5e5;
    overflow: hidden;
   
}
.card_going_2{
    width:310px;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
    background: #f45353;
    position: relative;
    right: 30px;
}
.card_going_circle{
    width:50px;
    height: 30px;
    border-radius: 15px;
    background: #f45353;
    text-align: center;
    position: absolute;
    top:-15px;
    left:280px;
    z-index: 100;
}
.card_going_circle p{
    font-size: 1.6rem;
    color: #ffffff;
    line-height: 30px;
}
.card_bottom{
    margin: -6px 20px 0 20px;
    height: 45px;

}
.card_bottom_card{
    width:33.3%;
    height: 45px;
    text-align: center;
    float: left;
}
.card_bottom_card h1{
    font-size: 2.0rem!important;
    font-weight: lighter;
    color: #000000;
}
.card_bottom_card p{
    font-size: 1.4rem;
    color: #484848;
}
.add{
    width:100%;
    height: 54px;
    display: flex;
    margin: 40px 0 70px 0;
    justify-content: center;
}
.add_child{
    width:160px;
    height: 54px;
    background: #999999;
    text-align: center;
    cursor: pointer;
}
.add_child a{
    font-size: 2.4rem;
    color: #ffffff;
    line-height: 54px;
}

/* projects */
.backgrounds{
    background: #f45353;
}
.colors{
    color: #fff !important;
}

.contain{
    height: 170px;
    padding: 40px 410px 0 410px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1367px) {
    .contain{
        height: 170px;
        padding: 40px 300px 0 300px !important;
        display: flex;
        flex-direction: column;
    }
}
.contain_text{
    text-align: left;
    padding-bottom: 16px;
    border-bottom: 1px solid #c2c2c2;
}
.contain_text h1{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: lighter;

}
.contain_list{
    margin-top: 16px;
    display: flex;
}
.contain_list p{
    margin-right: 20px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 30px;
}
.contain_list ul {
    display: flex;
}
.contain_list ul li{
    width:72px;
    height: 32px;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}
.contain_list ul li a{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 30px;
}
.actives{
    width:72px;
    height: 32px;
    text-align: center;
    display: block;
    color: #fff !important;
    background: #f45353;
}
.login{
    width:180px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.login a{
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}
.login img{
    width:52px;
    height:52px;
    border-radius: 26px;
}