body{
    background: rgba(0, 0, 0, 0.03);
}
.tps{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cir{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #f45353;
    position: relative;
    top:-1.8px;
}
.act{
    border: 7px solid #f45353;
    background: #ffffff !important;
    border-radius: 10px;
    position: relative;
    top:-9px;
}
.lan{
    width:257px;
    height: 2px;
    background: #f2f2f2;

}
.tps_text{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.tps_text p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-left:210px;
    position: relative;
    left:-95px;
}
.imgs{
    display: flex;
    justify-content: center;
    background: url('../images/upimg.jpg');
    text-align: center;
    margin: 0 auto;
}
.imgs_bg{
    width:1300px;
    height: 650px;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imgs_bg img{
    width: 100px;
    height: 100px;
    margin:0px auto 40px auto;
}
.inbox{
    display: flex;
    justify-content: center;
}
.box{
    width: 220px;
    height: 46px;
    border: 1px solid #c2c2c2;
    display: flex;
    justify-content: center;
}
.box span{
    font-size: 14px;
    color: #f45353;
    line-height: 50px;
}
.box a{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 44px;
}
.lang_box{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.lang_box p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.contain{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 100px;
}
.contain_in{
    width: 800px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    position: relative;
}
.contain_in input{
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.5);
}
.contain_in p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.conts{
    width:800px;
    height: 200px;
    border: 1px solid #e5e5e5;
    display: flex;
    margin: 30px auto 0 auto;
}
.conts_left{
    width: 150px;
    height: 200px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.conts_left span{
    font-size: 14px;
    color: #f45353;
    line-height: 44px;
}
.conts_left p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 44px;
}
.conts_right{
    width: 650px;
    height: 200px;
    position: relative;
}
.conts_right textarea{
    padding: 20px;
    width:600px;
    height: 160px;
    resize: none;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.conts_right p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.co{
    width:800px;
    height: 82px;
    border: 1px solid #e5e5e5;
    display: flex;
    margin: 30px auto 0 auto;
}
.co_left{
    width: 150px;
    height: 82px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.co_left span{
    font-size: 14px;
    color: #f45353;
    line-height: 44px;
}
.co_left p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 44px;
}
.co_right{
    width: 650px;
    height: 82px;
    position: relative;
}
.co_right input{
    width:620px;
    height: 82px;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
}
.co_right p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.du{
    width:800px;
    margin: 0px auto 0 auto;
}
.in_du{
    width:460px;
    height: 40px;
    border: 1px solid #e5e5e5;
    display: flex;
    margin-top: 30px;
}
.in_du_left{
    width: 150px;
    height: 40px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.in_du_left span{
    font-size: 14px;
    color: #f45353;
    line-height: 44px;
}
.in_du_left p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7) !important;
    line-height: 44px;
}
.in_du_right{
    width: 290px;
    height: 40px;
}
.in_du_right input{
    height: 40px;
    width:310px;
    text-align: center;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.du p{
    font-size: 14px;
    color: #f45353;
    line-height: 34px;
}
.in_du_right form{
    border: none;
    width:310px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.in_du_right select{
    border: none;
    width:310px;
    height: 40px;
    font-size: 16px;
    padding-left:134px;
    color: rgba(0, 0, 0, 0.5);
}
.in_du_right select option{
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);

}
.bb{
    background: #ffffff;
    width: 100%;
    height: 70px;
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.btn{
    width:142px;
    height: 42px;
    background: #f45353;
    margin:14px 410px;
    text-align: center;
}
.btn a{
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
}