<extend name="Public:main" />
<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/content.css">
</block>
<block name="main">
    <div class="banner">
        <img alt="项目封面大图" src="{$project.pic}">
        <h2>{$project.title}</h2>
        <div class="banner_pic">
            <img alt="用户头像" src="{$project.user_pic}">
            <a>{$project.user_name}</a>
            <p>{$project.city}</p>
        </div>
        <div class="little_card_1">
            <h1>{$shijian.d}</h1>
            <p>天</p>
        </div>
        <div style=" left:446px;" class="little_card_1">
            <h1>{$shijian.h}</h1>
            <p>时</p>
        </div>
        <div style="left:542px;" class="little_card_1">
            <h1>{$shijian.s}</h1>
            <p>分</p>
        </div>
    </div>
    <div class="content">
        <div class="content_content">
            <section>
                <!--项目内容在此-->
                {$project.des|htmlspecialchars_decode}
            </section>
        </div>
        <div class="content_conts">

            <volist name="return" id="vo">
                <div class="content_text">
                <div class="content_conts_1">
                    <h3>￥{$vo['amount']}</h3>
                    <p>已有{$vo.count|default=0}人支持</p>
                </div>
                <div class="content_conts_2">
                    <h4>{$vo.title}</h4>

                    <span>{$vo.des}</span>

                    <volist name="vo.rule" id="rvo">
                        <p>{$rvo}</p>
                    </volist>
                </div>

                <div class="content_conts_5">
                    <div class="content_conts_btn">
                        <a>我要支持</a>
                    </div>
                </div>
                <div class="wechat_box">
                    <h1>扫码关注公众号支持</h1>
                    <div class="wechat_box_box">
                        <img src="__PUBLIC__/Hy/images/code.png">
                    </div>
                </div>
            </div>
            </volist>

        </div>
    </div>

</block>



<block name="js">
    <script>


    </script>
</block>






