
<extend name="Public:main" />


<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/index.css">
</block>
<block name="main">
    <div class="main_visual">
        <div class="flicking_con">
            <a >1</a>
            <a >2</a>
            <a >3</a>

        </div>
        <div class="main_image">
            <ul>
                <volist name="ad" id="vad" key="ak">
                    <li><span><a href="{$vad.url}"><img id="b_{$ak + 1}" src="{$vad.pic}"></a></span></li>
                </volist>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>

        </div>
    </div>
    <div class="mid">
        <div class="mid_top">
            <div class="mid_top_lang">
                <img src="__PUBLIC__/Hy/images/lang_1.png">
            </div>
            <div class="mid_top_mid">
                <p>热门项目</p>
            </div>
            <div class="mid_top_lang">
                <img src="__PUBLIC__/Hy/images/lang_2.png">
            </div>
        </div>

        <div class="mid_mid">
            <ul>
                <volist name="hot_info" id="h_vo">
                    <li>
                    <div class="card_img">
                        <div class="card_img_little">
                            <p>{$h_vo.typename}</p>
                        </div>
                        <a href="{:U('Index/details',array('id'=>$h_vo['id']))}"><img src="{$h_vo.pic}"></a>
                    </div>
                    <div class="card_text">
                        <div class="card_text_right">
                            <a href="{:U('Index/details',array('id'=>$h_vo['id']))}"><p>{$h_vo.title}</p></a>
                        </div>
                        <div class="card_text_left">
                            <img src="__PUBLIC__/Hy/images/addr.png">
                            <p>{$h_vo.city}</p>
                        </div>
                    </div>
                    <div class="card_going">
                        <div class="card_going_1">
                            <div style="right: <?php echo 100-$h_vo['num']>0?100-$h_vo['num']:0; ?>%;" class="card_going_2">

                            </div>
                        </div>
                        <div style="left: {$h_vo.num_1}%;" class="card_going_circle">
                            <p>{$h_vo.num}%</p>
                        </div>
                    </div>
                    <div class="card_bottom">
                        <div class="card_bottom_card">
                            <h1><!-- <p class="inli">￥</p> -->{$h_vo.target_amount}</h1>
                            <p>目标金额</p>
                        </div>
                        <div  class="card_bottom_card">
                            <h1>{$h_vo.reach_amount}</h1>
                            <p>已筹金额</p>
                        </div>
                        <div class="card_bottom_card">
                            <h1>{$h_vo.people_num}</h1>
                            <p>支持人数</p>
                        </div>
                    </div>
                </li>
                </volist>
            </ul>
        </div>
        <div class="mid_top">
            <div class="mid_top_lang">
                <img src="__PUBLIC__/Hy/images/lang_1.png">
            </div>
            <div class="mid_top_mid">
                <p>精品推荐</p>
            </div>
            <div class="mid_top_lang">
                <img src="__PUBLIC__/Hy/images/lang_2.png">
            </div>
        </div>
        <div class="mid_mid">
            <ul class="infos">
                <volist name="info" id="vo">
                    <li>
                    <div class="card_img">
                        <div class="card_img_little">
                            <p>{$vo.typename}</p>
                        </div>
                        <a href="{:U('Index/details',array('id'=>$vo['id']))}"><img src="{$vo.pic}"></a>
                    </div>
                    <div class="card_text">
                        <div class="card_text_right">
                            <a href="{:U('Index/details',array('id'=>$vo['id']))}"><p>{$vo.title}</p></a>
                        </div>
                        <div class="card_text_left">
                            <img src="__PUBLIC__/Hy/images/addr.png">
                            <p>{$vo.city}</p>
                        </div>
                    </div>
                    <div class="card_going">
                        <div class="card_going_1">
                            <div style="right: <?php echo 100-$vo['num']>0?100-$vo['num']:0; ?>%;" class="card_going_2">

                            </div>
                        </div>
                        <div style="left: {$vo.num_1}%;" class="card_going_circle">
                            <p>{$vo.num}%</p>
                        </div>
                    </div>
                    <div class="card_bottom">
                        <div class="card_bottom_card">
                            <h1><!-- <p class="inli">￥</p> -->{$vo.target_amount}</h1>
                            <p>目标金额</p>
                        </div>
                        <div  class="card_bottom_card">
                            <h1>{$vo.reach_amount}</h1>
                            <p>已筹金额</p>
                        </div>
                        <div class="card_bottom_card">
                            <h1>{$vo.people_num}</h1>
                            <p>支持人数</p>
                        </div>
                    </div>
                </li>
                </volist>
            </ul>
        </div>

    </div>

    <div class="add">
        <div class="add_child">
            <a class=more>查看更多</a>
        </div>
    </div>

</block>

<block name="js">
    <script>
        var time= 1;
        $('.more').click(function(){
            $.get("{:U('Index/loadProject')}",{ time :time,} , function(data) {
                if(data.status==0){
                    // $(".loadingA").add(".loadingB").add(".loadingC").hide();
                    $('.add').html('以显示全部');
                }else{
                    $(".infos").last().append(data.info);

                    time++;
                }
            });

        });
//        var wids=$(window).width();
//        var hits=wids*0.44;
//        var pices_1=$('.main_image>ul>li img:eq(0)');
//        var pices_2=$('.main_image>ul>li img:eq(1)');
//        var pices_3=$('.main_image>ul>li img:eq(2)');
//        (function () {
//            pices_1.css('height',hits);
//            pices_2.css('height',hits);
//            pices_3.css('height',hits);
//        })()

    </script>
</block>
