<volist name="info" id="vos">
    <li>
        <div class="card_img">
            <div class="card_img_little">
                <p>{$vos.typename}</p>
            </div>
            <a href="{:U('Index/details',array('id'=>$vos['id']))}"> <img src="{$vos.pic}"></a>
        </div>
        <div class="card_text">
            <div class="card_text_right">
                <a href="{:U('Index/details',array('id'=>$vos['id']))}"><p>{$vos.title}</p></a>
            </div>
            <div class="card_text_left">
                <img src="__PUBLIC__/Hy/images/addr.png">
                <p>{$vos.city}</p>
            </div>
        </div>
        <div class="card_going">
            <div class="card_going_1">
                <div style="right: <?php  echo 100-$vos['num']>0?100-$vos['num']:0; ?>%;" class="card_going_2">

                </div>
            </div>
            <div style="left: {$vos.num_1}%;" class="card_going_circle">
                <p>{$vos.num}%</p>
            </div>
        </div>
        <div class="card_bottom">
            <div class="card_bottom_card">
                <h1><!-- <p class="inli">￥</p> -->{$vos.target_amount}</h1>
                <p>目标金额</p>
            </div>
            <div  class="card_bottom_card">
                <h1>{$vos.reach_amount}</h1>
                <p>已筹金额</p>
            </div>
            <div class="card_bottom_card">
                <h1>{$vos.people_num}</h1>
                <p>支持人数</p>
            </div>
        </div>
    </li>
</volist>