<extend name="Public:main"/>


<block name="content">
<div class="top">
    <div id="c4" class="helftop">
        <div class="midtopbox">
        </div>
        <div id="c1" style="border:none" class="helftopbox">
            <h1><a id="ac" style="color:#e5e5e5">梦想清单</a></h1>
        </div>
    </div>
    <div id="c2"  class="helftop">
        <div class="helftopbox">
            <h1><a>激励众筹</a></h1>
        </div>
    </div>
</div>


<div class="main_visual">
    <div class="flicking_con">
        <a >1</a>
        <a >2</a>
        <a >3</a>

    </div>
    <div class="main_image">
        <ul>
            <li><span><img id="b_1" src="__PUBLIC__/Home/images/new/farms.jpg"></span></li>
            <li><span><img id="b_2" src="__PUBLIC__/Home/images/new/lifes.jpg"></span></li>
            <li><span><img id="b_3" src="__PUBLIC__/Home/images/new/creates.jpg"></span></li>
        </ul>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>

    </div>
</div>
<div class="mid">
    <div class="mid_box">
        <div class="mid_box_bg">
            <a><img id="img1" src="__PUBLIC__/Home/images/new/farm.png"></a>
            <a>农业</a>
        </div>
    </div>
    <div class="mid_box">
        <div class="mid_box_bg">
            <a><img id="img2" src="__PUBLIC__/Home/images/new/create.png"></a>
            <a>创意</a>
        </div>
    </div>
    <div class="mid_box">
        <div class="mid_box_bg">
            <a><img id="img3" src="__PUBLIC__/Home/images/new/live.png"></a>
            <a>生活</a>
        </div>
    </div>

</div>

<div onClick="window.location.href='works.html'" class="midcard">
    <div class="midcard_top">
        <div class="midcard_top_pic">
            <img src="__PUBLIC__/Home/images/new/pic.png">

        </div>
        <div class="midcard_top_name">
            <a >我是猜猜猜</a>
        </div>
        <div class="midcard_address">
            <p>北京</p>

        </div>
        <div class="midcard_address_icon">
            <img src="__PUBLIC__/Home/images/new/local.png">
        </div>
    </div>
    <div class="midcard_content">
        <h2>实际金额达到了三十亿美元，成为世界第一的中国互联网公司</h2>
    </div>
    <div class="midcard_img">
        <div align="center" class="midcard_img_content">
            <img src="__PUBLIC__/Home/images/little_banner.jpg">
        </div>
    </div>
    <div class="midcard_contain">
        <span>中国底单地方发的时候你多少烦恼第三方佛挡杀佛还是低价发货速度恢复速度还不发送到电风扇</span>
    </div>
    <div class="midcard_tip">
        <div class="midcard_tip_1">
        </div>
    </div>
    <div class="midcard_bottom">
        <div class="midcard_bottom_text">
            <p>目标金额（¥）30000</p>
            <p>已筹款（¥）3000</p>
            <p style="float:right;line-height:24px;">支持人数：22</p>
        </div>
    </div>
</div>
<div onClick="window.location.href='works.html'" class="midcard">
    <div class="midcard_top">
        <div class="midcard_top_pic">
            <img src="__PUBLIC__/Home/images/new/pic.png">

        </div>
        <div class="midcard_top_name">
            <a >我是猜猜猜</a>
        </div>
        <div class="midcard_address">
            <p>北京</p>

        </div>
        <div class="midcard_address_icon">
            <img src="__PUBLIC__/Home/images/new/local.png">
        </div>

    </div>
    <div class="midcard_content">
        <h2>实际金额达到了三十亿美元，成为世界第一的中国互联网公司</h2>
    </div>
    <div class="midcard_img">
        <div align="center" class="midcard_img_content">
            <img src="__PUBLIC__/Home/images/little_banner.jpg">
        </div>
    </div>
    <div class="midcard_contain">
        <span>中国底单地方发的时候你多少烦恼第三方佛挡杀佛还是低价发货速度恢复速度还不发送到电风扇</span>
    </div>
    <div class="midcard_tip">
        <div class="midcard_tip_1">
        </div>
    </div>
    <div class="midcard_bottom">
        <div class="midcard_bottom_text">
            <p>目标金额（¥）30000</p>
            <p>已筹款（¥）3000</p>
            <p style="float:right;line-height:24px">支持人数：22</p>
        </div>
    </div>
</div>
<div onClick="window.location.href='works.html'" class="midcard">
    <div class="midcard_top">
        <div class="midcard_top_pic">
            <img src="__PUBLIC__/Home/images/new/pic.png">

        </div>
        <div class="midcard_top_name">
            <a >我是猜猜猜</a>
        </div>

        <div class="midcard_address">
            <p>北京</p>

        </div>
        <div class="midcard_address_icon">
            <img src="__PUBLIC__/Home/images/new/local.png">
        </div>

    </div>
    <div class="midcard_content">
        <h2>实际金额达到了三十亿美元，成为世界第一的中国互联网公司</h2>
    </div>
    <div class="midcard_img">
        <div align="center" class="midcard_img_content">
            <img src="__PUBLIC__/Home/images/little_banner.jpg">
        </div>
    </div>
    <div class="midcard_contain">
        <span>中国底单地方发的时候你多少烦恼第三方佛挡杀佛还是低价发货速度恢复速度还不发送到电风扇</span>
    </div>
    <div class="midcard_tip">
        <div class="midcard_tip_1">
        </div>
    </div>
    <div class="midcard_bottom">
        <div class="midcard_bottom_text">
            <p>目标金额（¥）30000</p>
            <p>已筹款（¥）3000</p>
            <p style="float:right;line-height:24px">支持人数：22</p>
        </div>
    </div>
</div>
</block>

