<include file="Public/header"/>

<style>
    .ppp{
        display: flex;
        justify-content: center;
    }
    .cen{
        width: 1050px;
        height: auto;
        margin-top: 80px;
    }
    .cen p{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 30px;
    }
</style>


    <div class="ppp">
        <div class="cen">
            <p>红叶平台用户服务协议<br/>
                一、总则<br/>
                红叶平台与用户共同确认：<br/>
                1.1用户在使用红叶平台服务前，已仔细阅读《红叶平台用户服务协议》（以下简称“本协议”）的全部内容，对于本协议中的加重字体条款已重点阅读、理解。<br/>
                1.2用户同意本协议的全部条款并按照页面上的提示完成全部的注册登录程序。用户完成注册登录程序后，即表示用户与红叶平台达成以下协议，完全接受本协议项下的全部条款，本协议即在用户与红叶平台之间产生法律效力，对双方均具有法律约束力。<br/>
                1.3用户注册登录成功后，将获得自行注册登录的用户账号和自行设定的密码在红叶平台的使用权限，该用户帐号和密码由用户负责保管；用户对以其用户帐号进行的所有活动和事件负法律责任。 <br/>
                1.4红叶平台用户协议、各单项服务条款、全部活动规则及公告、声明等，均为本协议不可分割的组成部分（以下统称协议）。红叶平台有权对协议进行不定期修订、更新。修改后的协议一经公布即有效替代原有协议，新协议公布时会以适当方式通知用户，用户可随时查询最新协议。用户在使用红叶平台提供的各项服务之前，应仔细阅读本协议及本协议不可分割的各项内容。用户在使用相关服务时,应关注并遵守其所适用的相关条款。用户如不同意本服务协议及/或对其的修改，可以主动取消或停止使用红叶平台提供的服务；用户一旦使用红叶平台服务，即视为用户已了解并完全同意本协议及其他服务条款中的各项内容，包括红叶平台对本协议及其他服务条款所做的任何修改协议及/或协议的修改将在用户与红叶帮帮忙平台之间产生法律效力。<br/>
                二、相关定义<br/>
                2.1红叶帮帮忙平台：指厦门红叶帮帮忙科技有限公司运营和所有的综合性信息网络服务平台（包括域名为：www.hybbms.com的网页端及手机APP）。厦门红叶帮帮忙科技有限公司通过红叶帮帮忙平台向用户提供相关互联网端及移动端交易信息服务。 <br/>
                2.2 用户：指通过红叶帮帮忙平台实名认证，接受红叶帮帮忙服务的个人或单位，包括发起人和支持者。<br/>
                2.3发起人（项目方）：指通过红叶帮帮忙平台实名认证的通过红叶帮帮忙平台发起项目、发布项目信息的个人或单位。发起人应履行还有你那么平台中的相关义务。 <br/>
                2.4众筹项目：由发起人通过红叶帮帮忙平台展示的待支持项目。 <br/>
                2.5意向金：用户因对服务项目有支持（投资）意向，并将一定的款项交由红叶帮帮忙平台保管的支持（投资）金。<br/>
                2.6支持者（投资者）：指经红叶帮帮忙平台实名认证满足红叶帮帮忙平台认定的合格投资人资格并付费[已支付订金]支持某一特定项目的个人或单位。 <br/><br/>
                2.7红叶帮帮忙平台规则：指在红叶帮帮忙平台上发布的规范性文件，包括但不限于本协议等已经生效或者即将生效的规则。<br/>
                三、用户注册登录及资格说明<br/>
                3.1用户应为具有完全民事权利能力和民事行为能力的自然人、法人，或是能够独立承担民事责任的其他组织。用户若不具有前述规定的法律能力，须经权利人同意、授权后进行注册登录交易。 <br/>
                3.2用户登录红叶帮帮忙，则视为用户同意本协议的所有条款，有权浏览红叶帮帮忙平台相关信息、发表评价等全部服务内容，同意承担由此带来的全部法律责任。 <br/>
                3.3用户注册登录、使用红叶帮帮忙平台不得出于非法或破坏交易秩序的目的，用户保证向红叶帮帮忙平台提交的全部信息均为本人真实、准确、有效和完整的信息，不存在盗用、借用、买入非本人手机号码、电子邮箱等进行注册登录、虚假交易和作弊交易的行为，用户若存在上述违规行为，红叶帮帮忙平台有权取消其注册登录资格或其因参加活动所获众筹项目或权益，并停止服务、封停帐号且以后也不再向其提供服务。如该违规行为给红叶帮帮忙平台造成损失的，红叶帮帮忙平台保留追究赔偿及诉至法律解决的权利。 <br/>
                3.4用户注册登录成功后，应妥善保管其红叶帮帮忙平台账户及密码，定期或不定期修改密码，在每次使用红叶帮帮忙平台服务完毕后及时退出账户，以确保账户安全。用户应对其红叶帮帮忙平台注册登录账号和密码下进行的行为和发生的事件负责。用户不得将红叶帮帮忙平台账户出借、转让或用作其他非法用途，否则因账户未妥善保管而造成损失的，用户应承担相应法律责任，除非有证据证明该行为与用户无关。若用户因账户被盗或因其他非用户原因造成损失的，用户应立即通知红叶帮帮忙平台并向公安机关报案。 <br/>
                3.5您授权红叶帮帮忙将您的账号和留存的信息传递至第三方，以便于第三方为您提供服务。红叶帮帮忙将确保依法使用您的信息，并对您的信息进行保密。<br/>
                四、用户权利义务 <br/>
                4.1用户可通过红叶帮帮忙平台使用信息服务、第三方服务商提供的服务。 <br/>
                4.2用户同意红叶帮帮忙平台向项目方、第三方服务商等相关单位披露用户提交订单中所涉及的个人信息。 <br/>
                4.3用户若对服务内容有任何问题，应当根据不同众筹项目类别分别咨询红叶帮帮忙平台、第三方服务商客服，具体详见服务项目页面。 <br/>
                4.4在服务过程中，若红叶帮帮忙平台因具体众筹项目服务需与用户进行交涉的，红叶帮帮忙平台可选择通过微信群、APP群、电话、短信、邮件等方式联系用户，若红叶帮帮忙平台选择以邮件方式向用户预留的邮箱发送邮件的，用户应及时查看邮箱，并在3个工作日内予以反馈，若用户在3个工作日内未予以反馈的，视为用户已阅读邮件并同意红叶帮帮忙就具体众筹项目服务作出的相关决定。 <br/>
                4.5用户欲使用第三方服务商提供的服务，需根据具体服务内容支付相应的意向金至红叶帮帮忙平台，由红叶帮帮忙平台代为保管。若用户满足本协议第八条约定的，可向红叶帮帮忙平台申请退款。<br/>
                五、用户行为规范<br/>
                5.1用户保证在账户注册登录及下单支付时向红叶帮帮忙平台提交的信息真实、有效、详尽、准确，能满足红叶帮帮忙向用户提供服务的需要。若用户信息发生变更的，用户应及时修改相应信息，以保证服务的准确性。若用户提交的信息中有虚假、不准确等内容，导致红叶帮帮忙平台无法提供服务的，红叶帮帮忙平台有权暂停向该用户提供服务，直至用户提交正确的信息。若因用户提交信息虚假、错误造成损失的，红叶帮帮忙不承担责任。 <br/>
                5.2用户在使用红叶帮帮忙平台提供的前述服务时，应遵守本协议及红叶帮帮忙平台的相关使用规则，遵守自愿、平等、公平及诚实信用原则，不利用红叶帮帮忙平台侵犯他人合法权益及谋取不正当利益，不扰乱网上交易的正常秩序。 <br/>
                5.3用户可以在红叶帮帮忙平台发布对商品或服务的购买体验、评价等信息，并可对其进行适当的修改、删除，但不得在红叶帮帮忙平台发布包含以下内容的言论： <br/>
                5.3.1反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的； <br/>
                5.3.2煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的； <br/>
                5.3.3损害国家荣誉和利益的； <br/>
                5.3.4煽动民族仇恨、民族歧视，破坏民族团结的； <br/>
                5.3.5任何包含对种族、性别、宗教、地域内容等歧视的； <br/>
                5.3.6 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br/>
                5.3.7宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的； <br/>
                5.3.8公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的； <br/>
                5.3.9损害国家机关信誉的； <br/>
                5.3.10其他违反宪法和法律行政法规的。 <br/>
                5.4用户在红叶帮帮忙平台发布的信息，均代表用户的观点，与红叶帮帮忙平台无关，用户须对其言论独立承担完全的法律责任。 <br/>
                5.5用户在使用红叶帮帮忙平台提供的服务时，不得有下列行为： <br/>
                5.5.1利用红叶帮帮忙平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动； <br/>
                5.5.2将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送； <br/>
                5.5.3干扰红叶帮帮忙平台正常运行，非法入侵红叶帮帮忙服务器、篡改红叶帮帮忙平台代码或其他损害红叶帮帮忙平台系统的行为； <br/>
                5.5.4企图规避红叶帮帮忙平台的安全设置或网络系统，包括获取用户不应获取的数据，登录未经明确授权的服务器或帐户，或采用运行端口扫描等方式窥探其他网络的安全措施； <br/>
                5.5.5以导致红叶帮帮忙平台的计算机系统或设施承受不合理负载的方式获取红叶帮帮忙平台提供的服务或网站信息，或进行可能导致此类情况出现的行为；<br/>
                5.5.6实施任何形式的网络监控，从而截取与自身无关的信息； <br/>
                5.5.7利用红叶帮帮忙平台从事与红叶帮帮忙提供的业务无关的活动，试图扰乱正常平台秩序，谋取不正当利益的行为； <br/>
                5.5.8通过不正当手段（包括但不限于通过自我邀请、相互邀请、使用虚假手机号、非本人手机号、模拟客户端等）批量注册登录账户、批量购买众筹项目，从而有碍其他用户公平参与红叶帮帮忙平台活动 ，或获取返利、优惠券等其他经济利益的行为 ；<br/>
                5.5.9购买、盗用或通过其他方式获得他人注册登录账号参与活动或交易的行为。 <br/>
                5.5.10其他损害他人或红叶帮帮忙平台合法权益的行为。 <br/>
                5.6一经发现用户提供虚假信息或有上述禁止的言论或行为的，红叶帮帮忙平台有权采取暂停提供服务、删除违法违规信息、限制用户购买、取消优惠或获得的权益资格、禁止用户发言、冻结用户帐户、冻结相应券码、永久封禁账户等处理措施。若因用户的上述言论或行为给他人或红叶帮帮忙造成损失的，用户还应承担赔偿责任及其他相关法律责任，包括但不限于行政责任、刑事责任等。 <br/>
                5.7若国家相关机关向红叶帮帮忙平台发出命令、指示、裁决等法律文书或第三人向红叶帮帮忙投诉并提供相关证据材料，要求冻结、关闭用户帐号及交易的，红叶帮帮忙平台有权对相关帐号及交易进行冻结或取消，同时对违反本协议及红叶帮帮忙相关服务规则的用户，红叶帮帮忙有权封停其帐号。红叶帮帮忙采取上述措施的，将通过用户注册登录时提交的联系信息通知用户。 <br/>
                5.8 用户应遵守本协议及红叶帮帮忙平台公示的各项服务规则的内容，若因用户违反本协议及服务规则造成损失的，用户应予以赔偿。<br/>
                5.9用户发现红叶帮帮忙平台项目方页面内容错误或有其他虚假信息时，可以通过页面的纠错通道进行反馈，也可通过红叶帮帮忙客服进行反馈，红叶帮帮忙平台鼓励用户对不实信息进行举报。对用户反馈的不实信息，红叶帮帮忙平台将尽快予以核实。 <br/>
                5.10用户使用红叶帮帮忙平台提供的服务，发现客户端或网站内容有瑕疵或其他影响用户体验的问题时，可通过红叶帮帮忙平台客户端或网站预留的通道向红叶帮帮忙平台反馈相关问题或提出相关建议。红叶帮帮忙平台收到用户的反馈后会尽快予以核实和解决。<br/>
                六、红叶帮帮忙平台服务<br/>
                6.1用户可根据本协议及红叶帮帮忙平台公布的相关使用规则，查阅在红叶帮帮忙平台由项目方发布的项目信息，通过红叶帮帮忙平台订购具体项目，发布项目评价信息，邀请关注好友，参加红叶帮帮忙平台不定期组织的有关活动，及红叶帮帮忙平台现有及将来可能提供的其他服务。<br/>
                6.2红叶帮帮忙平台为用户和项目方达成交易提供第三方交易平台服务，红叶帮帮忙平台并非项目方和用户之间购买项目或服务交易的相对方。是否与项目方达成交易完全取决于用户的选择，红叶帮帮忙平台仅为用户和项目方达成交易提供居间服务，并不对项目方的项目或服务进行任何形式的担保。用户所购项目或服务的实际提供方为红叶帮帮忙平台交易页面公示的经营者，用户购买服务项目后若出现消费纠纷，应第一时间联系项目方解决，若需红叶帮帮忙平台提供帮助的，可以联系红叶帮帮忙平台予以协助，同时，用户应知悉，除法律规定应由红叶帮帮忙平台承担的责任外，红叶帮帮忙平台不对项目方本身的经营行为承担法律责任。 <br/>
                6.3红叶帮帮忙平台会接入第三方服务商的相关服务，第三方服务商提供的服务项目或服务会在红叶帮帮忙平台上显示此服务由“某某”服务商提供，用户在参与此类第三方服务商提供的服务项目或服务时，应仔细阅读相关服务约定，遵守相关服务规则。第三方服务商提供的服务或服务项目，由该第三方负责项目方资源的数量和质量，并向用户提供售前、售后等保障服务，用户因购买第三方服务商提供的服务产生消费纠纷的，用户可优先联系该服务商解决，若该第三方服务商无法解决的，用户可要求红叶帮帮忙平台予以协助处理，但用户应知晓，红叶帮帮忙平台并非服务的提供方，除法律规定的事由外，并不承担由此产生的法律责任。<br/>
                七、红叶帮帮忙平台权利义务<br/>
                7.1红叶帮帮忙平台声明并承诺提供信息服务的主体是依据中国法律设立并有效存续的有限责任公司，具有一切必要的权利及能力订立及履行本协议项下的所有义务和责任，为用户提供优质的在线信息服务。 <br/>
                7.2红叶帮帮忙平台及关联公司将对用户进行实名认证和众筹/支持资格的形式审核，并对用户信息的真实性进行必要的形式审查。<br/>
                7.3红叶帮帮忙平台及关联公司仅对项目的合法性进行必要审核，不对发起人及用户通过平台发布的信息的真实性、准确性、完整性负责，同时不对投资人的支持众筹收益和交易的达成等事项作任何性质的担保或保证；红叶帮帮忙平台不对用户的支持众筹损失承担任何责任。<br/>
                7.4红叶帮帮忙平台及关联公司会采取必要措施防范用户的欺诈行为。若用户存在欺诈或其他损害用户利益的行为，红叶帮帮忙平台将及时对该行为进行公告，并根据情况终止相关活动或取消相关责任人的用户资格。 <br/>
                7.5红叶帮帮忙平台及关联公司持续开展众筹知识普及和风险教育活动，并出具《投资风险提示书》，确保用户充分知悉众筹风险。<br/>
                八、资金使用说明<br/>
                8.1用户若对项目有支持（投资）意向的，需支付相应意向金，此意向金作为预约支持（投资）名额的订金，交由红叶帮帮忙平台保管。 <br/>
                8.2用户意向金支付后，若规定时间内项目众筹成功，视为成为预约投资者，同意接受众筹项目中所涉的相关信息，用户对上述信息应尽保密义务，不得随意传播、使用。 <br/>
                8.3红叶帮帮忙平台为保障项目结算资金的划转安全，对投资人通过红叶帮帮忙平台、第三方服务商及其支付通道将投资款项划入指定的存管账户。意向金及存管资金等由红叶帮帮忙平台或第三方管理的资金均不计付存款利息，在此期间所产生的其他相关费用红叶帮帮忙平台不承担责任。 <br/>
                8.5用户与项目方另行达成协议的，红叶帮帮忙平台有权根据本协议或项目方协议约定安排资金使用。<br/>
                8.6用户支付意向金后，若在规定时间内项目众筹失败，则由发起人发起申请退还项目已筹金额，由红叶帮帮忙平台退回意向金至用户支付账户。<br/>
                九、服务的中断和终止<br/>
                9.1红叶帮帮忙平台会尽全力维护本平台的正常运行，以向用户提供持续、稳定、安全、顺畅的服务。但用户理解并同意：红叶帮帮忙平台对服务页面进行改版、升级网站系统、增加服务功能等须中断服务的操作时，有权暂时中断服务。红叶帮帮忙平台将尽可能在实施以上行为时予以提前公告，并尽可能将影响降低到最小。 <br/>
                9.2用户可自行停止使用红叶帮帮忙平台提供的服务，并可向红叶帮帮忙平台提交申请，要求冻结其账户。用户账户被冻结后，用户使用红叶帮帮忙平台的相关服务将会受到影响，但红叶帮帮忙平台仍有权保留用户的所有注册登录信息及过往交易记录，对用户在红叶帮帮忙平台从事违法行为或违反本协议及相关规定的行为，红叶帮帮忙平台仍有权行使本协议规定的权利并追究用户的法律责任。 <br/>
                9.3您理解并同意，基于用户体验、红叶帮帮忙平台或相关服务平台运营安全、平台规则要求及健康发展等综合因素，红叶帮帮忙有权选择服务提供服务的对象，有权决定功能设置，有权决定功能开发、数据接口和数据披露对象和范围。在下列情况发生时，自行停止向用户提供服务，并冻结其账户，若因用户行为给红叶帮帮忙平台造成损失的，用户还应承担赔偿责任： <br/>
                9.3.1用户违反本协议相关规定的，不论用户是否直接、间接或者通过他人再次注册登录成为红叶帮帮忙平台用户，红叶帮帮忙平台均有权停止向其提供服务； <br/>
                9.3.2每个用户仅可在红叶帮帮忙平台注册登录一个账户，若用户注册登录多个账户或使用关联账户购买本站有购买限制的项目或谋取不正当利益的，红叶帮帮忙平台有权取消交易并停止向该用户提供服务，用户因此获取的利益须退还； <br/>
                9.3.3若红叶帮帮忙平台通过技术检测、人工抽检等手段有合理理由认为用户资料信息为错误、不实、失效或不完整，本网站有权冻结或封禁用户账号及其账号内的所有券码和金额，并拒绝用户现在或将来使用本站网站网络服务的全部或部分，用户因此获取的利益须退还。 用户使用虚假信息注册登录的，包括但不限于使用虚假姓名、虚假地址、虚假手机号、虚假电子邮箱等，红叶帮帮忙平台均有权立即停止向其提供服务；<br/>
                9.3.4本协议终止或更新时，用户明示不同意接受新协议的； <br/>
                9.3.5其他违反红叶帮帮忙平台相关规定或致使红叶帮帮忙平台或他人遭受利益损害的行为。<br/>
                十、违约责任<br/>
                10.1若用户违反本协议任何一条约定，红叶帮帮忙平台皆有权向用户要求承担违约责任。 <br/>
                10.2若用户在红叶帮帮忙平台发布的言论、服务内容侵犯任何第三人的权利、知识产权或被政府相关部分处罚、承担相关法律责任的，红叶帮帮忙平台均有权向用户追偿。 <br/>
                10.3基于本协议项下用户行为致使违约责任触发的，红叶帮帮忙平台为实现上述债权产生的所有费用包括但不限于律师费、诉讼费、保全费等均由用户承担。<br/>
                十一、责任限制<br/>
                11.1因网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令等不可抗力或其他红叶帮帮忙平台无法控制的原因致使红叶帮帮忙平台发生不能履行、延迟履行，服务系统崩溃，无法正常使用导致网上交易无法完成，丢失有关的信息、记录等情形的，红叶帮帮忙均不承担责任。但红叶帮帮忙平台会在最大限度内尽可能合理地协助处理善后事宜，并努力使客户免受经济损失及其他损失。 <br/>
                11.2 基于互联网的特殊性，红叶帮帮忙平台显示的信息可能有一定的滞后性、差异性，对此情形用户应知悉并理解；用户须自行辨别真伪，谨慎预防风险。<br/>
                十二、知识产权<br/>
                12.1用户同意：其在红叶帮帮忙平台发表的项目使用体验、项目讨论或图片、视频等所有信息（以下简称“信息”），除署名权、发表权、修改权外的其他知识产权权利（包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），均独家排他无偿许可给红叶帮帮忙平台使用，并同意红叶帮帮忙平台以自己名义就所述权利的保护采取任何形式的法律行为，并获得全部赔偿。本协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在红叶帮帮忙平台发布的任何受著作权法保护的作品内容，无论该内容形成的时间早于或迟于本协议签订之日。 <br/>
                12.2红叶帮帮忙平台及其许可的关联方有权将用户在红叶帮帮忙平台发表的项目使用体验、项目讨论或图片进行使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物等。 <br/>
                12.3用户不得发布任何侵犯他人著作权、商标权等知识产权或其他合法权利的内容。如果有其他用户或权利人发现用户发布的信息涉嫌知识产权、或其他合法权益争议的，上述用户或权利人要求红叶帮帮忙平台删除用户发布的信息，或者采取其他必要措施予以制止的，红叶帮帮忙平台将会依法采取必要措施予以处理。<br/>
                十三、法律管辖和适用<br/>
                13.1本协议的订立、执行和解释及争议的解决均应适用中华人民共和国大陆地区法律。 <br/>
                13.2如发生本协议条款与上述法律相抵触时，则这些条款将完全按上述法律规定重新解释，但不影响其它合法条款对用户产生的法律效力和影响。 <br/>
                13.3本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，则该规定可被删除，不影响其余条款的继续执行。 <br/>
                13.4如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向厦门市思明区人民法院提起诉讼。<br/>

            </p>

        </div>
        </div>
    </body>
</html>