<include file="Public/header"/>

<style>
    .ppp{
        display: flex;
        justify-content: center;
    }
    .cen{
        width: 800px;
        height: auto;
        margin-top: 80px;
    }
    .cen p{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 30px;
    }
</style>
    <div class="ppp">
        <div class="cen">
            <p>
                    上传的文件必须以公司名称命名。如：厦门ABC信息技术有限公司.xls。
                    
                    下载的模板的格式不要做任何修改。包括各列的顺序、内容、格式等。
                    
                    工作表2和工作表3即Sheet2 ,Sheet3 不要做任何修改。包括删除工作表Sheet2,sheet3 、修改内容、格式等。
                    
                    首先上传的Excel文档直接使用《批量就业登记模板5.0》，企业可以直接将该表下载，把文件名改为公司名称，然后在里面直接填写数据。为了减少上传过程中出错几率，请不要对表格格式进行修改，包括单元格边框、格式等。
                    
                    填写数据过程中：
                    每条用工报备数据，都有二十项内容填写。《批量就业登记模板5.5》中，有一条模拟就业登记记录，为样本可以参考。
                    
                    以下为详细填写格式说明：
                    第一项是填写用工报备编号。必须递增的整数，比如第一条报备数据的编号是“1”，第二条是“2”，第三条是“3”，依此类推。本项是必填项。
                    
                    第二项是身份证号，请注意输入的身份证号要正确有效，否则在导入时会出错，影响导入。注：身份证号可以是15位或18位。本项是必填项。
                    
                    第三项是姓名。只要正确填入被报备人的真实姓名就可以了。本项是必填项。
                    
                    第四项是户口性质。填入项必须是“农村”或者“城镇”两项中的一项。点击单元格右边的下拉箭头，选择相应的值。本项是必填项。
                    
                    第五项是户口所在地(省)。点击单元格右边的下拉箭头，选择相应的省份或直辖市。本项是必填项。
                    
                    第六项是户口所在地(市)。点击单元格右边的下拉箭头，选择相应的市区。本项是必填项。
                    
                    第七项是户口所在地(区/县)。点击单元格右边的下拉箭头，选择相应的区或县。本项是必填项。
                    由于户口所在地编码每年都随国家统计局标准修改，可能会造成有些人身份证上写的户口所在地在此没有完全匹配的项与之相对应，请尽量选择相邻近地区。以上三项请一定从下拉框中选择对应的值,不要用复制粘贴造作,以免出错.
                    
                    
                    第八项是户口详细地址。只要正确填入被报备人的户口所在地后面更具体地址就可以。本项是必填项。
                    
                    第九项是工种大类。点击单元格右边的下拉箭头，选择相应的值。本项不能为空。
                    
                    第十项是工种中类。点击单元格右边的下拉箭头，选择相应的值。本项不能为空。
                    
                    第十一项是工种小类。点击单元格右边的下拉箭头，选择相应的值。本项不能为空。
                    
                    第十二项是文化程度。点击单元格右边的下拉箭头，选择相应的值。本项是必填项。
                    
                    第十三项是合同期限形式。点击单元格右边的下拉箭头，选择相应的值。本项不能为空。
                    
                    第十四项是合同起始日期。合同起始日期的格式为“20060101”，表示合同是从2006年1月1日开始的。该项只能在输入法半角模式下、填入的必须是一串长度为8的数字串。本项是必填项。
                    
                    第十五项是合同截至日期。合同截至日期的格式为“20061231”，表示合同截至于2006年12月31日。该项只能在输入法半角模式下、填入的必须是一串长度为8的数字串。本项不是必填，但是如果合同形式是有固定期限，那本项必填。
                    
                    第十六项是毕业时间。填入被报备人的最高学历毕业时间。本项不是必填项，但是初中以上学历本项必填。
                    时间的格式为“20060705”,表示毕业于2006年7月5日。该项只能在输入法半角模式下、填入的必须是一串长度为8的数字串。
                    
                    第十七项是专业技术职务。点击单元格右边的下拉箭头，选择相应的值。
                    
                    第十八项是职业资格等级。点击单元格右边的下拉箭头，选择相应的值。
                    
                    第十九项是人员招聘来源。点击单元格右边的下拉箭头，选择相应的值。本项是必填项。
                    
                    
                    
                    </p>

        </div>
        </div>
    </body>
</html>