<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" />


    <title>红叶帮帮忙</title>
</head>

<body>

<div class="all" id="plate_1">

<block name="content"></block>



<div class="main_botoom">
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">

            <a href="index.html"><img width="30px" height="30px" src="pics/new/home_2.png"></a>

            <a style="color:#D33D3E" href="index.html">主页</a>
        </div>
    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">

            <a href="others/find.html"><img src="pics/new/find_1.png"></a>

            <a href="others/find.html">发现</a>
        </div>

    </div>
    <div onclick="window.location.href='others/original.html'" class="main_bottom_box">
        <div class="main_bottom_box_mid_icon">

            <a href="#"><img src="pics/new/go.png"></a>


        </div>
    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">

            <a href="others/news.html"><img src="pics/new/news_1.png"></a>

            <a href="others/news.html">消息</a>
        </div>
    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">

            <a href="others/mine.html"><img src="pics/new/mine_1.png"></a>

            <a href="others/mine.html">我的</a>
        </div>
    </div>

</div>
<div class="blank">
</div>

</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>

<block name="js">


</block>


</body>
</html>