<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" />

    <style>
        .active{color:#f45353;}
     </style>
    <title>{$title|default=红叶帮帮忙}</title>
</head>

<body>



<block name="content"></block>



<div class="main_botoom">
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">
            <?php if($_SESSION['index'] == 1){ ?>
            <a href="{:U('index/index')}"><img width="30px" height="30px" src="__PUBLIC__/Home/images/new/home_2.png"></a>

            <a style="color:#f45353;" href="{:U('index/index')}">主页</a>

            <?php }else{ ?>
            <a href="{:U('index/index')}"><img width="30px" height="30px" src="__PUBLIC__/Home/images/new/home_1.png"></a>

            <a href="{:U('index/index')}">主页</a>

            <?php } ?>
        </div>
    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">
            <?php if($_SESSION['index'] == 2){ ?>

                <a href="{:U('List/index')}"><img src="__PUBLIC__/Home/images/new/find_2.png"></a>

                <a style="color:#f45353;" href="{:U('List/index')}">发现</a>
            <?php }else{ ?>
                <a href="{:U('List/index')}"><img src="__PUBLIC__/Home/images/new/find_1.png"></a>

                <a href="{:U('List/index')}">发现</a>
            <?php } ?>
        </div>

    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid_icon">

            <a href="{:U('List/news')}"><img src="__PUBLIC__/Home/images/new/go.png"></a>


        </div>
    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">
            <?php if($_SESSION['index'] == 4){ ?>

                <a href="{:U('Massage/massage')}"><img src="__PUBLIC__/Home/images/new/news_2.png"></a>

                <a style="color:#f45353;" href="{:U('Massage/massage')}"  >消息</a>
            <?php }else{ ?>
                <a href="{:U('Massage/massage')}"><img src="__PUBLIC__/Home/images/new/news_1.png"></a>

                <a href="{:U('Massage/massage')}"  >消息</a>

            <?php } ?>
        </div>
    </div>
    <div class="main_bottom_box">
        <div class="main_bottom_box_mid">

            <?php if($_SESSION['index'] == 5){ ?>
                <a href="{:U('center/index')}"><img src="__PUBLIC__/Home/images/new/mine_2.png"></a>

                <a style="color:#f45353;" href="{:U('center/index')}">我的</a>
            <?php }else{ ?>
                <a href="{:U('center/index')}"><img src="__PUBLIC__/Home/images/new/mine_1.png"></a>

                <a  href="{:U('center/index')}">我的</a>
            <?php } ?>

        </div>
    </div>

</div>
<div class="blank">
</div>


<script tyep="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.event.drag-1.5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/control.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/document.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $(".main_visual").hover(function(){
            $("#btn_prev,#btn_next").fadeIn()
        },function(){
            $("#btn_prev,#btn_next").fadeOut()
        });

        $dragBln = false;

        $(".main_image").touchSlider({
            flexible : true,
            speed : 200,
            btn_prev : $("#btn_prev"),
            btn_next : $("#btn_next"),
            paging : $(".flicking_con a"),
            counter : function (e){
                $(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
            }
        });

        $(".main_image").bind("mousedown", function() {
            $dragBln = false;
        });

        $(".main_image").bind("dragstart", function() {
            $dragBln = true;
        });

        $(".main_image a").click(function(){
            if($dragBln) {
                return false;
            }
        });

        timer = setInterval(function(){
            $("#btn_next").click();
        }, 2000);

        $(".main_visual").hover(function(){
            clearInterval(timer);
        },function(){
            timer = setInterval(function(){
                $("#btn_next").click();
            },2000);
        });

        $(".main_image").bind("touchstart",function(){
            clearInterval(timer);
        }).bind("touchend", function(){
            timer = setInterval(function(){
                $("#btn_next").click();
            }, 2000);
        });

    });
</script>

<block name="js">


</block>


</body>
</html>