*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;

}
.page{
    background: #f2f2f2;
    width:100%;
    height: 100%;
}
.get{
    border-radius: 3px;
    margin: 0px 15px 20px 15px;
    background: #ffffff;
    border: 1px solid #ffffff;
    padding: 0 0 20px 0;
}
.get_in{
    margin:0 15px 15px 15px;
}
.get_top{
    width:100%;
    height: 45px;
    border-bottom: 1px solid #e5e5e5;
}
.get_top h1{
    font-size: 15px;
    color: #d33d3e;
    line-height:40px;
    float: left;
}
.get_top p{
    font-size: 12px;
    color: #616161;
    line-height:40px;
    float:right;
}
.get_blow{
    margin: 15px;
    padding-bottom: 20px;
}
.get_blow h1{
    font-size: 15px;
    color: #000;
    line-height:10px;
    margin-bottom: 10px;
}
.get_blow span{
    display: block;
    font-size: 13px;
    color: #616161;
    line-height:20px;
    margin-bottom: 15px;
}
.get_blow p{
    display: block;
    font-size: 13px;
    color: #616161;
    line-height:20px;
}
.get_blow button{
    width:65px;
    height:30px;
    text-decoration:none;
    border:none;
    background:#D33D3E;
    border-radius:4px;
    float:right;
    margin:15px 15px 8px 15px;
    font-size:14px;
    color:#FFFFFF;
    display:block;
}
.get_blow button a{
    color: #ffffff;
}