/*-payreturn-*/
*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
    font-size: 14px;
}
body{
    position: relative;
    background:#f2f2f2;
}
.page{
    width:100%;
    padding:10px 0 20px 0;

}
.return_all{
    margin: 0px 15px 10px 15px;
    padding:0px 15px 0px 15px;
    background: #ffffff;
    border-radius: 3px;
    height: auto;
}
.return_in{
    overflow: hidden;
    width: auto;
    height: 35px;
    border-bottom: 1px solid #e5e5e5;
}
.return_in p{
    font-size: 15px;
    color: #000000;
    margin-right: 15px;
    display: inline-block;
    line-height: 36px;
}
.return_bin{
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #e5e5e5;
}
.return_bin p{
    font-size: 15px;
    color: #000000;
    margin-right: 15px;
    float: left;

    line-height: 36px;
}
.return_b{
    width:180px;
    height: 32px;
    float: right;
    overflow: hidden;
    margin-right: 55px;
    padding:10px 0px 0px 2px;
}
.return_b span{
    font-size: 15px;
    color: #000000;
    margin-right: 15px;
    line-height: 16px;
}
.add{
    width:150px;
    height: 41px;
    margin:15px auto 10px auto;
}
.add img{
    width:41px;
    height: 41px;
}
.add_btn{
    height: 30px;
    width:65px;
    background: #f45353;
    border-radius: 3px;
    text-align: center;
    float:right;
    margin: 4px 40px 0 5px;
    position: relative;
    top: -40px;
}
.add_btn p{
    font-size: 15px;
    color: #ffffff;
    line-height: 30px;
}
.return_re ul li{
    height: 35px;
    border-bottom: 1px solid #f2f2f2;
    padding-top:10px;
}
.return_re ul li p{
    font-size: 15px;
    color: #000000;
    margin-right: 15px;
    display: inline-block;
    line-height: 26px;
}
.return_re ul li input{
    border: none;
    display: inline-block;
}
.return_re button{
    width:100px;
    height: 34px;
    background: #f45353;
    border: none;
    border-radius: 3px;
    margin: 20px auto 25px 30%;
    color: #ffffff;
    font-size: 16px;
}
.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top:15px;
    display: none;
    margin-top: -15px;
    background: rgba(0, 0, 0, 0.7);
    /*background: #000000;*/
    /*opacity: 0.9;*/
}
.in_return{
    position: absolute;
    top:20%;
    left: 10%;
    padding: 20px 15px 0px 15px;
    width: 70%;
    height: auto;
    opacity:1;
    background-color:#fff;
}
.in_return_top{

    height:20px;
    width: 100%;
}
.in_return_r{
    position: fixed;
    top:20%;
    right:5%;
    width:17px;
    height: 17px;
    float: right;
}
.in_return_r img{
    width:17px;
    height: 17px;
}
.return_add{
    float: right;
    position: relative;
    top: -25px;
    width: 15px;
    height: 15px;
}
.return_add img{
    width: 15px;
    height: 15px;
}
.bottom_btn{
    height: 34px;
    width:115px;  
    background: #f45353;
    border-radius: 17px;
    position: absolute;
    bottom: 30px;
    left:45px;  
}