<extend name="Public:main" />

<block name="css">

</block>
<block name="content">
    <div class="top">
        <volist name="father_type" id="fty">
            <div id="c4" class="helftop">
                <div class="midtopbox">
                </div>
                <div id="c1" class="helftopbox" <eq name="f_type" value="$fty['id']"> style="border-bottom:2px solid #d33d3e;"</eq>>
                    <h1><a <eq name="f_type" value="$fty['id']"> style="color:#d33d3e;"</eq> href="{:U('Index/index',array('fid'=>$fty['id']))}">{$fty.title}</a></h1>
                </div>
            </div>
        </volist>


    </div>

    <div class="main_visual">
        <div class="flicking_con">
            <a >1</a>
            <a >2</a>
            <a >3</a>

        </div>
        <div class="main_image">
            <ul>
                <volist name="ad" id="vad" key="ak">
                    <li><span><img id="b_{$ak + 1}" src="{$vad.pic}"></span></li>
                </volist>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>

        </div>
    </div>
    <div class="mid">
        <volist name="son_type" id="sty" key="k">
            <div class="mid_box">
                <div class="mid_box_bg">
                    <a href="{:U('Index/index',array('fid'=>$sty['pid'],'sid'=>$sty['id']))}"><img id="img{$k + 1}" src="{$sty.small_pic}"></a>
                    <a href="{:U('Index/index',array('fid'=>$sty['pid'],'sid'=>$sty['id']))}" <eq name="s_type" value="$sty['id']"> style="color:#fe3535;" </eq> >{$sty.title}</a>
                </div>
            </div>
        </volist>


    </div>
    <volist name="project" id="vo">
        <div onClick="window.location.href='others/works.html'" class="midcard">
        <div class="midcard_top">
            <div class="midcard_top_pic">
                <img src="{$vo.head_pic}">
            </div>
            <div class="midcard_top_name">
                <a >{$vo.name}</a>
            </div>
            <div class="midcard_address">
                <p>{$vo.city}</p>

            </div>
            <div class="midcard_address_icon">
                <img src="__PUBLIC__/Home/images/new/local.png">
            </div>

        </div>
        <div class="midcard_content">
            <h2>{$vo.title}</h2>
        </div>
        <div class="midcard_img">
            <div align="center" class="midcard_img_content">
                <img src="{$vo.pic}">
            </div>
        </div>
        <div class="midcard_contain">
            <span>{$vo.dsc|htmlspecialchars}</span>
        </div>
        <div class="midcard_tip">
            <div class="midcard_tip_1">
            </div>
        </div>
        <div class="midcard_bottom">
            <div class="midcard_bottom_text">
                <p>目标金额（¥）{$vo.target_amount}</p>
                <p>已筹款（¥）{$vo.reach_amount}</p>
                <p style="float:right;line-height:24px">支持人数：{$vo.people_num}</p>
            </div>
        </div>
    </div>
    </volist>

</block>

