<extend name="Public:main" />

<block name="css">

</block>
<block name="content">
    <style>
        html body{
            overflow-x: hidden;
            overflow-y: auto;
        }
        .work_bgs p{
            text-align: left;
        }
        .home{
            width:25px;
            height: 25px;
            position:absolute;
            top:10px;
            left: 15px;
            z-index:89;
      }
        .home img{
            width:25px;
            height: 25px;
            border-radius: 12.5px;
        }
        .content_card_1{
            width:35px;
            height: 45px;
            background: #FFFFFF;
            position: relative;
            top:-30px;
            left: 305px;
            border-radius: 2px;
            box-shadow:0px 3px 2px 0px rgba(0,0,0,0.1);
            z-index: 89;
            text-align: center;

        }
        .content_card_1 p{
            color: #000;
            font-size: 18px;
           position: relative;
            top:4px;
        }
        .content_card_1 span{
            color: rgba(0,0,0,0.3);
            font-size:12px;
            position: relative;
            top:-6px;
        }
        .content_card_2{
            width:35px;
            height: 45px;
            background: #FFFFFF;
            position: relative;
            top:-75px;
            left: 265px;
            border-radius: 2px;
            box-shadow:0px 3px 2px 0px rgba(0,0,0,0.1);
            z-index: 89;
            text-align: center;
        }
        .content_card_2 p{
            color: #000;
            font-size: 18px;
            position: relative;
            top:4px;
        }
        .content_card_2 span{
            color: rgba(0,0,0,0.3);
            font-size:12px;
            position: relative;
            top:-6px;
        }
        .content_card_3{
            width:35px;
            height: 45px;
            background: #FFFFFF;
            position: relative;
            top:-120px;
            left: 225px;
            border-radius: 2px;
            box-shadow:0px 3px 2px 0px rgba(0,0,0,0.1);
            z-index: 89;
            text-align: center;
        }
        .content_card_3 p{
            color: #000;
            font-size: 18px;
            position: relative;
            top:4px;
        }
        .content_card_3 span{
            color: rgba(0,0,0,0.3);
            font-size:12px;
            position: relative;
            top:-6px;
        }
.work_incard{
    margin:72px 15px 0 15px;
    padding: 8px 0 0 0;
    border: 1px solid #ffffff;
    position: relative;
}
.work_incard_in{
    width:100%;
    height: 20px;
    border: 1px solid #ffffff;
    overflow-y: hidden;
}
.tips{
    width:100%;
    height: 5px;
    border-radius: 3px;
    background: rgba(204, 204, 204, 0.5);
    margin: 0px;
    overflow: hidden;
}
.tips_other{
    width:100%;
    height: 5px;
    border-radius: 3px;
    background: rgba(244, 83, 83, 1);
    position: relative;
    right: 95%;
}
.tips_circle{
    height: 24px;
    width:43px;
    background: #fff;
    border: 2px solid rgba(244, 83, 83, 1);
    border-radius: 25px;
    position: absolute;
    top:-4px;

    text-align: center
}
.tips_circle p{
    font-size: 13px;
    color: rgba(244, 83, 83, 1);
    line-height: 26px;
    font-weight: bold
}


    </style>
    
    <!--<div style="position:fixed;top:0%;left:0%;z-index:100;" class="top">-->
        <!--<volist name="father_type" id="fty">-->
            <!--<div id="c4" class="helftop">-->
                <!--<div class="midtopbox">-->
                <!--</div>-->
                <!--<div id="c1" class="helftopbox" <eq name="f_type" value="$fty['id']"> style="border-bottom:2px solid #f45353;"</eq>>-->
                    <!--<h1><a <eq name="f_type" value="$fty['id']"> style="color:#f45353;"</eq> href="{:U('Index/index',array('fid'=>$fty['id']))}">{$fty.title}</a></h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</volist>-->


    <!--</div>-->

    <div class="main_visual">
        <div class="flicking_con">
            <a >1</a>
            <a >2</a>
            <a >3</a>

        </div>
        <div class="main_image">
            <ul>
                <volist name="ad" id="vad" key="ak">
                    <li><span><a href="{$vad.url}"><img id="b_{$ak + 1}" src="{$vad.pic}"></a></span></li>
                </volist>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>

        </div>
    </div>
    <div class="mid">

        <volist name="son_type" id="sty" key="k">
            <div class="mid_box">
                <div class="mid_box_bg">
                    <a href="{:U('Index/index',array('sid'=>$sty['id']))}"><img id="img{$k + 1}" src="{$sty.small_pic}"></a>
                    <a href="{:U('Index/index',array('sid'=>$sty['id']))}" <eq name="s_type" value="$sty['id']"> style="color:#fe3535;" </eq> >{$sty.title}</a>
                </div>
            </div>
        </volist>


    </div>
    <volist name="project" id="vo">
        <div class="midcard">
        <div class="midcard_top">
            <div class="midcard_top_pic">
                <img src="{$vo.head_pic}">
            </div>
            <div class="midcard_top_name">
                <a >{$vo.name}</a>
            </div>
            <div class="midcard_address">
                <p>{$vo.city}</p>

            </div>
            <div class="midcard_address_icon">
                <img src="__PUBLIC__/Home/images/new/local.png">
            </div>

        </div>
        <a href="{:U('List/content',array('id'=>$vo['id']))}">
            <div class="midcard_content">
                <h2>{$vo.title}</h2>
            </div>
            <div class="midcard_img">
                <div align="center" class="midcard_img_content">
                    <img src="{$vo.pic}">
                </div>
            </div>
        </a>
        <!--<div class="midcard_contain">-->
            <!--<span>{$vo.dsc|htmlspecialchars}</span>-->
        <!--</div>-->
    <div class="work_incard">
            <div class="tips">
                <div style="right:{$vo.num_1}%;" class="tips_other">
                </div>
            </div>
            <div style="right: {$vo.num_1}%;" class="tips_circle">
                <p>{$vo.num}%</p>
            </div>
            </div>
        <div style="margin-top:18px;" class="midcard_bottom">
            <div class="midcard_bottom_text">
                <p style="margin-right:10px;">目标金额:{$vo.target_amount}</p>
                <p >已筹金额:{$vo.reach_amount}</p>
                <p style="float:right;">支持人数:{$vo.people_num}</p>
            </div>
        </div>
    </div>
    </volist>
    <div style="width:100%;height:0px;" class="">
    </div>
</block>
<block name="js">
    <script>
       
        
        var current_loading = false;
        var page_container_object =  $("body").get(0);
        var time=1;
        $(window).scroll(function(){
            var scroll_interval = page_container_object.scrollHeight - page_container_object.scrollTop - page_container_object.clientHeight;
            if (scroll_interval <= 100 && !current_loading) {
                current_loading = true;

                loadMore(time);
            }

        });

        //"向服务器请求数据"
        function loadMore(te) {
            var type = 'type_id';
            var id = "{$s_type}";
            $.get("{:U('Index/loadProject')}",{ time : te,type:type,id:id} , function(data) {
                if(data.status==0){
                    // $(".loadingA").add(".loadingB").add(".loadingC").hide();
                }else{
                    $(".midcard").last().append(data.info);
                    $(".midcard").last().append($("<div class='plus' style='width:100%;height:55px;'></div>"))
                    current_loading =false;
                    time++;
                }
            });
        }

    </script>
</block>
