<include file="Public/header"/>

    <block name="main"></block>


    <div class="bottom">
        <div class="bottom_text">
            <a>关于我们</a>
            </div>
            <div class="bottom_text">
                    <a>使用协议</a>
                    </div>
                    <div class="bottom_text">
                            <a>用户指南</a>
                            </div>
                            <div style="border:none" class="bottom_text none">
                                    <a>新浪微博</a>
                                    </div>
        </div>
    <div class="blow">
        <p>Copyright © 2017 帮帮忙-厦门红叶帮帮忙科技有限公司</p>
        </div>








 <script type="text/javascript">
    /* 轮播代码 */
    var width=$(window).width();
    var height=width*0.447;
    var img=$('#vad>li>span>a img');
    img.eq(0).css({'width':width,'height':height});
    console.log(img[0].attr('width'));

//    img[1].css({'width':width,'height':height});
//    img[2].css({'width':width,'height':height});

    $(document).ready(function(){
        $(".main_visual").hover(function(){
            $("#btn_prev,#btn_next").fadeIn()
        },function(){
            $("#btn_prev,#btn_next").fadeOut()
        });

        $dragBln = false;

        $(".main_image").touchSlider({
            flexible : true,
            speed : 200,
            btn_prev : $("#btn_prev"),
            btn_next : $("#btn_next"),
            paging : $(".flicking_con a"),
            counter : function (e){
                $(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
            }
        });

        $(".main_image").bind("mousedown", function() {
            $dragBln = false;
        });

        $(".main_image").bind("dragstart", function() {
            $dragBln = true;
        });

        $(".main_image a").click(function(){
            if($dragBln) {
                return false;
            }
        });

        timer = setInterval(function(){
            $("#btn_next").click();
        }, 2500);

    });
    //二维码
    $('#code').click(function(){
//        $(this).addClass('active');
//        $('#code a').addClass('active');
//        $('#index').removeClass('active');
//        $('#index a').removeClass('active');
        $('.bg').css('display','block');
    });
    $('.bg').click(function(){
//        $('#code').removeClass('active');
//        $('#code a').removeClass('active');
//        $('#index').addClass('active');
//        $('#index a').addClass('active');
        $('.bg').css('display','none');
    })

</script>
    <block name="js"></block>
</body>
</html>