
<extend name="Public:main" />
<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/center.css">
</block>
<block name="main">
    <div class="pag">
        <div class="card_left">
            <div class="card_img">
                <div class="card_img_pic">
                    <img src="{$info.pic}">
                </div>
                <a>{$info.nick_name}</a>
            </div>
            <div class="card_text">
                <a>我的项目</a>
                <!--<a id="select" >个人设置</a>-->
                <!--<img id="ad" src="__PUBLIC__/Hy/images/seting_2.png">-->
                <!--<ul id="cntx">-->
                    <!--<li><a style="font-weight:normal;">个人资料</a></li>-->
                    <!--<li><a style="font-weight:normal;">收货地址</a></li>-->
                    <!--<li><a style="font-weight:normal;">密码安全</a></li>-->
                <!--</ul>-->
            </div>
        </div>
        <div class="card_right">
            <div class="title">
                <p>我发起的项目</p>
            </div>
            <empty name="project">
              <div style="height: 800px;width: auto;text-align: center">
                  <p style="font-size: 20px;color: rgba(0,0,0,0.7);margin-top: 200px;">
                      暂时没有任何项目！
                  </p>
              </div>
                <else />
                <volist name="project" id="vo">
                    <div class="card_right_box">
                        <div class="card_grey">
                            <div class="card_grey_img">
                                <img src="{$vo.pic}">
                            </div>
                            <div class="card_grey_text">
                                <div class="card_in_btn">
                                    <div class="card_btn_1">
                                        <a>{$vo.type_name}</a>
                                    </div>
                                    <div class="card_btn_2">
                                        <a>{$vo.status_name}</a>
                                    </div>
                                </div>
                                <div class="card_in_name">
                                    <p>{$vo.title}</p>
                                </div>
                                <div class="card_in_b">
                                    <img src="__PUBLIC__/Hy/images/addr.png">
                                    <p>{$vo.city}</p>
                                </div>
                            </div>
                            <div class="little_btn">
                                <a class="project">进入项目管理</a>
                            </div>
                        </div>
                        <div class="card_bottom" style="display: none;">
                            <div class="card_bottom_in">
                                <a  target="_blank" href="{:U('Index/details',array('id'=>$vo['id']))}">预览项目</a>
                            </div>
                            <if condition="$vo['status'] LT 2">
                                <div class="card_bottom_in">
                                    <a href="{:U('Center/news',array('project_id'=>$vo['id']))}">重新编辑</a>
                                </div>
                            </if>
                            <if condition="$vo['status'] eq 0">
                                <div class="card_bottom_ins sub" key="{$vo['id']}">
                                    <a>提交审核</a>
                                </div>
                            </if>
                        </div>
                    </div>

                </volist>
            </empty>



        </div>

    </div>

</block>

<block name="js">
    <script>

        $('.project').click(function(){
            $('.little_btn').show();
            $('.card_bottom').hide();
            $(this).parent('.little_btn').hide();
            $(this).parents('.card_right_box').find('.card_bottom').css('display','block')

        })
        $('.sub').click(function(){
            var id = $(this).attr('key')
            var info = {'project_id':id};
            $.post("{:U('Center/editProject')}",info,function (data) {
                if(1 == data.status){
                    alert('提交审核成功！');
                    location.href="{:U('Center/index')}";
                }else{
                    alert('提交审核失败,请重新提交审核！');
                }
            })
        })
       //图象控制
        var wid=$(window).width();
        var hit=wid*0.447;
//        console.log(hit);
    </script>
</block>
