
<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/new.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/new3.css">

<div class="tps">
    <div class="cir act">
    </div>
    <div class="lan">
    </div>
    <div class="cir act">
    </div>
    <div class="lan">
    </div>
    <div class="cir act">
    </div>
</div>
<div class="tps_text">
    <p style="position:relative;left:-105px;">项目设置</p>
    <p style="position:relative;left:-105px;">内容编辑</p>
    <p style="position:relative;left:-100px;">回报设置</p>
</div>
<div class="all">
    <div class="all_left">
        <div class="all_left_box">
            <h1>0</h1>
            <p>已设置</p>
        </div>
        <div class="haha">
            <a>添加回报</a>
        </div>
    </div>
    <div class="all_right">
        <div style="display:flex;flex-direction:column">
            <div class="all_right_card">
                <div class="cards_1">
                    <div class="cards_1_in">
                        <span>*</span>
                        <p>回报金额</p>
                    </div>
                    <input type="text" placeholder="0">
                </div>
                <div class="cards_2">
                    <div class="cards_2_in">
                        <span>*</span>
                        <p>回报标题</p>
                    </div>
                    <input type="text" placeholder="请输入回报标题">
                    <h1>0/10</h1>
                </div>
                <div class="cards_3">
                    <div class="cards_3_in">
                        <span>*</span>
                        <p>回报描述</p>
                    </div>
                    <textarea></textarea>
                    <h1>0/1000</h1>

                </div>

            </div>
            <!--<div class="all_right_card">-->
                <!--<div class="cards_2">-->
                    <!--<div class="cards_2_in">-->
                        <!--<span>*</span>-->
                        <!--<p>人数限制</p>-->
                    <!--</div>-->
                    <!--<input type="text" placeholder="无人数限制">-->

                <!--</div>-->
                <!--<div class="cards_2">-->
                    <!--<div class="cards_2_in">-->
                        <!--<span>*</span>-->
                        <!--<p>发送回报时间</p>-->
                    <!--</div>-->
                    <!--<input type="text" placeholder="10">-->
                    <!--<h1>天</h1>-->
                <!--</div>-->
                <!--<div class="cards_2">-->
                    <!--<div class="cards_2_in">-->
                        <!--<span>*</span>-->
                        <!--<p>收货地址</p>-->
                    <!--</div>-->
                    <!--<div id="mane_1" class="cards_2_div bor">-->
                        <!--<p id="text_1" class="bor">需要填写</p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; 状态选择 &ndash;&gt;-->
                    <!--<div id="mane_2" class="cards_2_div">-->
                        <!--<p id="text_2">不需要填写</p>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="cards_2">-->
                    <!--<div class="cards_2_in">-->
                        <!--<span>*</span>-->
                        <!--<p>配送说明</p>-->
                    <!--</div>-->
                    <!--<input type="text" placeholder="例：福建省厦门市思明区...">-->
                    <!--<h1>0/40</h1>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="all_right_card">-->
                <!--<div class="cards_2">-->
                    <!--<div style="width:140px;" class="cards_2_in">-->

                        <!--<p>默认备注</p>-->
                    <!--</div>-->
                    <!--<input style="width:80%" type="text" placeholder="例：福建省厦门市思明区...">-->
                    <!--<div id="h_1" class="hehe bor">-->
                        <!--<p id="t_1" class="bor">必填</p>-->
                    <!--</div>-->
                    <!--<div id="h_2" class="hehe">-->
                        <!--<p id="t_2">选填</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>



<div class="bb">
    <div class="btn">
        <a>保存</a>
    </div>
    <div style="position:absolute;left:800px;background:#e5e5e5" class="btn">
        <a style="color:#797979">预览</a>
    </div>
</div>

<script>


    //点击事件
    $('#mane_2').click(function(){
        $('#mane_1').removeClass('bor');
        $('#mane_2').addClass('bor');
        $('#text_2').addClass('bor');
        $('#text_1').removeClass('bor');
    });
    $('#mane_1').click(function(){
        $('#mane_1').addClass('bor');
        $('#mane_2').removeClass('bor');
        $('#text_2').removeClass('bor');
        $('#text_1').addClass('bor');
    });
</script>
</body>
</html>