
<include file="Public/header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/new.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Hy/css/new3.css">
<style>
    .bbb{
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        width:100%;
        height: 1080px !important;
        z-index: 9999;
        display: none;
    }
</style>
<div class="bbb">
<div style="display:flex;flex-direction:column">
    <div style="position: fixed;" class="all_right_card">
        <div class="cards_1">
            <div class="cards_1_in">
                <span>*</span>
                <p>回报金额</p>
            </div>
            <input id="money" type="text" placeholder="0">
        </div>
        <div class="cards_2">
            <div class="cards_2_in">
                <span>*</span>
                <p>回报标题</p>
            </div>
            <input id="in_text" type="text" placeholder="请输入回报标题">
            <h1 id="sccc">0/10</h1>
        </div>
        <div class="cards_3">
            <div class="cards_3_in">
                <span>*</span>
                <p>回报描述</p>
            </div>
            <textarea id="des"></textarea>
            <h1>0/1000</h1>
        </div>
        <div class="sh">
            <div class="sh_btn_2">
                <a>取消</a>
            </div>
            <div class="sh_btn_1">
                <a>添加</a>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="tps">
    <div class="cir act">
    </div>
    <div class="lan">
    </div>
    <div class="cir act">
    </div>
    <div class="lan">
    </div>
    <div class="cir act">
    </div>
</div>
<div class="tps_text">
    <p style="position:relative;left:-105px;">项目设置</p>
    <p style="position:relative;left:-105px;">内容编辑</p>
    <p style="position:relative;left:-100px;">回报设置</p>
</div>
<div class="all">
    <div class="all_left">
        <div class="all_left_box">
            <h1 id="nums">{$count}</h1>
            <p>已设置</p>
        </div>
        <div id="btn" class="haha">
            <a>添加回报</a>
        </div>
    </div>
    <div class="all_right" style="margin-bottom: 45px;" >
        <volist name="info" id="vo">
            <div style="display:flex;flex-direction:column">
                <div class="all_right_card">
                    <div class="cards_1">
                        <div class="cards_1_in">
                            <span>*</span>
                            <p>回报金额</p>
                        </div>
                        <input type="text" name="amount" class="edit" key="{$vo.id}" value="{$vo.amount}" placeholder="0">
                    </div>
                    <div class="cards_2">
                        <div class="cards_2_in">
                            <span>*</span>
                            <p>回报标题</p>
                        </div>
                        <input type="text" name="title" class="edit" key="{$vo.id}" value="{$vo.title}"  placeholder="请输入回报标题">
                        <h1>0/10</h1>
                    </div>
                    <div class="cards_3">
                        <div class="cards_3_in">
                            <span>*</span>
                            <p>回报描述</p>
                        </div>
                        <textarea id="contents"  class="edit" name="des"  key="{$vo.id}" >{$vo.des}</textarea>
                        <h1 id="numbs">0/1000</h1>

                    </div>
                </div>
            </div>
        </volist>

    </div>

</div>
<div class="bb">
    <div class="btn sub">
        <a>保存</a>
    </div>
    <div style="position:absolute;left:800px;background:#e5e5e5" class="btn">
        <a target="_blank" href="{:U('Index/details',array('id'=>$id))}" style="color:#797979">预览</a>
    </div>
</div>
<script>
    $('#code').click(function(){
        $('.bg').css('display','block');
    });
    $('.bg').click(function(){
        $('.bg').css('display','none');
    })

    $('#getNum').click(function(evnt){
        var n=60;
        if($('#num').html()!=='获取验证码'){
            evnt.preventDefault();
            return false;
        };
        $('#num').html(60);

        var timer=setInterval(function(){
            n--;
            $('#num').html(n);
            if(n<=0){
                clearInterval(timer)
                $('#num').html('获取验证码');
                n=60;
            }
        },1000)


    });
    //点击事件
    $('#btn').click(function(){
        $('.bbb').css('display','block');
    })
    $('.sh_btn_2').click(function(){
        $('.bbb').css('display','none');
    })
    //弹窗位置
    var wid=$(window).width();
    var new_wid=(wid-800)/2;
    (function(){
        $('.all_right_card:eq(0)').css('left',new_wid+'px')
    })();
    //字数限制；
    $('#in_text').on('input',function(){
        var len=$('#in_text').val().length;
        if(len>=10){
            var so=$('#in_text').val().slice(0,10);
            $('#in_text').val(so);
            $('#sccc').html('10/10')
            console.log(so);
        }else{
            $('#sccc').html(len+'/10')
        }

    });
    $('#contents').on('input',function(){
        var lengs=$('#contents').val().length;
        if(lengs>=1000){
            var so=$('#contents').val().slice(0,1000);
            $('#contents').val(so);
            $('#numbs').html('1000/1000')
            console.log(so);
        }else{
            $('#numbs').html(lengs+'/10')
        }

    });



    //简单的表单验证
    var n=0;
    var text_num=RegExp(/[0-9]/);
    $('.sh_btn_1').click(function(){
        var moneys=parseInt($('#money').val());
        var title=$('#in_text').val();
        var des=$('#des').val();
        if(!text_num.test(moneys)){
            alert('请输入正确的金额');
            return false;
        }else if(title===''){
            alert('标题名称不能为空');
            return false;
        }
        else{
            var id = '{$Think.get.project_id}';
            var info = {project_id:id,title:title,des:des,amount:moneys}
            $.post("{:U('Center/addReturn')}",info,function (data) {
                if(1 == data.status){
                    location.reload();
                }else{
                    alert('添加失败');
                }
            })
            
            


        }
    })

    $('.edit').blur(function(){
        var obj = $(this);
        var val = obj.val();
        var id = obj.attr('key');
        var name = obj.attr('name');
        var info = {id:id,name:name,val:val}
        $.post("{:U('Center/editReturn')}",info,function (data) {
            if(1 == data.status){

            }else{

            }
        })

    })
    $('.sub').click(function(){
        var id = '{$Think.get.project_id}'
        var info = {'project_id':id};
        $.post("{:U('Center/editProject')}",info,function (data) {
            if(1 == data.status){

                location.href="{:U('Center/index')}";
            }else{
                location.href="{:U('Center/index')}";
            }
        })
    })

</script>
</body>
</html>