<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>如何联系发起人？</h1>
                    <span>1.我还没有支持项目，对项目很感兴趣想联系发起人，该 怎么办？</span>
                            <p>如果您想对项目有更多的了解，或者想与发起人直接沟通对话，可以在项目详情-评论区留下您的联系方式，或者联系客服留下您的联系方式，我们会主动联系你。
                          </p>
                    </div>
                </div>
    </body>
    </html>