<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
    <title>帮助中心</title>
</head>
<body>
    <div class="page">
        <div class="text_b">
            <div class="text_bin">
                <h2>问题类型</h2>
                <p>公众号使用</p>
               </div>
        <div class="text_w">
            <ul>
                <li><a href="{:U('helps/helps_26')}">支付问题</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_6')}">提现</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_7')}">充值</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_8')}">绑定手机号</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_9')}">实名认证</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_10')}">意见反馈</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
            </ul>
            </div>
            <div class="text_bin">
                    <p>发起项目</p>
                    </div>
            <div class="text_w">
            <ul>
                 <li><a href="{:U('helps/helps_17')}">提交</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                 <li><a href="{:U('helps/helps_18')}">审核</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                 <li><a href="{:U('helps/helps_27')}">上线</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                 <li style="border:none"><a href="{:U('helps/helps_19')}">收费</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
            </ul>
            </div>
            <div class="text_bin">
                <p>支持项目</p>
               </div>
        <div class="text_w">
            <ul>
                <li><a href="{:U('helps/helps_11')}">联系发起人</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_23')}">参与支持</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_12')}">抽奖</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_14')}">退款</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_15')}">发货</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
            </ul>
            </div>
            </div>
        </div>
    </body>
    </html>