<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <title>帮助中心</title>
</head>
<body>
    <div class="page">
        <div class="text_b">
            <div class="text_bin">
                <h2 style="margin-top:5px">问题类型</h2>
                <p>公众号使用</p>
               </div>
        <div class="text_w">
            <ul>
                <li><a href="{:U('helps/helps_26')}">支付问题</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_6')}">提现</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_7')}">充值</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_8')}">绑定手机号</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_9')}">实名认证</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li style="border:none"><a href="{:U('helps/helps_10')}">意见反馈</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
            </ul>
            </div>
            <div class="text_bin">
                    <p>发起项目</p>
                    </div>
            <div class="text_w">
            <ul>
                 <li><a href="{:U('helps/helps_17')}">提交</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                 <li><a href="{:U('helps/helps_18')}">审核</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                 <li><a href="{:U('helps/helps_27')}">上线</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                 <li style="border:none"><a href="{:U('helps/helps_19')}">收费</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
            </ul>
            </div>
            <div class="text_bin">
                <p>支持项目</p>
               </div>
        <div class="text_w">
            <ul>
                <li><a href="{:U('helps/helps_11')}">联系发起人</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_23')}">参与支持</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_12')}">抽奖</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_14')}">退款</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_15')}">发货</a><div class="text_wimg"><img src="__PUBLIC__/Home/images/new/in.png"></div></li>
            </ul>
            </div>
            </div>
        </div>
        <script>
            $('.text_w>ul li:eq(0)').click(function(){
                location.href='{:U('helps/helps_26')}'
            })
            $('.text_w>ul li:eq(1)').click(function(){
                location.href='{:U('helps/helps_6')}'
            })
            $('.text_w>ul li:eq(2)').click(function(){
                location.href='{:U('helps/helps_7')}'
            })
            $('.text_w>ul li:eq(3)').click(function(){
                location.href='{:U('helps/helps_8')}'
            })
            $('.text_w>ul li:eq(4)').click(function(){
                location.href='{:U('helps/helps_9')}'
            })
            $('.text_w>ul li:eq(5)').click(function(){
                location.href='{:U('helps/helps_10')}'
            })
            $('.text_w>ul li:eq(6)').click(function(){
                location.href='{:U('helps/helps_17')}'
            })
            $('.text_w>ul li:eq(7)').click(function(){
                location.href='{:U('helps/helps_18')}'
            })
            $('.text_w>ul li:eq(8)').click(function(){
                location.href='{:U('helps/helps_27')}'
            })
            $('.text_w>ul li:eq(9)').click(function(){
                location.href='{:U('helps/helps_19')}'
            })
            $('.text_w>ul li:eq(10)').click(function(){
                location.href='{:U('helps/helps_11')}'
            })
            $('.text_w>ul li:eq(11)').click(function(){
                location.href='{:U('helps/helps_23')}'
            })
            $('.text_w>ul li:eq(12)').click(function(){
                location.href='{:U('helps/helps_12')}'
            })
            $('.text_w>ul li:eq(13)').click(function(){
                location.href='{:U('helps/helps_14')}'
            })
            $('.text_w>ul li:eq(14)').click(function(){
                location.href='{:U('helps/helps_15')}'
            })
            </script>
    </body>
    </html>