<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>上线</h1>
                    <span>1.项目通过之后下一步怎么操作，文案、图片谁负责？</span>
                    <p>  审核通过后我们会与您对接，发起人需要提供文字和图片的原始素材，我们负责文字的整合和润色，图片的优化。</p>
                    <span>2.项目通过审核到项目真正上线，通常需要多长时间？</span>
                    <p>  平台希望上线项目能保持甚至超越一贯的调性和品质，所以具体视项目的成熟度和规模而定，目前来说在一到二周以内。</p>
                    </div>
                </div>
    </body>
    </html>