<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>提现</h1>
                    <span>1.多少钱都可以提现吗？什么时候到账？</span>
                    <p>余额大于0即可提现，款项会在3-5个工作日内提现到您的微信钱包。</p>

                    <span>2.提现会收取手续费吗？</span>
                    <p> 提现不收取任何手续费。</p>
                    <span>3.提现的最高额度是多少?</span>
                    <p>提现的最高额度为您的余额额度，提现不限次数。</p>
                    </div>
                </div>
    </body>
    </html>