<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>意见反馈</h1>
                    <span>1.如果在使用公众号的过程中遇到问题，我该怎么联系你们？</span>
                    <p>a、通过在线客服进行反馈。</p>
                    <p>b、拨打客服电话0592-5513171 （每周一到周五 9:00-18:00）进行人工交流。</p>
                    </div>
                </div>
    </body>
    </html>