<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>

        <div class="text_b">
                <div class="text_i">
                        <h1>发起项目流程</h1>
                        <span>在Pc端点击“发起项目”-提交实名认证信息-编辑项目内容“项目设置、内容编辑、回报设置”-保存、预览，若需修改点击“重新编辑”，若编辑完成提交审核即可。</span>
                        </div>
            </div>
    </body>
    </html>
