<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<title>发起人手册</title>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>如何发起众筹</h1>
                    <span>1.发起众筹流程？</span>
                    <p>在Pc端点击“发起项目”-提交实名认证信息-编辑项目内容“项目设置、内容编辑、回报设置”-保存、预览，若需修改点击“重新编辑”，若编辑完成提交审核即可。</p>
                    <span>2.如何提交项目</span>
                    <p> Pc端点击“发起项目”按钮按照提示填写内容即可。</p>
                    <span>3.项目立项</span>
                    <p>  项目立项的主要标志即发起方和平台之间签署协议；
                            在项目审核通过之后，项目即可立项，发起人完成和平台发起众筹所需的相关协议签署之后，进行下一环节；
                          </p>
                    <span>4.内容筹备</span>
                    <p>a、如何知道回报方案</p>
                    <p>一些回报是显而易见的，比如实物，但有些回报会更有创意，并且更有个性，会让你的支持者觉得他也是项目的参与者，而这些参与是值得的。</p>
                    <p>b、如何定价</p>
                    <p>你的一些支持者可能智慧贡献10元，但有些人可能会贡献1000元。所以一定要提供一系列的奖励，可以吸引所有的各种各样的人。</p>
                    <span>5.项目上线</span>
                    <p>  项目上线当日，项目经理将就该预览页面和你做最后一次确认，同时还有微信文章的预览。注意不要外传这两则预览链接，一切以上线后为准。</p>
                     </div>
                </div>
    </body>
    </html>