<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>用户需遵守平台规则说明</h1>
                    <span>1.规则简介</span>
                    <p> 项目评论区是大家针对参与项目进行平等交流的地方，为维护良好氛围，请大家遵守自觉遵守规则。如发生不良情况并造成恶劣影响的，平台有权在为告知的前提下对违规内容先行处理。</p>
                    <span>2 规则内容及处理说明</span>
                    <p>a、为了您的个人信息安全，请不要留下你的联系方式（手机号、微信号或其他私人联系方式）；不要随意相信非官方公布的联系方式或相关信息。</p>
                    <p>b、恶意评论、过激言论、发布不实或无关信息，平台有权删除评论并冻结您的账户；
                            如：
                    </p>
                    <p>。对发起人恶意人身攻击</p>
                    <p>。对其他用户恶意人身攻击</p>
                    <p>。对平台或项目的不实恶意言论</p>
                    <p>。与该项目无关，会对该项目造成不良影响的误导信息</p>
                    <p>。其他不符合平台文明讨论规则的不良信息</p>
                    <p>c、在多个项目的评论区频繁刷屏，平台有权删除评论并冻结您的账户；
                            
如：
</p>
                    <p>。蓄意灌水，发布广告等垃圾信息</p>
                    <p>。同一内容大量且频繁刷屏，严重影响其他用户体验</p>
                    <p>如您有任何疑难问题，请联系客服协助您共同解决。</p>
                    <p>官方客服热线：0592-551-3171</p>
                    
                     </div>
                </div>
    </body>
    </html>