<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>支持者手册</h1>
                    <span>1.项目通过之后下一步怎么操作，文案、图片谁负责？</span>
                    <p>    审核通过后我们会与您对接，发起人需要提供文字和图片的原始素材，我们负责文字的整合和润色，图片的优化。</p>
                    <span>2.谁来承担发放回报的邮费</span>
                    <p> 通常是有发起人承担邮费，如有特殊情况请和支持者协商分担。</p>
                    <span>3.我需要和项目经理沟通什么内容</span>
                    <p>  项目经理会：
                            要求你补充“基本框架”中的缺失内容，甚至对你进行一次采访。
                            要求你提供资质文件。
                            协助你调整好项目文案、图片、回报方案。
                            询问你的传播计划和运营手段。
                            你可以征求项目经理对具体某个方面的建议，我们最终会对项目的真实性、合理性进行形式审核，通过审核后需双方签署《红叶推荐项目协议》、《补充协议》后方可上线。
                            
                          </p>
                    <span>4.微信文章由谁来写</span>
                    <p>有微信公众号的编辑负责，所以他们也将与你取得联系。</p>
                    
                     </div>
                </div>
    </body>
    </html>