<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>收费</h1>
                    <span>除了服务费和第三方支付平台的手续费，还有其他费用吗？</span>
                    <p>众筹过程中产生的税费以及其他一切费用由发起人承担。文案编辑，图片优化和流量推广不会额外收费。</p>
                     </div>
                </div>
    </body>
    </html>