<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>退款到账需要多久？退到哪里？</h1>
                    <span>3-5个工作日，（原路退回）</span>
                    </div>
                </div>
    </body>
    </html>