<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>充值</h1>
                    <span>1.如何进行充值？</span>
                    <p>在“确认支付”页选择余额 进行支付，若余额不足以支付此订单，会有“余额不足？去充值”按钮，点击即可进入进行充值页面。</p>

                    <span>2.是否有其他方式进行充值？</span>
                    <p> 在“我的钱包”页选择“充值”按钮可直接充值。</p>
                    </div>
                </div>
    </body>
    </html>