<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>提交</h1>
                    <span>1.为什么点击下一步没有反应，或点击下一步就跳转到别的填写页面？</span>
                    <p>  发生这种情况通常是因为项目信息没有填写完整，请您从第一页开始，仔细检查所有内容。</p>
                    <span>2.提交众筹项目网页错误，内容丢失，能够恢复吗？</span>
                    <p> 如果保存草稿可以恢复，没有的话需要您重新编辑上传。</p>
                    <span>3.为什么提交的项目在pc端可见但在公众号看不见？</span>
                    <p>提交的项目在pc端生成的只是预览页面，该页面不会公开发布，只有通过审核并且正式发布了，才会在pc端和公众号的“我的活动”里出现。</p>
                    </div>
                </div>
    </body>
    </html>