<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>审核</h1>
                    <span>1.请问审核项目的标准的什么，有没有什么要求？</span>
                    <p>平台目前尚处在封闭测试阶段，有一套比较严格的筛选机制，不同种类的项目有不同的标准，一定程度上可以参照已上线的同类项目。</p>
                    <span>2.为什么我的项目没有通过审核？</span>
                    <p>由于我们目前在内测阶段，还没有完全开放，在选择项目的时候，会选择我们认为更符合平台调性的项目。</p>
                    <span>3.如果发起了一个项目，你们是否会对项目的真实性进行审核？</span>
                    <p>我们会对每一个发起人或发起机构的省份进行审核，根据提交项目的不同，发起人也需要提供不一样的相关材料进行审核证明。</p>
                    <span>4.我能不能直接跟项目审核人员联系沟通？</span>
                    <p>您无法直接跟审核人员联系沟通。在您的项目审核通过后，我们会主动与您联系。</p>
                    <span>5.项目已经提交审核，是否可以再修改？</span>
                    <p>审核期间是不可以进行修改的，未通过审核的项目将恢复成驳回状态，您可以直接修改编辑并重新提交。</p>
                    </div>
                </div>
    </body>
    </html>