<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
        <div class="text_b">
                <div class="text_i">
                    <h1>抽奖</h1>
                    <span>一、抽奖时间</span>
                    <p>项目结束后第二天上午9点自动执行（如：项目10日结束，12日开奖；项目顺延，则自动顺延）</p>
                    <span>二、抽奖规则</span><br/>
                    <span>每N人抽取一份奖品的规则</span>
                    <p>。满N人抽一人</p>
                    <p> 。没满N人自动递进</p>
                    <span>N个人抽X份奖品的规则</span>
                    <p>。确定总的抽奖人数N</p>
                    <p> 。在N人中根据算法 抽取X人获得奖品</p>
                    </div>
                </div>
    </body>
    </html>