<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
    <title>帮助中心</title>
</head>
<body>
    <div class="page">
        <div class="text_b">
            <div class="text_bin">
                <p>常见问题</p>
                <a href="{:U('helps/helps_25')}">全部问题</a>
                </div>
        <div class="text_w">
            <ul>
                <li><a href="{:U('helps/helps_2')}">发起项目流程？</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_3')}">退款到账需要多久？退到哪里？</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_4')}">如何联系发起人？</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
                <li><a href="{:U('helps/helps_5')}">提现有手续费吗？</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
            </ul>
            </div>
            <div class="text_bin">
                    <p>使用指南</p>
                    </div>
            <div class="text_w">
            <ul>
                 <li><a href="{:U('helps/helps_21')}">发起人手册</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
                 <li><a href="{:U('helps/helps_23')}">支持者手册</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
                 <li style="border:none"><a href="{:U('helps/helps_24')}"></a>>法律协议</a><div class="text_wimg"><img src="../pics/new/in.png"></div></li>
            </ul>
            </div>
            <div class="text_blow">            
                <p>客服热线</p>
                <span>0592-551-3171</span>
                </div>
            <div style="position:relative;left:-20px" class="text_blow">            
                    <p>工作时间</p>
                    <p>9:30-6:00</p>
                    </div>
            </div>
        </div>
    </body>
    </html>