<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.touchSlider.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/control.js"></script>
    <title>红叶筹</title>
</head>
<body>

<div style="border-bottom:1px solid #cccccc" class="top">
    <div class="top_arrow"></div>
    <h4>筹款动态</h4>
</div>
<div class="first">
    <div class="first_img">
    </div>
    <div class="first_in">
        <h1>左青龙右白虎</h1>
        <h1>支持了</h1>
        <h1 style="color:red;margin:0px;">100</h1>
        <h1>元</h1>
        <div class="first_pic">
        </div>
        <p>2017.09.06</p>
        <span>宗华任命热第私爱士大夫是快递受到了考生登录手里的快乐时刻到了昆仑送大礼</span>
        <div class="first_blow">
            <p>回复</p>
            <p>那你：</p>
            <p style="color:black">都是废闪电发货总代身份活动是否合适的发挥水电费地方的度电脑上话</p>
        </div>
        <div class="first_l">
        </div>
    </div>

</div>
<div class="first">
    <div class="first_img">
    </div>
    <div class="first_in">
        <h1>左青龙右白虎</h1>
        <h1>支持了</h1>
        <h1 style="color:red;margin:0px;">100</h1>
        <h1>元</h1>
        <div class="first_pic">
        </div>
        <p>2017.09.06</p>
        <span>宗华任命热第私爱士大夫是快递受到了考生登录手里的快乐时刻到了昆仑送大礼</span>
        <div class="first_blow">
            <p style="display:inline-block">回复&nbsp;&nbsp;那你：</p>
            <span>都是废闪电发货总代身份活动是否合适的发挥水电费地方的度电脑上话</span>
        </div>
        <div class="first_l">
        </div>
        <div class="first_l">
        </div>
    </div>
</div>
<div class="first">
    <div class="first_img">
    </div>
    <div class="first_in">


        <h1>左青龙右白虎</h1>
        <h1>支持了</h1>
        <h1 style="color:red;margin:0px;">100</h1>
        <h1>元</h1>
        <div class="first_pic">
        </div>
        <p>2017.09.06</p>
        <span>宗华任命热第私爱士大夫是快递受到了考生登录手里的快乐时刻到了昆仑送大礼</span>
        <div class="first_blow">
            <p>回复</p>
            <p>那你：</p>
            <p style="color:black">都是废闪电发货总代身份活动是否合适的发挥水电费地方的度电脑上话</p>
        </div>
        <div class="first_l">
        </div>
    </div>
</div>
<div class="first_box">
    <h1>发表评论</h1>
    <div class="first_inbox">
        <textarea name="评论">我也说一句</textarea>
    </div>
    <div class="first_lowbox">
        <div class="first_lowboxin">
        </div>
        <div style="border: none" class="first_lowboxin">
        </div>
    </div>
</div>

</body>
</html>
