

<extend name="Public:main" />

<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/blank.css">
</block>
<block name="content">

<div style="background:#FFFFFF" class="all">
    <div style="border-bottom:1px #e5e5e5 solid;" class="top">
        <div class="top">
            <div class="helftop">
                <div class="midtopbox">
                </div>
                <div style="border:none;width:40px" class="helftopbox">
                    <h1><a href="" >动态</a></h1>
                </div>
            </div>
            <div id="r_1" class="helftop">
                <div  style="width:40px"  class="helftopbox">
                    <h1 id="activa"><a>通知</a></h1>
                </div>
            </div>
        </div>

        <!--<div class="stantic_lang_1">-->
            <!--<div class="stantic_lang_2">-->
                <!--<p>刚刚</p>-->
                <!--<div class="stantic_lang_2_img">-->
                    <!--<img src="__PUBLIC__/Home/images/img_1.jpg">-->
                <!--</div>-->
                <!--<div class="stantic_lang_2_text">-->

                    <!--<h3>中国人的萌</h3>-->

                    <!--<div class="stantic_lang_2_icon">-->
                    <!--</div>-->
                    <!--<span>中国人的笛煽风点方式 山东 </span>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="stantic_lang_1">-->
            <!--<div class="stantic_lang_2">-->
                <!--<p>刚刚</p>-->
                <!--<div class="stantic_lang_2_img">-->
                    <!--<img src="__PUBLIC__/Home/images/img_1.jpg">-->
                <!--</div>-->
                <!--<div class="stantic_lang_2_text">-->

                    <!--<h3>中国人的萌</h3>-->

                    <!--<div class="stantic_lang_2_icon">-->
                    <!--</div>-->
                    <!--<span>中国人的笛煽风点火都是时 </span>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="stantic_lang_1">-->
            <!--<div class="stantic_lang_2">-->
                <!--<p>刚刚</p>-->
                <!--<div class="stantic_lang_2_img">-->
                    <!--<img src="__PUBLIC__/Home/images/img_1.jpg">-->
                <!--</div>-->
                <!--<div class="stantic_lang_2_text">-->

                    <!--<h3>中国人的萌</h3>-->

                    <!--<div class="stantic_lang_2_icon">-->
                    <!--</div>-->
                    <!--<span>中国人的笛煽风的方式 山</span>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div align="center" class="end">-->
            <!--<span style="color:#f45353; font-size:14px;">已显示全部内容</span>-->
        <!--</div>-->
        </div>
    <div class="blank">
        <div class="blank_pic">
            <img src="__PUBLIC__/Home/images/new/zu.png">
        </div>
        <p>抱歉，暂时没有相关信息</p>
        <a id="link">3s后跳转</a>
    </div>
    </div>





<!--<div class="blank">
    <div class="blank_pic">
        <img src="__PUBLIC__/Home/images/new/zu.png">
    </div>
    <p>抱歉，暂时没有相关信息</p>
    <a id="link">3s后跳转</a>
</div>-->




</block>