<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js//jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js//jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js//jquery.touchSlider.js"></script>

    <title>红叶帮帮忙</title>
    <!--
    <script>
      var sch=window.availHeight;
      var allsch=document.getElementsByClassName("all");
      function(){
         allsch.style.height=sch+"px" ;
      }
    window.onload=function();
    </script>
    -->


</head>

<body>
<div style="background:#FFFFFF" class="all">
    <div style="border-bottom:1px #CCCCCC solid;" class="top">
        <div class="top">
            <div class="helftop">
                <div class="midtopbox">
                </div>
                <div style="border:none;width:40px" class="helftopbox">
                    <h1><a href="news.html" style="color:#CCCCCC">动态</a></h1>
                </div>
            </div>
            <div id="r_1" class="helftop">
                <div  style="width:40px"  class="helftopbox">
                    <h1 id="activa"><a>通知</a></h1>
                </div>
            </div>
        </div>

        <div class="stantic_lang_1">
            <div class="stantic_lang_2">
                <p>刚刚</p>
                <div class="stantic_lang_2_img">
                    <img src="__PUBLIC__/Home/images/img_1.jpg">
                </div>
                <div class="stantic_lang_2_text">

                    <h3>中国人的萌</h3>

                    <div class="stantic_lang_2_icon">
                    </div>
                    <span>中国人的笛煽风点方式 山东 </span>
                </div>

            </div>
        </div>
        <div class="stantic_lang_1">
            <div class="stantic_lang_2">
                <p>刚刚</p>
                <div class="stantic_lang_2_img">
                    <img src="__PUBLIC__/Home/images/img_1.jpg">
                </div>
                <div class="stantic_lang_2_text">

                    <h3>中国人的萌</h3>

                    <div class="stantic_lang_2_icon">
                    </div>
                    <span>中国人的笛煽风点火都是时 </span>
                </div>

            </div>
        </div>
        <div class="stantic_lang_1">
            <div class="stantic_lang_2">
                <p>刚刚</p>
                <div class="stantic_lang_2_img">
                    <img src="__PUBLIC__/Home/images/img_1.jpg">
                </div>
                <div class="stantic_lang_2_text">

                    <h3>中国人的萌</h3>

                    <div class="stantic_lang_2_icon">
                    </div>
                    <span>中国人的笛煽风的方式 山</span>
                </div>

            </div>
        </div>
        <div align="center" class="end">
            <span style="color:#D33D3E; font-size:14px;">已显示全部内容</span>
        </div>










        <div class="main_botoom">
            <div class="main_bottom_box">
                <div class="main_bottom_box_mid">

                    <a href="../index.html"><img src="__PUBLIC__/Home/images/new/home_1.png"></a>

                    <a href="../index.html">主页</a>
                </div>
            </div>
            <div class="main_bottom_box">
                <div class="main_bottom_box_mid">

                    <a href="find.html"><img src="__PUBLIC__/Home/images/new/find_1.png"></a>

                    <a href="find.html">发现</a>
                </div>

            </div>
            <div onclick="window.location.href='original.html'" class="main_bottom_box">
                <div class="main_bottom_box_mid_icon">

                    <a href="#"><img src="__PUBLIC__/Home/images/new/go.png"></a>


                </div>
            </div>
            <div class="main_bottom_box">
                <div class="main_bottom_box_mid">

                    <a href="news.html"><img src="__PUBLIC__/Home/images/new/news_2.png"></a>

                    <a style="color:#D33D3E" href="news.html">消息</a>
                </div>
            </div>
            <div class="main_bottom_box">
                <div class="main_bottom_box_mid">

                    <a href="mine.html"><img src="__PUBLIC__/Home/images/new/mine_1.png"></a>

                    <a href="mine.html">我的</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
