<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <title>红叶帮帮忙</title>
</head>
<body>
<div class="all">
    <div class="top">
        <div id="re_0"class="helftop">
            <div class="midtopbox">
            </div>
            <div style="width:40px" class="helftopbox">
                <h1><a href="massage.html">动态</a></h1>
            </div>
        </div>
        <div class="helftop">
            <div style="border:none;width:40px" class="helftopbox">
                <h1 id="activa"><a style="color:#CCCCCC" href="massage.html">通知</a></h1>
            </div>
        </div>
    </div>
    <div class="midcard_1">
        <div class="midcard_top">
            <div class="midcard_top_pic">
                <img src="__PUBLIC__/Home/images/icon1.png">

            </div>
            <div class="midcard_top_name">
                <a href="#">我是猜猜猜</a>
            </div>
            <div class="midcard_address">
                <p>刚刚</p>

            </div>

        </div>
        <div class="midcard_content">
            <h2>实际金额达到了三十亿美元，成为世界第一的中国互联网公司</h2>
        </div>
        <div class="midcard_img">
            <div align="center" class="midcard_img_content">
                <img src="__PUBLIC__/Home/images/little_banner.jpg">
            </div>
            <div class="midcard_news">
                <div class="midcard_news_in">
                    <div class="midcard_news_in_pic">

                    </div>
                    <p>小装疯</p>
                    <div class="midcard_news_in_b">
                        <p>发起人</p>
                    </div>
                    <p style="color:#CCCCCC;line-height: 20px;;">2017-08-15&nbsp;10:22</p>
                </div>
            </div>
            <div class="midcard_news_content">
                <div class="midcard_news_cp">
                    <p>回复</p>
                    <p>程度：</p>
                    <span>办法巴菲圣诞节笔记本笛梵就是补笔记本大家发表金山毒霸剑荡四方设计费技术的</span>
                </div>
            </div>
        </div>



    </div>
    <div class="midcard_1">
        <div class="midcard_top">
            <div class="midcard_top_pic">
                <img src="__PUBLIC__/Home/images/icon1.png">

            </div>
            <div class="midcard_top_name">
                <a href="#">我是猜猜猜</a>
            </div>
            <div class="midcard_address">
                <p>刚刚</p>

            </div>

        </div>
        <div class="midcard_content">
            <h2>实际金额达到了三十亿美元，成为世界第一的中国互联网公司</h2>
        </div>
        <div class="midcard_img">
            <div align="center" class="midcard_img_content">
                <img src="__PUBLIC__/Home/images/little_banner.jpg">
            </div>
            <div class="midcard_news">
                <div class="midcard_news_in">
                    <div class="midcard_news_in_pic">

                    </div>
                    <p>小装疯</p>
                    <div class="midcard_news_in_b">
                        <p>发起人</p>
                    </div>
                    <p style="color:#CCCCCC;">2017-08-15&nbsp;10:22</p>
                </div>
            </div>
            <div class="midcard_news_content">
                <div class="midcard_news_cp">
                    <p>回复</p>
                    <p>程度：</p>
                    <span>办法巴菲圣诞节笔记本笛梵就是补笔记本大家发表金山毒霸剑荡四方设计费技术的</span>
                </div>
            </div>
        </div>



    </div>
    <div class="midcard_1">
        <div class="midcard_top">
            <div class="midcard_top_pic">
                <img src="__PUBLIC__/Home/images/icon1.png">

            </div>
            <div class="midcard_top_name">
                <a href="#">我是猜猜猜</a>
            </div>
            <div class="midcard_address">
                <p>刚刚</p>

            </div>

        </div>
        <div class="midcard_content">
            <h2>实际金额达到了三十亿美元，成为世界第一的中国互联网公司</h2>
        </div>
        <div class="midcard_img">
            <div align="center" class="midcard_img_content">
                <img src="__PUBLIC__/Home/images/little_banner.jpg">
            </div>
            <div class="midcard_news">
                <div class="midcard_news_in">
                    <div class="midcard_news_in_pic">

                    </div>
                    <p>小装疯</p>
                    <div class="midcard_news_in_b">
                        <p>发起人</p>
                    </div>
                    <p style="color:#CCCCCC;">2017-08-15&nbsp;10:22</p>
                </div>
            </div>
            <div class="midcard_news_content">
                <div class="midcard_news_cp">
                    <p>回复</p>
                    <p>程度：</p>
                    <span>办法巴菲圣诞节笔记本笛梵就是补笔记本大家发表金山毒霸剑荡四方设计费技术的</span>
                </div>
            </div>
        </div>



    </div>
    <div class="blank">
    </div>
    <div class="main_botoom">
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="../index.html"><img src="__PUBLIC__/Home/images/home_1.png"></a>

                <a  href="../index.html">主页</a>
            </div>
        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="find.html"><img src="__PUBLIC__/Home/images/found_1.png"></a>

                <a href="find.html">发现</a>
            </div>

        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid_icon">

                <a href="#"><img src="__PUBLIC__/Home/images/center.png"></a>


            </div>
        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="news.html"><img src="__PUBLIC__/Home/images/news_2.png"></a>

                <a style="color:#D33D3E" href="news.html">消息</a>
            </div>
        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="mine.html"><img src="__PUBLIC__/Home/images/person_1.png"></a>

                <a href="mine.html">我的</a>
            </div>
        </div>

    </div>
</div>






</body>
</html>