<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/help.css">
</head>
<body>
<div class="text_b">
    <div class="text_i">
        <h1>关于红叶筹</h1>

        <p style="margin-bottom:25px;">厦门红叶筹科技有限公司位于福建省厦门市，创立于2016年12月，公司旗下首要产品是红叶筹众筹平台。红叶筹平台以“分享 参与 互助”作为核心价值观，致力于在分享生活、参与众筹以及互帮互助的过程中达成“让每一个人的愿望都触手可及”的使命，以实现“让众筹不再众愁”的愿景。
            红叶筹平台于2017年3月上线，是一个公益+回报的众筹平台，分为公益、约吗、愿景、农业、创意和生活六个板块，几乎涵盖了生活的各个方面，从休闲购物、娱乐出行，到梦想奋斗再到公益互助等方面为用户提供最贴心的服务以及最便利的众筹方式，开辟了众筹领域的全新时代。
        </p>

        <span>联系我们</span><br/>
        <span>客服热线 : &nbsp;0592-5513171</span><br/>
        <span>客服邮箱：17706023646@163.com </span><br/>
        <span>商务合作：3040795472@qq.com</span><br/>
        <span>公司地址：福建省厦门市思明区前埔工业园61号万物社A108</span><br/>
    </div>
</div>
</body>
</html>