<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <title>红叶帮帮忙</title>
</head>
<body>
<div class="page">
    <div class="top">
        <div onclick="window.location.href='center.html'" class="top_arrow"></div>
        <h4>绑定手机号</h4>
    </div>
    <div class="bind">
        <div class="bind_box">
            <div class="bind_box_in">
                <div class="bind_box_in_l">
                    <img src="__PUBLIC__/Home/images/new/head.png">
                </div>
                <div class="bind_box_in_r">
                    <input type="text" value="请输入手机号">
                </div>
            </div>
        </div>
        <div class="bind_box">
            <div class="bind_box_in">
                <div class="bind_box_in_l">
                    <img src="__PUBLIC__/Home/images/new/lock.png">
                </div>
                <div class="bind_box_in_r">
                    <input type="text" value="请输入验证码">
                </div>
                <button type="button" name="获取验证码">获取验证码</button>
            </div>
        </div>
    </div>
    <div class="bind_b">
        <button type="submit" name="提交" >提交</button>
    </div>
</div>
</body>
</html>