<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>修改性别</title>
</head>
<body>
<style>
    body{
        outline: none;
        background: #f2f2f2;
    }
    .inputname{
        width: 320px;
        height: 20px;
        text-align: center;
        margin: 10px auto;

    }

    .btn{
        width: 200px;
        height: 40px;
        border-radius: 3px;
        background: #f45353;
        text-align: center;
        margin: 10px auto;

    }
    .btn p{
        font-size: 16px;
        color: #ffffff;
        line-height: 38px;
    }
</style>
<div class="inputname">
    <input type="radio" name="sex" checked class="name" value="1">男
    <input type="radio" name="sex" class="name" value="2">女

</div>
<div class="btn">
    <p id="sub">确认修改</p>
</div>
<script tyep="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
<script>
    var num=$('.inputname input');
    var text=$('#inNum');
    num.bind('input propertychange',function(){
        text.html(num.val().length)
        console.log(num.val())
    })
    $('#sub').click(function(){
        var name = $('input[name=sex]:checked').val();
        console.log(name);
        var info = {name:name,cloum:'sex'}
        $.post("{:U('Center/editinfor')}",info,function(data){

            if(1 == data.status){
                alert(data.info)
                location.href = "{:U('Center/information')}"
            }else{
                alert(data.info)
            }


        })

    })
</script>
</body>
</html>