<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/cropper.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/cropper.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/imgset.js"></script>
</head>
<body>
<div style="border-bottom:1px solid #e5e5e5" class="top">
    <div onclick="click()" class="top_arrow"></div>
    <h4>照片选择</h4>
</div>
<div class="imgset">
    <div class="imgset_in">
        <a href="javascrit::" class="imgset_a">选择文件
            <input class="imgset_i" type="file" accept="image/png,image/jpeg">
        </a>
    </div>
    <button type="button" class="imgset_b">裁剪图片</button>
</div>
<div class="img_box">
    <img class="image" src="">
</div>
<div class="img_text">
    <p>您可以拖动、放大及收缩来框选您想要的图片</p>
</div>
<div class="result"></div>
<div class="img_up">
    <button type="submit" class="img_up">确认上传
    </button>
</div>
</body>
</html>
