<extend name="Public:main" />

<block name="js">


</block>
<block name="content">
  <div class="background">
        <div class="close">
        </div>
        <div class="bix">
            <img src="../pics/new/qun.jpg">
        </div>
    </div>
    <div class="mine_banner">
        <div class="mine_in">
            <div class="mine_img">
                <img src="{$info.pic|default='/public/Home/images/text.png'}">
            </div>
            <div class="mine_text">
                <div class="mine_tin">
                <p>{$info.nick_name|default='填写昵称'}</p>
                    </div>
                <div class="mine_likes">
                    <ul>
                        <for start="0" end="$grade['grade']">
                        <li><img src="__PUBLIC__/Home/images/new/heart_1.png"></li>
                        </for>
                        <for start="0" end="$grade['ungrade']">
                            <li><img src="__PUBLIC__/Home/images/new/heart_2.png"></li>
                        </for>
                    </ul>
                </div>
            </div>
            <div class="mine_l">
                <p><a style="color:#fff;" href="{:U('Center/verify')}">申请实名认证</a></p>
            </div>

        </div>
    </div>
    <div class="mine_mid">
        <div class="mine_m">
            <a href="{:U('Center/orders')}">
                <div class="mine_go">
                    <img src="__PUBLIC__/Home/images/new/notes.png">
                </div>
                <p>我的订单</p>

            </a>
        </div>
        <div class="mine_m">
            <a href="{:U('Center/cash')}">
                <div class="mine_go">
                    <img src="__PUBLIC__/Home/images/new/cash.png">
                </div>
                <p>我的钱包</p>
            </a>
        </div>
        <div class="mine_m">
            <div class="mine_go">
                <img src="__PUBLIC__/Home/images/new/people.png">
            </div>
            <p>我的客服</p>
        </div>
        <div class="mine_m">
            <div class="mine_go">
                <img src="__PUBLIC__/Home/images/new/weibo.png">
            </div>
            <p>官方微博</p>
        </div>

    </div>
    <div class="cash_bin">

        <a href="{:U('Center/bind')}">
            <div class="cash_bin25">
                <img src="__PUBLIC__/Home/images/new/phone.png">
            </div>
            <p>绑定手机</p>
            <div class="cash_bin2">
                <img src="__PUBLIC__/Home/images/new/back_r.png">
            </div>
        </a>

    </div>
    <div class="cash_bin">
        <a href="{:U('Center/likes')}">
            <div class="cash_bin25">
                <img src="__PUBLIC__/Home/images/new/focus.png">
            </div>
            <p>我的关注</p>
            <div class="cash_bin2">
                <img src="__PUBLIC__/Home/images/new/back_r.png">
            </div>
        </a>
    </div>

    <div style="border-bottom:10px solid #F2F2F2" class="cash_bin">
        <a href="{:U('List/blank')}">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/gift.png">
        </div>
        <p>我的活动</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
        </a>
    </div>
    <div class="cash_bin">
        <a href="{:U('Help/helps_1')}">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/helps.png">
        </div>
        <p>帮助中心</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
            </a>
    </div>
    <div class="cash_bin">
        <a href="{:U('Center/about')}">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/about.png">
        </div>
        <p>关于我们</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
            </a>
    </div>
    <script>
        var qun=$('.mine_m:eq(2)');
        var close=$('.close');
        var weibo=$('.mine_m:eq(3)');
        qun.click(function(){
            $('.background').css('display','block');
        });
        close.click(function(){
            $('.background').css('display','none');
        });
        weibo.click(function(){
            location.href='http://weibo.com/p/1006066228912109/home?from=page_100606&mod=TAB&is_all=1#place';
        })
    </script>
    <!--<div class="cash_bin">-->
        <!--<div class="cash_bin25">-->
            <!--<img src="__PUBLIC__/Home/images/new/cook.png">-->
        <!--</div>-->
        <!--<p>信息反馈</p>-->
        <!--<div class="cash_bin2">-->
            <!--<img src="__PUBLIC__/Home/images/new/back_r.png">-->
        <!--</div>-->
    <!--</div>-->

</block>

