<extend name="Public:main" />

<block name="js">


</block>
<block name="content">
    <div class="mine_banner">
        <div class="mine_in">
            <div class="mine_img">
                <img src="__PUBLIC__/Home/images/text.png">
            </div>
            <div class="mine_text">
                <p>填写昵称</p>
                <div class="mine_likes">
                    <ul>
                        <li><img src="__PUBLIC__/Home/images/new/heart_1.png"></li>
                        <li><img src="__PUBLIC__/Home/images/new/heart_1.png"></li>
                        <li><img src="__PUBLIC__/Home/images/new/heart_1.png"></li>
                        <li><img src="__PUBLIC__/Home/images/new/heart_2.png"></li>
                        <li><img src="__PUBLIC__/Home/images/new/heart_2.png"></li>
                    </ul>
                </div>
            </div>
            <div onclick="window.location.href='police.html'"
                 class="mine_l">
                <p>申请实名认证</p>
            </div>

        </div>
    </div>
    <div class="mine_mid">
        <div onclick="window.location.href='order.html'" class="mine_m">
            <div class="mine_go">
                <img src="__PUBLIC__/Home/images/new/notes.png">
            </div>
            <p>我的订单</p>
        </div>
        <div onclick="window.location.href='cash.html'" class="mine_m">
            <div class="mine_go">
                <img src="__PUBLIC__/Home/images/new/cash.png">
            </div>
            <p>我的钱包</p>
        </div>
        <div class="mine_m">
            <div class="mine_go">
                <img src="__PUBLIC__/Home/images/new/people.png">
            </div>
            <p>我的社群</p>
        </div>
        <div class="mine_m">
            <div class="mine_go">
                <img src="__PUBLIC__/Home/images/new/weibo.png">
            </div>
            <p>我的微博</p>
        </div>

    </div>
    <div onclick="window.location.href='bind.html'" class="cash_bin">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/phone.png">
        </div>
        <p>绑定手机号</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
    </div>
    <div onclick="window.location.href='likes.html'" class="cash_bin">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/focus.png">
        </div>
        <p>我的关注</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
    </div>
    <div style="border-bottom:10px solid #F2F2F2" class="cash_bin">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/gift.png">
        </div>
        <p>我的活动</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
    </div>
    <div class="cash_bin">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/helps.png">
        </div>
        <p>帮助中心</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
    </div>
    <div class="cash_bin">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/about.png">
        </div>
        <p>关于我们</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
    </div>
    <div class="cash_bin">
        <div class="cash_bin25">
            <img src="__PUBLIC__/Home/images/new/cook.png">
        </div>
        <p>信息反馈</p>
        <div class="cash_bin2">
            <img src="__PUBLIC__/Home/images/new/back_r.png">
        </div>
    </div>

</block>

