<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <title>红叶帮帮忙</title>
</head>
<body>
<div style="border-bottom:1px solid #cccccc" class="top">
    <div onclick="window.location.href='mine.html'" class="top_arrow"></div>
    <h4>个人资料</h4>
</div>
<div class="inf_b">
    <div class="inf_bin">
        </div>
    </div>


</body>
</html>