<extend name="Public:main"/>
<block name="content">

    <!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
        <!--<div class="top_arrow"></div>-->
        <!--<h4>我的关注</h4>-->
    <!--</div>-->
    <empty name="info">

        <style>
            .helftopbox{width:40px;}
            .blank{
                width:100%;
                height: auto;
                margin: 150px 0 0 0;
                text-align: center;
            }
            .blank .text{
                font-size: 12px;
                color: #919191;
                line-height: 40px;
            }
            .blank a{
                font-size: 12px;
                color: #f45353;
                line-height: 40px;
            }
            .blank_pic{
                width:54px;
                height: 54px;
                margin: 0 auto;
            }
            .blank_pic img{
                width:54px;
                height: 54px;
            }
            .stantic_lang_2_text p{
               height: 20px;
               overflow-y: hidden;
            
            }
        </style>

        <div class="blank">
            <div class="blank_pic">
                <img src="__PUBLIC__/Home/images/new/zu.png">
            </div>
            <div class="text">抱歉，暂时没有关注</div>
        </div>


        <else />

        <volist name="info" id="vo">
            <div class="stantic_3">
                <a href="{:U('List/content',array('id'=>$vo['project_id']))}">
                    <div class="stantic_3_in">
                        <div class="stantic_3_in_text">
                            <p>{$vo.time}</p>
                            <!--<p>09:09</p>-->
                        </div>
                        <div class="stantic_lang_2_img">
                            <img height="49" src="{$vo.pic}">
                        </div>
                        <div class="stantic_lang_2_text">

                            <h3 style="line-height:26px;">{$vo.project_title}</h3>

                            <!-- <div class="stantic_lang_2_icon">
                            </div> -->
                            <span style="color:#797979;height:20px;overflow-y:hidden">{$vo.project_des|htmlspecialchars_decode} </span>
                        </div>
                    </div>
                </a>
            </div>
        </volist>
      <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
      <script>
          var text=$('.stantic_lang_2_text p');
          var span=$('.stantic_lang_2_text span');
          var h3=$('.stantic_lang_2_text h3');
          var lang=$.grep(h3,function(){
              h3.each(function(){
                  $(this).html().length>13;
              });
          });
          
          text.css('font-size','14px');
          span.css('font-size','14px');
          </script>
    </empty>
    </block>