<extend name="Public:main"/>
<block name="content">

    <!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
        <!--<div class="top_arrow"></div>-->
        <!--<h4>我的关注</h4>-->
    <!--</div>-->
    <volist name="info" id="vo">
        <div class="stantic_3">
        <div class="stantic_3_in">
            <div class="stantic_3_in_text">
                <p>{$vo.time}</p>
                <!--<p>09:09</p>-->
            </div>
            <div class="stantic_lang_2_img">
                <img src="__PUBLIC__/Home/images/new/img_1.jpg">
            </div>
            <div class="stantic_lang_2_text">

                <h3>{$vo.title}</h3>

                <div class="stantic_lang_2_icon">
                </div>
                <span>{$vo.des} </span>
            </div>
        </div>
    </div>
    </volist>


    </block>