<extend name="Public:main"/>
<block name="content">

    <!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
        <!--<div class="top_arrow"></div>-->
        <!--<h4>我的关注</h4>-->
    <!--</div>-->
    <empty name="info">

        <style>
            .helftopbox{width:40px;}
            .blank{
                width:100%;
                height: auto;
                margin: 150px 0 0 0;
                text-align: center;
            }
            .blank .text{
                font-size: 12px;
                color: #919191;
                line-height: 40px;
            }
            .blank a{
                font-size: 12px;
                color: #f45353;
                line-height: 40px;
            }
            .blank_pic{
                width:54px;
                height: 54px;
                margin: 0 auto;
            }
            .blank_pic img{
                width:54px;
                height: 54px;
            }
        </style>

        <div class="blank">
            <div class="blank_pic">
                <img src="__PUBLIC__/Home/images/new/zu.png">
            </div>
            <div class="text">抱歉，暂时没有关注</div>
        </div>


        <else />
        <volist name="info" id="vo">
            <div class="stantic_3">
            <div class="stantic_3_in">
                <div class="stantic_3_in_text">
                    <p>{$vo.time}</p>
                    <!--<p>09:09</p>-->
                </div>
                <div class="stantic_lang_2_img">
                    <img src="__PUBLIC__/Home/images/new/img_1.jpg">
                </div>
                <div class="stantic_lang_2_text">

                    <h3>{$vo.title}</h3>

                    <div class="stantic_lang_2_icon">
                    </div>
                    <span>{$vo.des} </span>
                </div>
            </div>
        </div>
        </volist>

    </empty>
    </block>