<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/o_1.js"></script>
    <title>我的订单</title>
    <!--
    <script>
      var sch=window.availHeight;
      var allsch=document.getElementsByClassName("all");
      function(){
         allsch.style.height=sch+"px" ;
      }
    window.onload=function();
    </script>
    -->
</head>
<body>
<div class="page">
    <!--<div style="border-bottom:1px solid #cccccc" class="top">-->
        <!--<div class="top_arrow"></div>-->
        <!--<h4>我的订单</h4>-->
    <!--</div>-->
    <volist name="info" id="vo">

        <div class="content">
        <div class="content_in">
            <p> {$vo.pay_time}</p>
            <!--<p>(一个)</p>-->
        </div>
        <div class="content_card">
            <div class="content_r">
                <div class="content_bin">
                    <div class="content_litile">
                    </div>
                    <p>项目状态</p>
                    <p style="float:right;">{$vo.status_name}</p>
                </div>
                <div class="content_bin">
                    <div class="content_litile">
                    </div>
                    <p>项目名称</p>
                    <div class="content_bl">
                        <p style="color:#CCCCCC;">{$vo.project_name}</p>
                    </div>
                    <img style="position:relative;top:-5px;float:right" src="__PUBLIC__/Home/images/back.png">
                </div>
                <div class="content_bin">
                    <div class="content_litile">
                    </div>
                    <p>项目时间</p>
                    <p style="float:right;">{$vo.start_time}</p>
                </div>
            </div>
            <div class="content_l" style="position: relative;">
                <img src="__PUBLIC__/Home/images/new/box_2.png">
                <span style="display:block;width:23px;text-align:center;position: absolute;left:20px;top:35px;margin-left:-8px;">{$vo.pay_amount}</span>
            </div>
        </div>
    </div>

    </volist>

</div>

</body>
</html>
