<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <title>红叶帮帮忙</title>
    <!--
    <script>
      var sch=window.availHeight;
      var allsch=document.getElementsByClassName("all");
      function(){
         allsch.style.height=sch+"px" ;
      }
    window.onload=function();
    </script>
    -->


</head>
<body>
<div style="background:#D1D1D1" class="page">
    <div class="content">
        <div class="content_in">
            <p>2017.09.09</p>
            <p>(一个)</p>
        </div>
        <div class="content_card">
            <div class="content_r">
                <div class="content_bin">
                    <div class="content_litile">
                    </div>
                    <p>项目状态</p>
                    <p style="float:right;">进行中</p>
                </div>
                <div class="content_bin">
                    <div class="content_litile">
                    </div>
                    <p>项目名称</p>
                    <p style="color:#CCCCCC;">都是速度发盖豆</p>
                    <img style="position:relative;top:-5px;float:right" src="__PUBLIC__/Home/images/返回.png">
                </div>
                <div class="content_bin">
                    <div class="content_litile">
                    </div>
                    <p>项目时间</p>
                    <p style="float:right;">2017.09.08</p>
                </div>
            </div>
            <div class="content_l">
                <img src="__PUBLIC__/Home/images/箱子.png">
            </div>
        </div>
    </div>   <div class="content">
    <div class="content_in">
        <p>2017.09.09</p>
        <p>(一个)</p>
    </div>
    <div class="content_card">
        <div class="content_r">
            <div class="content_bin">
                <div class="content_litile">
                </div>
                <p>项目状态</p>
                <p style="float:right;">进行中</p>
            </div>
            <div class="content_bin">
                <div class="content_litile">
                </div>
                <p>项目名称</p>
                <p style="color:#CCCCCC;">都是覆试试盖豆</p>
                <img style="position:relative;top:-5px;float:right" src="__PUBLIC__/Home/images/返回.png">
            </div>
            <div class="content_bin">
                <div class="content_litile">
                </div>
                <p>项目时间</p>
                <p style="float:right;">2017.09.08</p>
            </div>
        </div>
        <div class="content_l">
            <img src="__PUBLIC__/Home/images/箱子.png">
        </div>
    </div>
</div>
</div>

</body>
</html>
