<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/out.css">
    <title>余额提现</title>
</head>
<body>
<div class="out_card_1">
    <div class="out_card_in">
        <p>姓名：</p>
        <input type="text" placeholder="请输入姓名">
    </div>
    <div class="out_card_in">
        <p>银行卡：</p>
        <input type="text" placeholder="请输入银行卡">
    </div>
    <div style="border:none" class="out_card_in">
        <p>开户行：</p>
        <input type="text" placeholder="请输入开户行">
    </div>
</div>
<div class="out_card_2">
    <div class="out_card_bin">
        <p>提现金额</p>
        <span>￥</span>
        <input type="text" placeholder="">
    </div>
    <div class="out_card_binl">
        <p>当前账户余额230元，</p>
        <p style="color:#f45353">全部提现</p>
        <button type="submit">提现</button>
        <div style="text-align:center" class="text">
            <p>2小时内到账</p>
        </div>
    </div>
</div>
</body>
</html>
