<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/out.css">
    <title>余额提现</title>

</head>
<body>
    <style>
  .out_card_2{
    margin: 10px 15px;
    background: #ffffff;
    border-radius: 5px;
    padding:10px 20px 10px 20px;
    height: 240px;
}
        </style>
<div class="out_card_1">
    <div class="out_card_in">
        <p>姓名：</p>
        <input type="text" placeholder="请输入姓名" id="name">
    </div>
    <div class="out_card_in">
        <p>银行卡：</p>
        <input type="text" placeholder="请输入银行卡卡号" id="cards">
    </div>
    <div style="border:none" class="out_card_in">
        <p>开户行：</p>
        <input type="text" placeholder="请输入开户行支行" id="address">
    </div>
</div>
<div class="out_card_2">
    <div style="border-bottom: 1px solid #f2f2f2;" class="out_card_bin">
        <p>提现金额</p>
        <span style="line-height:46px;font-size:30px;">￥</span>
        <input style="outline:none;font-size:30px;width:160px;line-height:43px;" type="text" id="yue" placeholder="">
    </div>
    <div class="out_card_binl">
        <p>当前账户余额{$balance}元，</p>
        <p style="color:#f45353" id="all">全部提现</p>
        <button type="submit" id="sub">提现</button>
        <div style="text-align:center" class="text">
            <p>1-3个工作日内到账</p>
        </div>
    </div>
</div>
</body>
<script tyep="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
<script>
    $(function(){
        var text=$('.out_card_in input')
        text.each(function(){
            $(this).css('color','#484848')
        })
        $('#sub').click(function(){
            var balance = '{$balance}';
            var name = $('#name').val();
            var address = $('#address').val();
            var cards = $('#cards').val();
            var yue = $('#yue').val();
            if(!name){
                alert('姓名不能为空！');
                return false;
            }
            if(!cards){
                alert('银行卡号不能为空！');
                return false;
            }
            if(!address){
                alert('开户地址不能为空！');
                return false;
            }
            if(!yue){
                alert('提现金额不能为空！');
                return false;
            }
            if(parseInt(yue) > parseInt(balance)){
                alert('可提现金额不足！');
                return false;
            }
            var info = {type:1,yue:yue,name:name,address:address,cards:cards}
            $.post("{:U('Center/addout')}",info,function(data){

                if(data.status == 1){
                    alert('提交申请成功！');
                    location.href= "{:U('center/index')}";
                }else{
                    alert(data.info);
                    location.href= "{:U('center/index')}";
                }
            })
        })

        $('#all').click(function(){
            var name = $('#name').val();
            var address = $('#address').val();
            var cards = $('#cards').val();
            if(!name){
                alert('姓名不能为空！');
                return false;
            }
            if(!cards){
                alert('银行卡号不能为空！');
                return false;
            }
            if(!address){
                alert('开户地址不能为空！');
                return false;
            }

            var info = {type:2,name:name,address:address,cards:cards}
            $.post("{:U('Center/addout')}",info,function(data){
                if(data.status == 1){
                    alert('提交申请成功！');
                }else{
                    alert(data.info);
                }
            })
        })
    })
</script>
</html>


