<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/payreturn.css">
    <title>红叶帮帮忙</title>
</head>
<!--项目回报设置-->
<body>
<div id="bg" class="background">
    <div class="in_return">
        <div class="in_return_r">
            <img src="../pics/new/close.png">
        </div>

        <div class="return_re">
            <ul>
                <li><p>回报金额</p><input id="amount" type="text" placeholder="设置回报金额"></li>
                <li><p>回报标题</p><input value="" type="text" placeholder="设置回报标题"></li>
                <li><p>回报简介</p><input value="" type="text" placeholder="设置回报简介"></li>
                <li><p>规则设置</p><input value="" type="text" placeholder="设置回报规则"><div class="return_add">
                    <img src="../pics/new/plus.png">
                </div></li>
            </ul>
            <button id="upload" type="submit" value="提交">提交</button>
        </div>
    </div>
</div>
<div class="page">
    <div class="return_all">
        <div class="return_in">
            <p>支持金额</p>
            <p>8000</p>
        </div>
        <div class="return_in">
            <p>回报标题</p>
            <p>8000</p>
        </div>
        <div class="return_bin">
            <p>回报简介</p>
            <div class="return_b">
                <span>发货撒打开就发货快发动机号时代扣积分还是地方见客户四大家看法合适的房价开始对话方块</span>
            </div>
        </div>
        <div style="border:none" class="return_bin">
            <p>规则设置</p>
            <div class="return_b">
                <span>发货撒打开就发货快发动机号时代扣积分还是地方见客户四大家看法合适的房价开始对话方块</span>
            </div>
        </div>
    </div>
</div>
<div id="add" class="add">
    <img src="../pics/new/add.png">
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/return.js"></script>
</body>
</html>