<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/center.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
        <div class="top">
                <div class="top_box">
                  <div class="top_img">
                      <a href="index.html"><img alt="hongye logo" src="images/logo.png"></a>
                  </div>
                     <ul>
                          <li><a>首页</a></li>
                          <li><a>浏览项目</a></li>
                          <li><a>关注公众号</a></li>
                          <li><a>帮助中心</a></li>
                      </ul>
              </div>
              <div class="top_box">
                  <div class="search">
                      <input type="text" placeholder="请输入搜索内容" value="">
                      </div>
                  <div id="btn_1" class="start">
                      <a>发起项目</a>
                      </div>
                  <div class="text">
                      <div class="text_child">
                          <a>登录</a>
                          </div>
                      <div class="text_child none">
                          <a>注册</a>
                      </div>
              </div>
           </div>
           </div>
<div class="pag">
    <div class="card_left">
        <div class="card_img">
            <div class="card_img_pic">
                <img src="images/girl.jpg">
                </div>
            <a>我的姓名</a>
            </div>
        <div class="card_text">
            <a>我的项目</a>
            <a>个人设置</a>
            <img src="images/seting_2.png">
            </div>
        </div>
    <div class="card_right">
        <div class="title">
            <p>我发起的项目</p>
        </div>
        <div class="card_right_box">
            <div class="card_grey">
                <div class="card_grey_img">
                    <img src="images/girl.jpg">
                    </div>
                <div class="card_grey_text">
                    <div class="card_in_btn">
                        <div class="card_btn_1">
                            <a>公益</a>
                            </div>
                            <div class="card_btn_2">
                                <a>草稿中</a>
                                </div>
                        </div>
                    <div class="card_in_name">
                        <p>项目名称</p>
                        </div>
                    <div class="card_in_b">
                        <img src="images/addr.png">
                        <p>项目地点</p>
                        </div>
                    </div>
                </div>
                <div class="card_bottom">
                        <div class="card_bottom_in">
                            <a>预览项目</a>
                            </div>
                            <div class="card_bottom_in">
                                    <a>重新编辑</a>
                                </div>
                                <div class="card_bottom_ins">
                                        <a>提交审核</a>
                                    </div>
                        </div>
            </div>
        </div>
    </div>
<div class="bottom">
    <div class="bottom_text">
        <a>关于我们</a>
        </div>
        <div class="bottom_text">
                <a>使用协议</a>
                </div>
                <div class="bottom_text">
                        <a>用户指南</a>
                        </div>
                        <div style="border:none" class="bottom_text none">
                                <a>新浪微博</a>
                                </div>
    </div>
<div class="blow">
    <p>Copyright © 2017 帮帮忙-厦门红叶帮帮忙科技有限公司</p>
    </div>
</body>
</html>

    