<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/content.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
        <div class="top">
                <div class="top_box">
                  <div class="top_img">
                      <a href="index.html"><img alt="hongye logo" src="images/logo.png"></a>
                  </div>
                     <ul>
                          <li><a>首页</a></li>
                          <li><a>浏览项目</a></li>
                          <li><a>关注公众号</a></li>
                          <li><a href="helps_1.html">帮助中心</a></li>
                      </ul>
              </div>
              <div class="top_box">
                  <div class="search">
                      <input type="text" placeholder="请输入搜索内容" value="">
                      </div>
                  <div id="btn_1" class="start">
                      <a>发起项目</a>
                      </div>
                  <div class="text">
                      <div class="text_child">
                          <a>登录</a>
                          </div>
                      <div class="text_child none">
                          <a>注册</a>
                      </div>
              </div>
           </div>
           </div>
        <div class="banner">
            <img alt="项目封面大图" src="images/banner-1.jpg">
            <h2>种瓜得瓜，种豆得豆，呵呵</h2>
            <div class="banner_pic">
                <img alt="用户头像" src="images/girl.jpg">
                <a>用户名称</a>
                <p>城市</p>
                </div>
            <div class="little_card_1">
                <h1>41</h1>
                <p>天</p>
                </div>
                <div style=" left:446px;" class="little_card_1">
                        <h1>41</h1>
                        <p>时</p>
                    </div>
                    <div style="left:542px;" class="little_card_1">
                            <h1>41</h1>
                            <p>分</p>
                        </div>
            </div>
        <div class="content">
            <div class="content_content">
                <section>
                    <!--项目内容在此-->
                    </section>
                </div>
         <div class="content_conts">   
            <div class="content_text">
                <div class="content_conts_1">
                    <h3>￥200</h3>
                    <p>已有5人支持</p>
                    </div>
                <div class="content_conts_2">
                    <h4>感谢您的支持</h4>
                    <p>环境恢复健康速度恢复健康速度恢复健康速度恢复健康</p>
                    <p>环境恢复健康速度恢复健康速度恢复健康速度恢复健康</p>
                    <p>环境恢复健康速度恢复健康速度恢复健康速度恢复健康</p>
                    </div>
                <div class="content_conts_3">
                    <p>配送说明：全国地区免费配送</p>
                    </div>
                <div class="content_conts_4">
                    <p>发送回报时间</p>
                    <p>一个月后</p>
                    </div>
                <div class="content_conts_5">
                    <div class="content_conts_btn">
                        <a>我要支持</a>
                        </div>
                    </div>
                <div class="wechat_box">
                    <h1>扫码关注公众号支持</h1>
                    <div class="wechat_box_box">
                        <img src="images/code.png">
                        </div>
                    </div>
                </div>
                <div class="content_text">
                        <div class="content_conts_1">
                            <h3>￥200</h3>
                            <p>已有5人支持</p>
                            </div>
                        <div class="content_conts_2">
                            <h4>感谢您的支持</h4>
                            <p>环境恢复健康速度恢复健康速度恢复健康速度恢复健康</p>
                            <p>环境恢复健康速度恢复健康速度恢复健康速度恢复健康</p>
                            <p>环境恢复健康速度恢复健康速度恢复健康速度恢复健康</p>
                            </div>
                        <div class="content_conts_3">
                            <p>配送说明：全国地区免费配送</p>
                            </div>
                        <div class="content_conts_4">
                            <p>发送回报时间</p>
                            <p>一个月后</p>
                            </div>
                        <div class="content_conts_5">
                            <div class="content_conts_btn">
                                <a>我要支持</a>
                                </div>
                            </div>
                            <div class="wechat_box">
                                    <h1>扫码关注公众号支持</h1>
                                    <div class="wechat_box_box">
                                        <img src="images/code.png">
                                        </div>
                                    </div>
                    </div>
            </div>
        </div>
</body>
</html>