<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/helps.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
        <div class="bg">
                <div class="erweima">
                    <img src="images/erweima.png" alt="公众号二维码">
                    </div>
                </div>
        <div class="top">
                <div class="top_box">
                  <div class="top_img">
                      <a href="index.html"><img alt="hongye logo" src="images/logo.png"></a>
                  </div>
                     <ul>
                          <li><a href="index.html">首页</a></li>
                          <li><a href="lookprojects.html">浏览项目</a></li>
                          <li id="code"><a >关注公众号</a></li>
                          <li class="active"><a class="active" href="helps_1.html">帮助中心</a></li>
                      </ul>
              </div>
              <div class="top_box">
                  <div class="search">
                      <input type="text" placeholder="请输入搜索内容" value="">
                      </div>
                  <div id="btn_1" class="start">
                      <a>发起项目</a>
                      </div>
                  <div class="text">
                      <div class="text_child">
                          <a>登录</a>
                          </div>
                      <div class="text_child none">
                          <a>注册</a>
                      </div>
              </div>
           </div>
           </div>
        <div class="contain">
            <div class="contain_left">
                <ul>
                    <li><a href="helps_1.html">常见问题</a></li>
                    <li><a href="helps_2.html">发起人手册</a></li>
                    <li><a href="helps_3.html">支持者手册</a></li>
                    <li class="act" style="border-bottom:1px solid #e5e5e5"><a class="colors" href="helps_4.html">法律协议</a></li>
                </ul>
                </div>
            <div class="contain_right">
                    <div class="contain_right_in">
                            <div class="contain_right_lit"> 
                             <h1>遵守当地法律监管</h1>
                             <img id="open" src="images/helps_2.png">
                             </div>
                             <p>您在使用本服务过程中应当遵守当地法律法规，并尊重当地道德和风俗习惯。若您存在违反的情形，您应当为此独立承担责任。 
                                如您所属的国家或地区禁止或限制本协议内容的全部或部分，您应立即停止使用本服务。 
                                您应避免因使用本服务而使红叶帮帮忙卷入政治和公共事件，否则红叶帮帮忙有权暂停或终止服务。 
                                </p>
                             </div>
                             <div class="contain_right_in">
                                     <div class="contain_right_lit"> 
                                      <h1>知识产权保护</h1>
                                      <img id="open_1" src="images/helps_2.png">
                                      </div>
                                      <p>红叶帮帮忙在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归红叶帮帮忙及相关公司所有，您在使用本服务中所产生内容的知识产权归您或相关权利人所有。 
                                        除另有特别声明外，红叶帮帮忙提供本服务时所依托软件的著作权、专利权及其他知识产权均归红叶帮帮忙及相关公司所有。 
                                        红叶帮帮忙在本服务中所使用的“红叶帮帮忙”等商业标识，其著作权或商标权归红叶帮帮忙所有。 
                                        上述知识产权均受到法律保护，未经红叶帮帮忙、您或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。 
                                        </p>
                                      </div>
                                      <div class="contain_right_in">
                                             <div class="contain_right_lit"> 
                                              <h1>法律适用及争端解决</h1>
                                              <img id="open_2" src="images/helps_2.png">
                                              </div>
                                              <p>本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。 
                                                您和红叶帮帮忙因本协议产生任何纠纷或争议的，应友好协商解决；协商不成，可提交杭州市余杭区人民法院解决。
                                                </p>
                                              </div>
                </div>
            </div>
    <script>
        $('#open').toggle(function(){
            $('.contain_right_in:eq(0)>p').css('display','block');
            $('#open').attr('src','images/helps_1.png');
        },function(){
            $('.contain_right_in:eq(0)>p').css('display','none');
            $('#open').attr('src','images/helps_2.png');
        })
        $('#open_1').toggle(function(){
            $('.contain_right_in:eq(1)>p').css('display','block');
            $('#open_1').attr('src','images/helps_1.png');
        },function(){
            $('.contain_right_in:eq(1)>p').css('display','none');
            $('#open_1').attr('src','images/helps_2.png');
        })
        $('#open_2').toggle(function(){
            $('.contain_right_in:eq(2)>p').css('display','block');
            $('#open_2').attr('src','images/helps_1.png');
        },function(){
            $('.contain_right_in:eq(2)>p').css('display','none');
            $('#open_2').attr('src','images/helps_2.png');
        })
        </script>
</body>
</html>