<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery.event.drag-1.5.min.js"></script> -->
<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
    <div class="bg">
        <div class="erweima">
            <img src="images/erweima.png" alt="公众号二维码">
            </div>
        </div>
    <div class="top">
      <div class="top_box">
        <div class="top_img">
            <a href="#"><img alt="hongye logo" src="images/logo.png"></a>
        </div>
           <ul>
                <li id="index" class="active"><a class="active">首页</a></li>
                <li><a href="lookprojects.html">浏览项目</a></li>
                <li id="code"><a>关注公众号</a></li>
                <li><a href="helps_1.html">帮助中心</a></li>
            </ul>
    </div>
    <div class="top_box">
        <div class="search">
            <input type="text" placeholder="请输入搜索内容" value="">
            </div>
        <div id="btn_1" class="start">
            <a>发起项目</a>
            </div>
        <div class="text">
            <div class="text_child">
                <a>登录</a>
                </div>
            <div class="text_child none">
                <a>注册</a>
            </div>
    </div>
 </div>
 </div>
 <div class="main_visual">
        <div class="flicking_con">
            <a >1</a>
            <a >2</a>
            <a >3</a>

        </div>
        <div class="main_image">
            <ul>
                    <li><span><a href=""><img id="b_{$ak + 1}" src="images/banner-1.jpg"></a></span></li>
                    <li><span><a href=""><img id="b_{$ak + 1}" src="images/banner-2.jpg"></a></span></li>
                    <li><span><a href=""><img id="b_{$ak + 1}" src="images/banner-3.jpg"></a></span></li>
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>

        </div>
    </div>
 <div class="mid">
     <div class="mid_top">
         <div class="mid_top_lang">
             <img src="images/lang_1.png">
             </div>
             <div class="mid_top_mid">
                 <p>热门项目</p>
                </div>
         <div class="mid_top_lang">
             <img src="images/lang_2.png">
             </div>  
         </div>

      <div class="mid_mid">
            <ul>
                    <li>
                            <div class="card_img">
                                    <div class="card_img_little">
                                        <p>公益</p>
                                        </div>
                                    <img src="images/creates.jpg">
                                    </div>
                            <div class="card_text">
                                <div class="card_text_right">
                                    <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                    </div>
                                <div class="card_text_left">
                                    <img src="images/addr.png">
                                    <p>厦门</p>
                                    </div>
                                </div>
                                <div class="card_going">
                                    <div class="card_going_1">
                                        <div class="card_going_2">
        
                                            </div>
                                        </div>
                                        <div class="card_going_circle">
                                            <p>100%</p>
                                            </div>
                                    </div>
                                <div class="card_bottom">
                                            <div class="card_bottom_card">
                                                    <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                <p>目标金额</p>
                                                </div>
                                                <div  class="card_bottom_card">
                                                        <h1>10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                    </div>
                    </li>
                    <li>
                            <div class="card_img">
                                    <div class="card_img_little">
                                        <p>公益</p>
                                        </div>
                                    <img src="images/banner-2.jpg">
                                    </div>
                            <div class="card_text">
                                <div class="card_text_right">
                                    <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                    </div>
                                <div class="card_text_left">
                                    <img src="images/addr.png">
                                    <p>厦门</p>
                                    </div>
                                </div>
                                <div class="card_going">
                                    <div class="card_going_1">
                                        <div class="card_going_2">
        
                                            </div>
                                        </div>
                                        <div class="card_going_circle">
                                            <p>100%</p>
                                            </div>
                                    </div>
                                <div class="card_bottom">
                                            <div class="card_bottom_card">
                                                    <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                <p>目标金额</p>
                                                </div>
                                                <div  class="card_bottom_card">
                                                        <h1>10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                    </div>
                    </li>
                    <li>
                            <div class="card_img">
                                    <div class="card_img_little">
                                        <p>公益</p>
                                        </div>
                                    <img id="pic" src="images/girl.jpg">
                                    </div>
                            <div class="card_text">
                                <div class="card_text_right">
                                    <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                    </div>
                                <div class="card_text_left">
                                    <img src="images/addr.png">
                                    <p>厦门</p>
                                    </div>
                                </div>
                                <div class="card_going">
                                    <div class="card_going_1">
                                        <div class="card_going_2">
        
                                            </div>
                                        </div>
                                        <div class="card_going_circle">
                                            <p>100%</p>
                                            </div>
                                    </div>
                                <div class="card_bottom">
                                            <div class="card_bottom_card">
                                                    <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                <p>目标金额</p>
                                                </div>
                                                <div  class="card_bottom_card">
                                                        <h1>10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                    </div>
                    </li>
                    <li>
                            <div class="card_img">
                                    <div class="card_img_little">
                                        <p>公益</p>
                                        </div>
                                    <img src="images/girl.jpg">
                                    </div>
                            <div class="card_text">
                                <div class="card_text_right">
                                    <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                    </div>
                                <div class="card_text_left">
                                    <img src="images/addr.png">
                                    <p>厦门</p>
                                    </div>
                                </div>
                                <div class="card_going">
                                    <div class="card_going_1">
                                        <div class="card_going_2">
        
                                            </div>
                                        </div>
                                        <div class="card_going_circle">
                                            <p>100%</p>
                                            </div>
                                    </div>
                                <div class="card_bottom">
                                            <div class="card_bottom_card">
                                                    <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                <p>目标金额</p>
                                                </div>
                                                <div  class="card_bottom_card">
                                                        <h1>10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                    </div>
                    </li>
                    <li>
                            <div class="card_img">
                                    <div class="card_img_little">
                                        <p>公益</p>
                                        </div>
                                    <img src="images/girl.jpg">
                                    </div>
                            <div class="card_text">
                                <div class="card_text_right">
                                    <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                    </div>
                                <div class="card_text_left">
                                    <img src="images/addr.png">
                                    <p>厦门</p>
                                    </div>
                                </div>
                                <div class="card_going">
                                    <div class="card_going_1">
                                        <div class="card_going_2">
        
                                            </div>
                                        </div>
                                        <div class="card_going_circle">
                                            <p>100%</p>
                                            </div>
                                    </div>
                                <div class="card_bottom">
                                            <div class="card_bottom_card">
                                                    <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                <p>目标金额</p>
                                                </div>
                                                <div  class="card_bottom_card">
                                                        <h1>10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                    </div>
                    </li>
                    <li>
                            <div class="card_img">
                                    <div class="card_img_little">
                                        <p>公益</p>
                                        </div>
                                    <img src="images/girl.jpg">
                                    </div>
                            <div class="card_text">
                                <div class="card_text_right">
                                    <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                    </div>
                                <div class="card_text_left">
                                    <img src="images/addr.png">
                                    <p>厦门</p>
                                    </div>
                                </div>
                                <div class="card_going">
                                    <div class="card_going_1">
                                        <div class="card_going_2">
        
                                            </div>
                                        </div>
                                        <div class="card_going_circle">
                                            <p>100%</p>
                                            </div>
                                    </div>
                                <div class="card_bottom">
                                            <div class="card_bottom_card">
                                                    <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                <p>目标金额</p>
                                                </div>
                                                <div  class="card_bottom_card">
                                                        <h1>10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                    </div>
                    </li>
                    
                </ul>
    </div>
    <div class="mid_top">
            <div class="mid_top_lang">
                <img src="images/lang_1.png">
                </div>
                <div class="mid_top_mid">
                    <p>热门项目</p>
                   </div>
            <div class="mid_top_lang">
                <img src="images/lang_2.png">
                </div>  
            </div>
            <div class="mid_mid">
                    <ul>
                            <li>
                                    <div class="card_img">
                                            <div class="card_img_little">
                                                <p>公益</p>
                                                </div>
                                            <img src="images/girl.jpg">
                                            </div>
                                    <div class="card_text">
                                        <div class="card_text_right">
                                            <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                            </div>
                                        <div class="card_text_left">
                                            <img src="images/addr.png">
                                            <p>厦门</p>
                                            </div>
                                        </div>
                                        <div class="card_going">
                                            <div class="card_going_1">
                                                <div class="card_going_2">
                
                                                    </div>
                                                </div>
                                                <div class="card_going_circle">
                                                    <p>100%</p>
                                                    </div>
                                            </div>
                                        <div class="card_bottom">
                                                    <div class="card_bottom_card">
                                                            <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div  class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                                                <div class="card_bottom_card">
                                                                        <h1>10000</h1>
                                                                        <p>目标金额</p>
                                                                        </div>
                                            </div>
                            </li>
                            <li>
                                    <div class="card_img">
                                            <div class="card_img_little">
                                                <p>公益</p>
                                                </div>
                                            <img src="images/girl.jpg">
                                            </div>
                                    <div class="card_text">
                                        <div class="card_text_right">
                                            <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                            </div>
                                        <div class="card_text_left">
                                            <img src="images/addr.png">
                                            <p>厦门</p>
                                            </div>
                                        </div>
                                        <div class="card_going">
                                            <div class="card_going_1">
                                                <div class="card_going_2">
                
                                                    </div>
                                                </div>
                                                <div class="card_going_circle">
                                                    <p>100%</p>
                                                    </div>
                                            </div>
                                        <div class="card_bottom">
                                                    <div class="card_bottom_card">
                                                            <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div  class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                                                <div class="card_bottom_card">
                                                                        <h1>10000</h1>
                                                                        <p>目标金额</p>
                                                                        </div>
                                            </div>
                            </li>
                            <li>
                                    <div class="card_img">
                                            <div class="card_img_little">
                                                <p>公益</p>
                                                </div>
                                            <img src="images/girl.jpg">
                                            </div>
                                    <div class="card_text">
                                        <div class="card_text_right">
                                            <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                            </div>
                                        <div class="card_text_left">
                                            <img src="images/addr.png">
                                            <p>厦门</p>
                                            </div>
                                        </div>
                                        <div class="card_going">
                                            <div class="card_going_1">
                                                <div class="card_going_2">
                
                                                    </div>
                                                </div>
                                                <div class="card_going_circle">
                                                    <p>100%</p>
                                                    </div>
                                            </div>
                                        <div class="card_bottom">
                                                    <div class="card_bottom_card">
                                                            <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div  class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                                                <div class="card_bottom_card">
                                                                        <h1>10000</h1>
                                                                        <p>目标金额</p>
                                                                        </div>
                                            </div>
                            </li>
                            <li>
                                    <div class="card_img">
                                            <div class="card_img_little">
                                                <p>公益</p>
                                                </div>
                                            <img src="images/girl.jpg">
                                            </div>
                                    <div class="card_text">
                                        <div class="card_text_right">
                                            <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                            </div>
                                        <div class="card_text_left">
                                            <img src="images/addr.png">
                                            <p>厦门</p>
                                            </div>
                                        </div>
                                        <div class="card_going">
                                            <div class="card_going_1">
                                                <div class="card_going_2">
                
                                                    </div>
                                                </div>
                                                <div class="card_going_circle">
                                                    <p>100%</p>
                                                    </div>
                                            </div>
                                        <div class="card_bottom">
                                                    <div class="card_bottom_card">
                                                            <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div  class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                                                <div class="card_bottom_card">
                                                                        <h1>10000</h1>
                                                                        <p>目标金额</p>
                                                                        </div>
                                            </div>
                            </li>
                            <li>
                                    <div class="card_img">
                                            <div class="card_img_little">
                                                <p>公益</p>
                                                </div>
                                            <img src="images/girl.jpg">
                                            </div>
                                    <div class="card_text">
                                        <div class="card_text_right">
                                            <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                            </div>
                                        <div class="card_text_left">
                                            <img src="images/addr.png">
                                            <p>厦门</p>
                                            </div>
                                        </div>
                                        <div class="card_going">
                                            <div class="card_going_1">
                                                <div class="card_going_2">
                
                                                    </div>
                                                </div>
                                                <div class="card_going_circle">
                                                    <p>100%</p>
                                                    </div>
                                            </div>
                                        <div class="card_bottom">
                                                    <div class="card_bottom_card">
                                                            <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div  class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                                                <div class="card_bottom_card">
                                                                        <h1>10000</h1>
                                                                        <p>目标金额</p>
                                                                        </div>
                                            </div>
                            </li>
                            <li>
                                    <div class="card_img">
                                            <div class="card_img_little">
                                                <p>公益</p>
                                                </div>
                                            <img src="images/girl.jpg">
                                            </div>
                                    <div class="card_text">
                                        <div class="card_text_right">
                                            <p>子非鱼焉知鱼之乐？子非吾焉知吾不知鱼之乐？滚你妈的。。。。</p>
                                            </div>
                                        <div class="card_text_left">
                                            <img src="images/addr.png">
                                            <p>厦门</p>
                                            </div>
                                        </div>
                                        <div class="card_going">
                                            <div class="card_going_1">
                                                <div class="card_going_2">
                
                                                    </div>
                                                </div>
                                                <div class="card_going_circle">
                                                    <p>100%</p>
                                                    </div>
                                            </div>
                                        <div class="card_bottom">
                                                    <div class="card_bottom_card">
                                                            <h1><!-- <p class="inli">￥</p> -->10000</h1>
                                                        <p>目标金额</p>
                                                        </div>
                                                        <div  class="card_bottom_card">
                                                                <h1>10000</h1>
                                                                <p>目标金额</p>
                                                                </div>
                                                                <div class="card_bottom_card">
                                                                        <h1>10000</h1>
                                                                        <p>目标金额</p>
                                                                        </div>
                                            </div>
                            </li>
                            
                        </ul>
            </div>

     </div>
    
       <div class="add">
                <div class="add_child">
                    <a>查看更多</a>
                    </div>
                </div>
    <div class="bottom">
        <div class="bottom_text">
            <a>关于我们</a>
            </div>
            <div class="bottom_text">
                    <a>使用协议</a>
                    </div>
                    <div class="bottom_text">
                            <a>用户指南</a>
                            </div>
                            <div style="border:none" class="bottom_text none">
                                    <a>新浪微博</a>
                                    </div>
        </div>
    <div class="blow">
        <p>Copyright © 2017 帮帮忙-厦门红叶帮帮忙科技有限公司</p>
        </div>

 <script type="text/javascript">
    /* 轮播代码 */
    var width=$(window).width();
    var height=width*0.447;
    var img=$('#vad>li>span>a img');
    img.css({'width':width,'height':height})

    $(document).ready(function(){
        $(".main_visual").hover(function(){
            $("#btn_prev,#btn_next").fadeIn()
        },function(){
            $("#btn_prev,#btn_next").fadeOut()
        });

        $dragBln = false;

        $(".main_image").touchSlider({
            flexible : true,
            speed : 200,
            btn_prev : $("#btn_prev"),
            btn_next : $("#btn_next"),
            paging : $(".flicking_con a"),
            counter : function (e){
                $(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
            }
        });

        $(".main_image").bind("mousedown", function() {
            $dragBln = false;
        });

        $(".main_image").bind("dragstart", function() {
            $dragBln = true;
        });

        $(".main_image a").click(function(){
            if($dragBln) {
                return false;
            }
        });

        timer = setInterval(function(){
            $("#btn_next").click();
        }, 2500);

    });
    //二维码
    $('#code').click(function(){
        $(this).addClass('active');
        $('#code a').addClass('active');
        $('#index').removeClass('active');
        $('#index a').removeClass('active');
        $('.bg').css('display','block');
    });
    $('.bg').click(function(){
        $('#code').removeClass('active');
        $('#code a').removeClass('active');
        $('#index').addClass('active');
        $('#index a').addClass('active');
        $('.bg').css('display','none');
    })
    //
/*     var pics=$('#pic');
    var hit=pics.css('height');
    var wid=pics.css('width');
    console.log(hit)
    var doc=parseInt(hit.slice(0,hit.length-2));
    var docs=parseInt(wid.slice(0,hit.length-2));
    var lit=310/doc;
    var real=lit*docs;
    var fl=(real-350)/2;
    pics.css({'position':'relative','left':'fl','width':'real','height':'310'}) */

    


</script>
</body>
</html>