<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/regist.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
        <div class="bg">
                <div class="erweima">
                    <img src="images/erweima.png" alt="公众号二维码">
                    </div>
                </div>
            <div class="top">
              <div class="top_box">
                <div class="top_img">
                    <a href="#"><img alt="hongye logo" src="images/logo.png"></a>
                </div>
                   <ul>
                        <li id="index"><a href="index.html">首页</a></li>
                        <li id="look"><a href="lookprojects.html">浏览项目</a></li>
                        <li id="code"><a>关注公众号</a></li>
                        <li id="help"><a href="helps_1.html">帮助中心</a></li>
                    </ul>
            </div>
            <div class="top_box">
                <div class="search">
                    <input type="text" placeholder="请输入搜索内容" value="">
                    </div>
                <div id="btn_1" class="start">
                    <a>发起项目</a>
                    </div>
                <div class="text">
                    <div class="text_child">
                        <a>登录</a>
                        </div>
                    <div class="text_child none">
                        <a>注册</a>
                    </div>
            </div>
         </div>
         </div>
         <div class="regist">
             <div class="load">
                 <img src="images/erweima.png">
                 <p>请用微信扫描登录</p>
                 </div>
             </div>
         <script>
        $('#code').click(function(){
        $('.bg').css('display','block');
    });
    $('.bg').click(function(){
        $('.bg').css('display','none');
    })

    $('.b').click(function(evnt){
        var n=60;
        if($('#num').html()!=='获取验证码'){
                evnt.preventDefault();
                return false;
            };
        $('#num').html(60);      
    
           var timer=setInterval(function(){
            n--;
            $('#num').html(n);
            if(n<=0){
                clearInterval(timer)
                $('#num').html('获取验证码');
                n=60;
            }
           },1000)
      
     
    });
             </script>
    </body>
</html>