<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/setting.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
        <div class="top">
                <div class="top_box">
                  <div class="top_img">
                      <a href="index.html"><img alt="hongye logo" src="images/logo.png"></a>
                  </div>
                     <ul>
                          <li><a>首页</a></li>
                          <li><a>浏览项目</a></li>
                          <li><a>关注公众号</a></li>
                          <li><a href="helps_1.html">帮助中心</a></li>
                      </ul>
              </div>
              <div class="top_box">
                  <div class="search">
                      <input type="text" placeholder="请输入搜索内容" value="">
                      </div>
                  <div id="btn_1" class="start">
                      <a>发起项目</a>
                      </div>
                  <div class="text">
                      <div class="text_child">
                          <a>登录</a>
                          </div>
                      <div class="text_child none">
                          <a>注册</a>
                      </div>
              </div>
           </div>
           </div>
<div class="pag">
    <div class="card_left">
        <div class="card_img">
            <div class="card_img_pic">
                <img src="images/girl.jpg">
                </div>
            <a>我的姓名</a>
            </div>
        <div class="card_text">
            <a>我的项目</a>
            <a id="select" >个人设置</a>
            <img id="ad" src="images/seting_1.png">
            <ul class="solid" id="cntx">
                <li class="bgs"><a class="colors" style="font-weight:normal;">个人资料</a></li>
                <li><a style="font-weight:normal;">收货地址</a></li>
                <li><a style="font-weight:normal;">密码安全</a></li>
                </ul>
            </div>
        </div>
    <div class="card_right">
    <div class="kole">
        <div class="title">
            <p>个人资料</p>
        </div>
        <div class="card_right_in">
          <div class="b">
            <ul>
                <li><div class="name"><p>昵称</p></div><div class="texts">
                    <input type="text" id="names" placeholder="请输入昵称">
                    <p id="ten">0/10</p>
                </div></li>
                <li><div class="name"><p>手机号</p></div><div class="texts">
                        <input id="num" placeholder="请输入手机号">
                        <p id="ele">0/11</p>
                    </div></li>
                </ul>
            </div>
           <div class="btn_father">
            <div id="sub_1" class="btn bgs"><a>保存更改</a></div>
           </div> 
            </div>
            </div>
    <div  style="padding-bottom:10px" class="kole">
            <div class="title">
                    <p>收货地址</p>
                </div>
            <div class="conts">
                <div class="conts_child">
                    <div class="conts_child_in">
                        <p>用户姓名</p>
                        <div class="conts_child_btn">
                            <ul>
                                <li><a>修改</a></li>
                                <li><a>删除</a></li>
                                <li class="bod bgs_1"><a class="colors">设为默认</a></li>
                            </ul>
                            </div>
                        </div>
                        <div class="ph_num">
                                <p>1388888888</p>
                                </div>
                        <div class="conts_text">
                            <span>中国速度发货时间开发会尽时发生纠纷时登记方式的接口费快收到回复即可收到回复即可收到回复</span>
                            </div>
                    </div>
                    <div class="conts_child">
                            <div class="conts_child_in">
                                    <p>用户姓名</p>
                                    <div class="conts_child_btn">
                                        <ul>
                                            <li><a>修改</a></li>
                                            <li><a>删除</a></li>
                                            <li class="bgm"><a href="" class="white">取消默认</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="ph_num">
                                            <p>1388888888</p>
                                            </div>
                                    <div class="conts_text">
                                        <span>中国速度发货时间开发会尽时发生纠纷时登记方式的接口费快收到回复即可收到回复即可收到回复</span>
                                        </div>
                        </div>
                        <div class="conts_child"><!-- 放最后 -->
                            <div class="conts_new">
                                <img src="images/address.png">
                                <a>添加新地址</a>
                                </div>
                            </div> 
                </div>
        </div>
        <div class="kole">
                <div class="title">
                    <p>密码安全</p>
                </div>
                <div class="card_right_in">
                    <div class="conts_l_text">
                        <p>当前手机号：</p>
                        <p id="p_num"></p>
                        </div>
                    <div class="c">
                        <div class="c_in">
                            <p>设置登录密码</p>
                            </div>
                        <ul>
                            <li><input id="phone" type="text" placeholder="请输入验证码"><a id="get_num">获取验证码</a></li>
                            <li><input id="psd_1" type="password" placeholder="请输入密码"></li>
                            <li style="border-bottom: 1px solid #e5e5e5;"><input id="psd_1" type="password" placeholder="请再次输入密码"></li>
                        </ul>
                        </div>
                   <div class="btn_father">
                    <div class="btn bgs"><a>保存更改</a></div>
                   </div> 
                </div>
            </div>
      </div>
    
    
    
    
    </div>
<!-- <div class="bottom">
    <div class="bottom_text">
        <a>关于我们</a>
        </div>
        <div class="bottom_text">
                <a>使用协议</a>
                </div>
                <div class="bottom_text">
                        <a>用户指南</a>
                        </div>
                        <div style="border:none" class="bottom_text none">
                                <a>新浪微博</a>
                                </div>
    </div>

<div class="blow">
    <p>Copyright © 2017 帮帮忙-厦门红叶帮帮忙科技有限公司</p>
    </div> -->
<script>
    $('#names').on('input',function(){
        var len=$('#names').val().length;
        if(len>=10){
            var so=$('#names').val().slice(0,10);
            $('#names').val(so);
            $('#ten').html('10/10')
            console.log(so);
        }else{
            $('#ten').html(len+'/10')
        }
        
    });
    $('#num').on('input',function(){
        var number=$('#num').val();
        var len=$('#num').val().length;
        if(len>=11){
            var so=$('#num').val().slice(0,11);
            $('#num').val(so);
            $('#ele').html('11/11')
        }else{
            $('#ele').html(len+'/11')
        };
        $('#p_num').html(number);
        
    });
    //正则验证;
    var ph_m=RegExp(/^1[0-9]{10}$/);
    function va(){
        var p_m=$('#num').val();
        if(!ph_m.test(p_m)){
            alert('请输入正确的手机号！');
        };
        return false;
    };
    $('#sub_1').click(va);
    //倒计时
    $('#get_num').click(function(evnt){
        var n=60;
        if($('#get_num').html()!=='获取验证码'){
                evnt.preventDefault();
                return false;
            };
        $('#get_num').html(60);      
    
           var timer=setInterval(function(){
            n--;
            $('#get_num').html(n);
            if(n<=0){
                clearInterval(timer)
                $('#get_num').html('获取验证码');
                n=60;
            }
           },1000)
      
     
    });

    </script>
</body>
</html>

    