<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<title>欢迎来到红叶筹</title>
</head>
<body>
        <div class="bg">
                <div class="erweima">
                    <img src="images/erweima.png" alt="公众号二维码">
                    </div>
                </div>
            <div class="top">
              <div class="top_box">
                <div class="top_img">
                    <a href="#"><img alt="hongye logo" src="images/logo.png"></a>
                </div>
                   <ul>
                        <li id="index"><a href="index.html">首页</a></li>
                        <li id="look"><a href="lookprojects.html">浏览项目</a></li>
                        <li id="code"><a>关注公众号</a></li>
                        <li id="help"><a href="helps_1.html">帮助中心</a></li>
                    </ul>
            </div>
            <div class="top_box">
                <div class="search">
                    <input type="text" placeholder="请输入搜索内容" value="">
                    </div>
                <div id="btn_1" class="start">
                    <a>发起项目</a>
                    </div>
                <div class="text">
                    <div class="text_child">
                        <a>登录</a>
                        </div>
                    <div class="text_child none">
                        <a>注册</a>
                    </div>
            </div>
         </div>
</div>
<div class="texts">
    <div class="texts_in">
        <div class="texts_first">
            <h1>实名认证</h1>
            </div>
            <div class="biaoti">
                    <div class="biaoti_in">
                        <a href="varify_1.html">个人</a>
                    </div>
                    <div style="border:none" class="biaoti_in">
                        <a href="varify_2.html" class="acts">机构</a>
                    </div>
                    </div>
        <div class="langs">
            <div class="langs_in">
                <div class="langs_left">
                    <div class="langs_left_child">
                        <div class="cc">
                            <span>*</span>
                            <p>机构名称</p>
                        </div>
                        <input type="text" placeholder="请输入机构名称">
                    </div>
                    <div class="langs_left_child">
                            <div class="cc">
                                    <span>*</span>
                                    <p>组织代码</p>
                            </div>
                            <input type="text" placeholder="请输入组织代码">
                    </div>
                    <div class="langs_left_child">
                            <div class="cc">
                                    <span>*</span>
                                    <p>联系方式</p>
                            </div>
                            <input type="text" placeholder="请输入联系方式">
                    </div>
                    </div>
                <div style=" background: url(images/companty.png) no-repeat;  background-size: 135px 186px;" class="imgss">
                    </div>
                </div>
                <div style="width:100%" class="langs_left_child">
                        <div class="cc">
                                <span>*</span>
                                <p>机构地址</p>
                        </div>
                        <input type="text" placeholder="请输入机构地址">
                </div>  
                <div class="no">  
                    <div class="no_red">
                        <a>提交认证</a>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</body>
</html>