<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/first.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/o_2.js"></script>
    <title>筹款动态</title>
</head>
<body>

<!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
    <!--<div class="top_arrow"></div>-->
    <!--<h4>筹款动态</h4>-->
<!--</div>-->
<!--
<volist name="info" id="vo">
    <div class="first">
        <div class="first_img">
            <img style="width: 35px;border-radius: 17.5px;" src="{$vo.head_pic}">
        </div>
        <div class="first_in">


            <h1>{$vo.name}</h1>
            <notempty name="$vo['pay_amount']">
                <h1>支持了</h1>
                <h1 style="color:red;margin:0px;">{$vo['pay_amount']}</h1>
                <h1>元</h1>
            </notempty>
            <div class="first_pic">
                <img key="{$vo.id}" src="__PUBLIC__/Home/images/new/chat_2.png">
            </div>
            <p style="display: inline-block">{$vo.time|date="y年m月d日",###}</p>
            <p style="display: inline-block">{$vo.time|date="H时i分",###}</p>
            <span>{$vo.content}</span>

            <volist name="vo.son" id="svo">
                <div class="first_blow">
                    <p>{$svo.name}</p>
                    <p>回复</p>
                    <p>{$svo.fname}：</p>
                    <div class="first_pic">
                        <img key="{$svo.id}" src="__PUBLIC__/Home/images/new/chat_2.png">
                    </div>
                    <br />
                    <p style="color:black">{$svo.content}</p>
                </div>
            </volist>

            <div class="first_l">
            </div>
        </div>

    </div>
</volist>-->


<!--<div class="first_box" style="display: none;">
    <h1>发表评论</h1>
    <div class="first_inbox">
        <textarea id="content">我也说一句</textarea>

    </div>
    <input type="hidden" name="pid" id="pid" value="">
    <div class="first_lowbox">
        <div class="first_lowboxin">
            <p>取消</p>
        </div>
        <div style="border:none" class="first_lowboxin sub">
            <span>提交</span>
        </div>

    </div>
</div>-->
<volist name="info" id="vo">
    <div class="first_all">
    <div class="first">
        <div class="first_img cont" key="{$vo.id}" name="{$vo.name}" >
            <img src="{$vo.head_pic}" width="35" style="border-radius: 17.5px;"><!--头像-->
        </div>
        <div class="first_in">


            <h1 class="cont" key="{$vo.id}" name="{$vo.name}" >{$vo.name}</h1>
            <notempty name="$vo['pay_amount']">
                <h1>支持了</h1>
                <h1 style="color:red;margin:0 -2px 0 -10px;">{$vo.pay_amount}</h1>
                <h1>元</h1>
            </notempty>
            <!--<div class="first_pic">-->
                <!--<img src="../pics/new/zan.png">-->
                <!--<p style="font-size:14px;margin-bottom:3px;">12</p>-->
            <!--</div>-->
            <p>{$vo.time|date="Y.m.d",###}</p>
            <span class="cont" key="{$vo.id}" name="{$vo.name}" >{$vo.content}</span>
            <volist name="vo.son" id="svo">
                <div class="first_blow" key="{$svo.id}" name="{$svo.name}">
                    <div class="first_blow_img">
                        <img src="{$svo.head_pic}"><!--头像-->
                    </div>
                    <div class="first_blow_none">
                        <span>{$svo.name}</span>
                        <span>{$svo.time|date="Y.m.d",###}</span>
                    </div>
                    <span style="margin:0;"><p style="display:inline">回复&nbsp;&nbsp;{$svo.fname}：&nbsp;&nbsp;</p>{$svo.content}</span>
                </div>

            </volist>
            <div  style="width:290px"  class="first_l">
            </div>
        </div>
    </div>
</div>

</volist>

<div class="first_bottom">
    <div class="first_bottom_in">
        <input type="hidden" id="pid" value="0">
        <input type="hidden" id="project_id" value="{$Think.get.id}">
        <input id="content" type="text" placeholder="写评论">
        <button class = "sub" type="submit">发表评论</button>
    </div>
</div>

</body>
<script>
    $('.first_blow').click(function(){
        var id = $(this).attr('key');
        var name = $(this).attr('name');
        $('#content').attr('placeholder','回复 ' + name);
        $('#pid').val(id);

    })
    $('.cont').click(function(){
        var id = $(this).attr('key');
        var name = $(this).attr('name');
        $('#content').attr('placeholder','回复 ' + name);
        $('#pid').val(id);

    })


</script>
</html>
