<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/o_2.js"></script>
    <title>筹款动态</title>
</head>
<body>

<!--<div style="border-bottom:1px solid #cccccc" class="top">-->
    <!--<div class="top_arrow"></div>-->
    <!--<h4>筹款动态</h4>-->
<!--</div>-->

<volist name="info" id="vo">
    <div class="first">
        <div class="first_img">
            <img style="width: 35px;border-radius: 17.5px;" src="{$vo.head_pic}">
        </div>
        <div class="first_in">


            <h1>{$vo.name}</h1>
            <notempty name="$vo['pay_amount']">
                <h1>支持了</h1>
                <h1 style="color:red;margin:0px;">{$vo['pay_amount']}</h1>
                <h1>元</h1>
            </notempty>
            <div class="first_pic">
                <img src="__PUBLIC__/Home/images/new/pinglun.png">
            </div>
            <p>2017.09.06</p>
            <span>{$vo.content}</span>

            <volist name="vo.son" id="svo">
                <div class="first_blow">
                    <p>{$svo.name}</p>
                    <p>回复</p>
                    <p>{$svo.fname}：</p>
                    <br/>
                    <p style="color:black">{$svo.content}</p>
                </div>
            </volist>

            <div class="first_l">
            </div>
        </div>

    </div>
</volist>

<div class="first_box">
    <h1>发表评论</h1>
    <div class="first_inbox">
        <input type="text" value="" placeholder="我也说一句" >

    </div>
    <div class="first_lowbox">
        <div class="first_lowboxin">
            <p>取消</p>
        </div>
        <div style="border:none" class="first_lowboxin">
            <span>提交</span>
        </div>

    </div>
</div>

</body>
</html>
