<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/first.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/o_2.js"></script>
    <title>筹款动态</title>
</head>
<body>

<!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
    <!--<div class="top_arrow"></div>-->
    <!--<h4>筹款动态</h4>-->
<!--</div>-->
<!--
<volist name="info" id="vo">
    <div class="first">
        <div class="first_img">
            <img style="width: 35px;border-radius: 17.5px;" src="{$vo.head_pic}">
        </div>
        <div class="first_in">


            <h1>{$vo.name}</h1>
            <notempty name="$vo['pay_amount']">
                <h1>支持了</h1>
                <h1 style="color:red;margin:0px;">{$vo['pay_amount']}</h1>
                <h1>元</h1>
            </notempty>
            <div class="first_pic">
                <img key="{$vo.id}" src="__PUBLIC__/Home/images/new/chat_2.png">
            </div>
            <p style="display: inline-block">{$vo.time|date="y年m月d日",###}</p>
            <p style="display: inline-block">{$vo.time|date="H时i分",###}</p>
            <span>{$vo.content}</span>

            <volist name="vo.son" id="svo">
                <div class="first_blow">
                    <p>{$svo.name}</p>
                    <p>回复</p>
                    <p>{$svo.fname}：</p>
                    <div class="first_pic">
                        <img key="{$svo.id}" src="__PUBLIC__/Home/images/new/chat_2.png">
                    </div>
                    <br />
                    <p style="color:black">{$svo.content}</p>
                </div>
            </volist>

            <div class="first_l">
            </div>
        </div>

    </div>
</volist>-->


<!--<div class="first_box" style="display: none;">
    <h1>发表评论</h1>
    <div class="first_inbox">
        <textarea id="content">我也说一句</textarea>

    </div>
    <input type="hidden" name="pid" id="pid" value="">
    <div class="first_lowbox">
        <div class="first_lowboxin">
            <p>取消</p>
        </div>
        <div style="border:none" class="first_lowboxin sub">
            <span>提交</span>
        </div>

    </div>
</div>-->
<div class="first_all">
    <div class="first">
        <div class="first_img">
        </div>
        <div class="first_in">


            <h1>左青龙右白虎</h1>
            <h1>支持了</h1>
            <h1 style="color:red;margin:0 -2px 0 -10px;">100</h1>
            <h1>元</h1>
            <div class="first_pic">
                <img src="../pics/new/pinglun.png">
                <p style="font-size:14px;margin-bottom:3px;">12</p>
            </div>
            <p>2017.09.06</p>
            <span>宗华任命热第私爱士大夫是快递受到了考生登录手里的快乐时刻到了昆仑送大礼</span>
            <div class="first_blow">
                <div class="first_blow_img">
                    <img src="../pics/new/hongye.png">
                </div>
                <div class="first_blow_none">
                    <span>蒋多渡</span>
                </div>
                <span style="margin:0;"><p style="display:inline">回复&nbsp;&nbsp;用户名：&nbsp;&nbsp;</p>中华人民共和国第七次全国人民代表大会在之后会得到分开放你那放大失禁范德萨发的点附近的刷卡缴费环境好地方就是快递发货</span>
            </div>
            <div class="first_l">
            </div>
        </div>
    </div>
</div>
<div class="first_bottom">
    <div class="first_bottom_in">
        <input type="text" placeholder="写评论">
        <button type="submit">发表评论</button>
    </div>
</div>

</body>
</html>
