<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js//jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js//jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js//jquery.touchSlider.js"></script>
    <script src="__PUBLIC__/Home/js//o_4.js"></script>
    <title>项目详情</title>
    <!--
    <script>
      var sch=window.availHeight;
      var allsch=document.getElementsByClassName("all");
      function(){
         allsch.style.height=sch+"px" ;
      }
    window.onload=function();
    </script>
    -->


</head>
<body>
<!--<div style="border-bottom:1px solid #cccccc;text-align:center" class="top">-->
    <!--<div onClick="window.location.href='../index.html'" class="top_newarrow"></div>-->
    <!--<h5>项目详情</h5>-->
    <!--<div class="top_share">-->
    <!--</div>-->
<!--</div>-->

<div class="work_banner">
    <img src="__PUBLIC__/Home/images/img_main_1.jpg">
</div>
<div class="work_card">
    <div class="work_r">
        <div class="work_img">
        </div>
        <span>小龙王今年</span>
        <div class="work_bb">
            <p>2017年9月4日</p>
            <p>9时12分</p>
            <img style="float:left" src="__PUBLIC__/Home/images/address.png">
            <p>厦门</p>
        </div>
    </div>
    <div class="midcard_tip">
        <div class="midcard_tip_1">
        </div>
    </div>
    <div class="midcard_bottom">
        <div class="midcard_bottom_text">
            <p>目标金额（¥）30000</p>
            <p>已筹款（¥）3000</p>
            <p style="float:right;line-height:26px;">支持人数：22</p>
        </div>
    </div>

</div>
<div style="box-shadow:2px 0px 2px 1.5px #CCCCCC" class="top">
    <div class="helftop">
        <div class="midtopbox">
        </div>
        <div class="helftopbox">
            <h1><a href="#">项目信息</a></h1>
        </div>
    </div>
    <div class="helftop">
        <div style="border:none" class="helftopbox">
            <h1 id="activa"><a  style="color:#CCCCCC" href="#">筹款动态</a></h1>
        </div>
    </div>
</div>
<div class="work_bg">
    <div class="work_bgs">
        <span>中国华丰华东师范不好</span>
        <span>都是发生的合法登记发多少</span>
        <span>中国华丰华东师范不好</span>
        <span>都是发生的合法登记发多少</span>
        <span>中国华丰华东师范不好</span>
        <span>都是发生的合法登记发多少</span>
        <span>中国华丰华东师范不好</span>
        <span>都是发生的合法登记发多少</span>
    </div>
</div>
<div class="pay_b">
    <div class="pay_pic">
        <img src="__PUBLIC__/Home/images/new/chart.png">
    </div>
    <span>评论</span>
    <div class="pay_pic">
        <img src="__PUBLIC__/Home/images/new/stars.png">
    </div>
    <span>关注</span>
    <button type="submit" onclick="window.location.href='pay.html'">我要支持</button>

</div>
</body>
</html>