<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/content.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script src="__PUBLIC__/Home/js//o_4.js"></script>
    <title>项目详情</title>
    <!--
    <script>
      var sch=window.availHeight;
      var allsch=document.getElementsByClassName("all");
      function(){
         allsch.style.height=sch+"px" ;
      }
    window.onload=function();
    </script>
    -->


</head>
<body>
<!--<div style="border-bottom:1px solid #cccccc;text-align:center" class="top">-->
    <!--<div onClick="window.location.href='../index.html'" class="top_newarrow"></div>-->
    <!--<h5>项目详情</h5>-->
    <!--<div class="top_share">-->
    <!--</div>-->
<!--</div>-->

<div class="work_banner">
    <img src="{$info.pic}">
</div>
<div class="work_card">
    <div class="work_r">
        <div class="work_img">
            <img style="width:35px;margin-top: -5px;border-radius: 17.5px;" src="{$info.head_pic}">
        </div>
        <span>{$info.name}</span>
        <div class="work_bb">
            <p>{$info.start_time|date="y年m月d日",###}</p>
            <p>{$info.start_time|date="H时i分",###}</p>
            <img style="float:left" src="__PUBLIC__/Home/images/address.png">
            <p>{$info.city}</p>
        </div>
    </div>
    <div class="midcard_tip">
        <div class="midcard_tip_1">
        </div>
    </div>
    <div class="midcard_bottom">
        <div class="midcard_bottom_text">
            <p>目标金额:{$info.target_amount}</p>
            <p>已筹金额:{$info.reach_amount}</p>
            <p style="float:right;line-height:26px;">支持人数:{$info.people_num}</p>
        </div>
    </div>

</div>
<div style="box-shadow:2px 0px 2px 1.5px #CCCCCC" class="top">
    <div class="helftop">
        <div class="midtopbox">
        </div>
        <div class="helftopbox">
            <h1><a href="#">项目信息</a></h1>
        </div>
    </div>
    <div class="helftop">
        <div style="border:none" class="helftopbox">
            <h1 id="activa"><a  style="color:#CCCCCC" href="{:U('List/active')}">筹款动态</a></h1>
        </div>
    </div>
</div>
<div class="work_bg">
    <div class="work_bgs">
       {$info.des|htmlspecialchars_decode}
    </div>
</div>
<div class="pay_b">
    <div class="pay_pic">
        <img src="__PUBLIC__/Home/images/new/chart.png">
    </div>
    <span>评论</span>
    <div class="pay_pic">
        <img src="__PUBLIC__/Home/images/new/star_1.png">
    </div>
    <span>关注</span>
    
    <button type="submit" onclick="window.location.href='pay.html'">我要支持</button>

</div>
<div class="first_box">
    <h1>发表评论</h1>
    <div class="first_inbox">
        <input type="text" value="" placeholder="我也说一句" >

    </div>
    <div class="first_lowbox">
        <div class="first_lowboxin">
            <p>取消</p>
        </div>
        <div style="border:none" class="first_lowboxin">
            <span>提交</span>
        </div>

    </div>
</div>

</body>
</html>