<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/getmonney.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.touchSlider.js"></script>
    <script src="__PUBLIC__/Home/js/getmonney.js"></script>
    <title>我要支持</title>
</head>

<body>
    <div class="page">

        <volist name="info" id="vo">
            <div class="get">
                <div class="get_in">
                    <div class="get_top">
                        <h1>
                            <if condition="$vo['amount'] eq 0"> 免费抽奖活动
                                <else /> ￥{$vo['amount']} </if>
                        </h1>
                        <p>{$vo.count|default=0}人支持</p>
                    </div>
                </div>
                <div class="get_blow">
                    <h1 style="line-height:20px">{$vo.title}</h1>
                    <span>{$vo.des}</span>
                    <!--<p>抽奖规则：</p>-->
                    <volist name="vo.rule" id="rvo">
                        <p>{$rvo}</p>
                    </volist>
                    <button type="button">
                    <if condition="$vo['amount'] eq 0">

                        <a>获取福利</a>
                    <else />

                        <a href="{:U('List/pay',array('id'=>$vo['id']))}">我要支持</a>
                    </if>
                </button>
                </div>
            </div>
        </volist>
        <!--每个项目默认设定有无偿捐赠项-->
        <div class="get">
            <div class="get_in">
                <div class="get_top">
                    <h1>无回报支持</h1>
                    <p>{$count}人支持</p>
                </div>
            </div>
            <div class="get_blow">
                <h1>感谢您无偿支持</h1><!-- 固定不变 -->
                <span>无偿支持的感谢语</span>
                <button type="button"><a>我要支持</a></button><!-- 点击可输入任意支持金额 -->
            </div>
        </div>
        <div class="background">
            <div class="b_box">
                <div class="b_box_in">
                    <h1>我要无偿支持</h1>
                    <p>请输入支持金额，最少0.01元，最高不限</p>
                    <input type="text" id="amount" placeholder="0">
                </div>
                <div class="b_box_bottom">
                    <div class="b_box_bottom_l">
                        <p class="cl">取消</p>
                    </div>
                    <div style="border:none" class="b_box_bottom_l">
                        <p style="color:#f45353" class="sub">确定</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var wid=parseInt($(window).width());
    var num=(wid-325)/2;
    (function wid(){
        $('.b_box').css('left',num+'px');
    })()
    



    $('.get_blow').click(function(){
        $('.background').css('display','block')
    })
    $('.cl').click(function(){
        $('#amount').attr('placeholder','0');
        $('.background').css('display','none')
    })
    $('.sub').click(function(){
        var return_id = 0;
        var project_id = '{$Think.get.id}';
        var amount = $('#amount').val();
        var info = {project_id:project_id,return_id:return_id,amount:amount};
        $.post("{:U('List/love_orders')}",info,function(data){
           // alert(data)
            if(data.status == 1){
                //生成订单成功发起支付
                var id= data.info;
                console.log(data.url);
                var no= data.url;
                location.href='http://www.hybbms.com/weixinpay/example/jsapi.php?id='+id+'&no='+no;
            }else{
                if(data.info==1){
                    alert('请先登录')
                    location.href="{:U('Login/index')}"

                }else{
                    alert('订单发起支付失败，请重新确认！');
                }

            }

        });
    })

    $(function() {
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '<?php echo $data["appId"];?>', // 必填，公众号的唯一标识
            timestamp: '<?php echo $data["timestamp"];?>', // 必填，生成签名的时间戳
            nonceStr: '<?php echo $data["nonceStr"];?>', // 必填，生成签名的随机串
            signature: '<?php echo $data["signature"];?>', // 必填，签名，见附录1
            jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'onMenuShareQZone',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onVoiceRecordEnd',
                    'playVoice',
                    'onVoicePlayEnd',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
    });
    wx.ready(function() {
        //取消除微信相关的分享
        wx.hideMenuItems({
            menuList: ['menuItem:share:qq',
                "menuItem:share:weiboApp",
                'menuItem:share:QZone',
                'menuItem:copyUrl',
                "menuItem:originPage",
                "menuItem:openWithQQBrowser",
                "menuItem:openWithSafari",
                "menuItem:share:email"
            ]
        });
        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
        //        wx.onMenuShareAppMessage({
        //            title: '快来啊，滑雪拼车随你畅游',
        //            desc: '过年啦!!还在等什么？一起去拼车滑雪畅游世界吧',
        //            link: 'http://zuoyou365.com/weixin/tp/index.php/Home/Carpoos1/getCode',
        //            imgUrl: 'http://zuoyou365.com/weixin/tp/public/pic/logo.png',
        //            trigger: function (res) {
        //                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        //
        //            },
        //            success: function (res) {
        //
        //            },
        //            cancel: function (res) {
        //
        //            },
        //            fail: function (res) {
        //                alert(JSON.stringify(res));
        //            }
        //        });
        wx.onMenuShareTimeline({
            title: '{$fenx.title}',
            link: "{:U('List/content',array('id'=>$fenx['id']))}",
            imgUrl: '{$fenx.pic}',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回

            },
            success: function(res) {

            },
            cancel: function(res) {

            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });

    });
</script>

</html>