<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/getmonney.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.touchSlider.js"></script>
    <script src="__PUBLIC__/Home/js/getmonney.js"></script>
    <title>我要支持</title>
</head>
<body>
<div class="page">

    <volist name="info" id="vo">
        <div class="get">
            <div class="get_in">
                <div class="get_top">
                    <h1><if condition="$vo['amount'] eq 0"> 免费抽奖活动  <else /> ￥{$vo['amount']} </if></h1>
                    <p>66人支持/无限制</p>
                </div>
            </div>
            <div class="get_blow">
                <h1>{$vo.title}</h1>
                <span>{$vo.des}</span>
                <p>抽奖规则：</p>
                <volist name="vo.rule" id="rvo">
                    <p>{$rvo}</p>
                </volist>
                <button type="button">
                    <if condition="$vo['amount'] eq 0">

                        <a>获取福利</a>
                    <else />

                        <a href="{:U('List/pay',array('id'=>$vo['id']))}">我要支持</a>
                    </if>
                </button>
            </div>
        </div>
    </volist>

</div>
</body>
</html>