<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/getmonney.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.touchSlider.js"></script>
    <script src="__PUBLIC__/Home/js/getmonney.js"></script>
    <title>红叶帮帮忙</title>
</head>
<body>
<div class="page">
    <div class="get">
        <div class="get_in">
            <div class="get_top">
                <h1>免费抽奖活动</h1>
                <p>翻山倒海</p>
            </div>
        </div>
        <div class="get_blow">
            <h1>项目回报名称</h1>
            <span>粉丝带进来哈师范大大大是的范德萨发斯蒂芬斯蒂芬斯蒂芬大发生的黄金卡拉拉山东分行</span>
            <p>抽奖规则：</p>
            <p>1，得到奖品收费房价多少空间大家佛</p>
            <p>1，得到奖品收费房价多少空间大家佛</p>
            <button type="button"><a>获取福利</a></button>
        </div>
    </div>
</div>
</body>
</html>