<extend name="Public:main"/>

<block name="content">
    <div  class="find_banner">

    </div>
    <div class="find_titile">
        <div class="find_titile_text">
            <div class="find_box_1">
                <div class="find_inbox_1">
                    <h1>最新上线</h1>
                </div>
            </div>
            <div class="find_box_2">
                <div class="find_inbox_3">
                    <h1>热门推荐</h1>
                </div>
            </div>
            <div class="find_box_3">
                <div class="find_inbox_2">
                    <h1>即将结束</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="find_card">
        <div class="find_card_in">

            <div class="find_card_black">
                <p>中国地方是真功夫不能</p>
            </div>
        </div>
    </div>

    <div class="find_img">
        <div class="find_img_in">
            <div class="find_img_l">
                <img src="__PUBLIC__/Home/images/img_main_1.jpg">
            </div>
            <div class="find_img_r">
                <img src="__PUBLIC__/Home/images/img_main_1.jpg">
            </div>
        </div>
    </div>
    <div class="main_botoom">
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="../index.html"><img src="__PUBLIC__/Home/images/new/home_1.png"></a>

                <a href="../index.html">主页</a>
            </div>
        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="list.html"><img src="__PUBLIC__/Home/images/new/find_2.png"></a>

                <a style="color:#D33D3E" href="{:U('List/list')}">发现</a>
            </div>

        </div>
        <div onclick="window.location.href='{:U('List/new')}'" class="main_bottom_box">
            <div class="main_bottom_box_mid_icon">

                <a href="{:U('List/new')}"><img src="__PUBLIC__/Home/images/new/go.png"></a>


            </div>
        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="{:U('Massage/massage')}"><img src="__PUBLIC__/Home/images/new/news_1.png"></a>

                <a href="{:U('Massage/massage')}">消息</a>
            </div>
        </div>
        <div class="main_bottom_box">
            <div class="main_bottom_box_mid">

                <a href="{:U('Center/center')}"><img src="__PUBLIC__/Home/images/new/mine_1.png"></a>

                <a href="{:U('Center/center')}">我的</a>
            </div>
        </div>

    </div>
    <div class="blank">
    </div>

</block>