<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <title>红叶帮帮忙</title>
</head>
<body>

<div style="border-bottom:1px solid #cccccc" class="top">
    <div onclick="window.location.href='../index.html'" class="top_arrow"></div>
    <h4>发起项目</h4>
</div>
<div class="original">
    <div class="original_in">
        <p>项目名称</p>
        <input type="text" value="中华民大一统族">
    </div>
    <div class="original_in">
        <p>筹款金额</p>
        <input type="text" value="￥2000">
    </div>
    <div class="original_in">
        <p>项目地点</p>
        <img src="__PUBLIC__/Home/images/new/local.png">
        <input type="text" value="" placeholder="厦门">
    </div>



    <div class="original_in">
        <ul>
            <li><p>公益</p><input type="radio" id="btn_1" name=typeid class="chk_1"><label for="btn_1"></label></li>
            <li><p>拼团</p><input type="radio" id="btn_2"  class="chk_1"><label for="btn_2"></label></li>
            <li><p>愿望</p><input type="radio" name='typeid' id="btn_3"  class="chk_1"><label for="btn_3"></label></li>
            <li><p>农业</p><input type="radio" name='typeid' id="btn_4"  class="chk_1"><label for="btn_4"></label></li>
            <li><p>创意</p><input type="radio" name='typeid' id="btn_5"  class="chk_1"><label for="btn_5"></label></li>
            <li><p>生活</p><input type="radio" name='typeid' id="btn_6"  class="chk_1"><label for="btn_6"></label></li>
        </ul>
    </div>
    <div class="original_in">

    </div>
    <div class="original_box">
        <p>描述内容</p>
        <textarea>中华人民共和国是世界上最好的国家我们的习大大也是</textarea>
    </div>
    <div class="original_ftop">
        <p>添加图片</p>
    </div>
    <div class="original_b">
        <div class="original_btop">
            <div class="original_inbox">
                <img src="__PUBLIC__/Home/images/new/addimg.png">
            </div>
     </div>
    </div>
    <div align="center" class="original_blow">
        <button type="submit" value="提交">下一步</button>
    </div>
    <div class="original_bottomtext">
        <div class="original_bottomtext_in">
            <input type="checkbox">
            <p>我已阅读并同意《红叶帮帮忙服务协议》</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/o_1.js"></script>

</body>
</html>
