<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <title>发起项目</title>
</head>
<body>

<!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
    <!--<div onclick="window.location.href='../index.html'" class="top_arrow"></div>-->
    <!--<h4>发起项目</h4>-->
<!--</div>-->
<div class="original">
    <div class="original_in">
        <p>项目名称</p>
        <input type="text" value="" id="title" placeholder="请输入项目名称">
    </div>
    <div class="original_in">
        <p>筹款金额</p>
        <input type="text" value="" id="target_amount" placeholder="请输入筹款金额">
    </div>
    <div class="original_in">
        <p>项目地点</p>
        <img src="__PUBLIC__/Home/images/new/local.png">
        <input style="position: relative;top:-2px;" type="text" value="" id="city" placeholder="厦门" >
    </div>



    <div class="original_in">
        <ul>
            <volist name="info_type" id="vo" key="k">
                <li>
                    <p>{$vo.title}</p>
                    <input type="radio" name='type_id' id="btn_{$k+1}"  value="{$vo.id}" class="chk_1">
                    <label for="btn_{$k+1}"></label>
                </li>
            </volist>

        </ul>
    </div>
    <div class="original_in">

    </div>
    <!--<div class="original_box">-->
        <!--<p>描述内容</p>-->
        <!--<textarea style="color:#000;width:225px;" id="des" placeholder="描述内容"></textarea>-->
    <!--</div>-->
    <div class="original_ftop">
        <p>添加图片</p>
    </div>
    <div class="original_b">
        <div class="original_btop">
            <input id="pic" type="hidden" value="">
            <div class="original_inbox" id="btn-upload">

                <img id="photo_preview" src="__PUBLIC__/Home/images/new/addimg.png">

            </div>
     </div>
    </div>
    <div align="center" class="original_blow">
        <button id="sub" type="submit" value="提交">下一步</button>
        <div class="original_bottomtext">
            <div class="original_bottomtext_in">
                <input type="checkbox" checked="checked">
                <p>我已阅读并同意《红叶筹服务协议》</p>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src='__PUBLIC__/Static/uploadifive/Sample/jquery.uploadifive.min.js'></script>
<script>
    var text_a=$('.original_box textarea');
    text_a.bind('click',sd)
    function sd(){
        text_a.html('')
    }
    function varify(){
        var boo;
        var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
        var text_name=$('.original_in:eq(0) input').val();
        var text_money=$('.original_in:eq(1) input').val();
        var text_address=$('.original_in:eq(2) input').val();
        var money_num=Number($('.original_in:eq(1) input').val());
        var select=$('.original_in>ul li>input:checked');

        function v_1(){
            if(text_name===''){
                alert('项目名称不能为空')
                return false;
            }else if(text_name.length>=50){
                alert('名称长度不能超过50字')
                return false;
            }else{
                return 1;
            }
        }
        if(!v_1()){
            //上述条件判定通过后执行提交功能
            return false;
        }
        function v_2(){
            if(text_money===''){
                alert('项目金额不能为空')
                return false;
            }else if(typeof(money_num)!=='number'){
                alert('请输入正确的金额')
                return false;
            }else if(Math.floor(money_num)<1){
                alert('金额必须大于1元')
                return false;
            }else{
                return 1;
            }
        }
        if(!v_2()){
            //上述条件判定通过后执行提交功能
            return false;
        }
        function v_3(){
            if(!reg.test(text_address)||text_address===''){
                alert('请输入正确的地址')
                return false;
            }else{
                return 1;
            }
        }
        if(!v_3()){
            //上述条件判定通过后执行提交功能
            return false;
        }
        function v_4(){
            if(select.length!==1){
                alert('请选择项目分类')
                return false;
            }else{
                return 1;
            }
        }
        if(v_4()){
            //上述条件判定通过后执行提交功能
            return true;
        }else{
            return false;
        }

//        v_1();
//        v_2();
//        v_3();
//        v_4();
    }
  //  $('#sub').click(varify);//以上为验证用户输入信息


    //设置图片上传插件
    $(function () {
        $("#btn-upload").uploadifive({
            height: 195,
            swf: '/public/Static/uploadify/uploadify.swf',
            uploadScript: "{:U('File/uploadProject')}",
            width: 300,
            buttonClass: "btn_addimg",
            buttonText: '',
            onUploadComplete: function (file, data) {
                data = $.parseJSON(data);
                if (data.status) {
//                    $("#photo_preview").attr("src", data.data);

                    $(".btn_addimg").css('background-image','url('+data.data+')');
                    $("#pic").val(data.data);
                }
                else {
                    (data.info);
                }
            }
        });

        $('#sub').click(function(){
            if(!varify()){
                return false;
            }
            var title = $('#title').val();
            var city = $('#city').val();
            var pic = $('#pic').val();
            var des = $('#des').val();
            var type_id = $('input[name=type_id]:checked').val();
            var target_amount = $('#target_amount').val();
            var info = {'title':title,city:city,pic:pic,des:des,type_id:type_id,target_amount:target_amount};

            $.post("{:U('List/addProject')}",info,function(data){

                if(data.status ==1){
                    alert('添加成功！');
                    location.href=data.info;
                }else{
                    alert(data.info)
                }


            })



        })


    });

</script>
</body>
</html>
