<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
    <title>确认支付</title>
</head>
<body>
<div class="all">
    <!--<div style="border-bottom:1px solid #e5e5e5" class="top">-->
        <!--<div class="top_arrow"></div>-->
        <!--<h4>确认支付</h4>-->
    <!--</div>-->
    <div class="pay_1">
        <div class="pay_2">
            <p>选择回报</p>
        </div>

        <div class="pay_3">
            <div class="pay_4">
                <h1>{$return.title}</h1>
                <h1 style="float:right">¥{$return.amount}</h1>
            </div>
        </div>
        <div class="pay_1">
            <div class="pay_2">
                <p>收货地址</p>
            </div>

        </div>
        <div class="pay_3">
            <a href="{:U('List/addr_before',array('id'=>$_GET['id']))}">
                <div class="pay_4" style="position: relative;">
                    <h1>{$addressinfo|default=请选择地址}</h1>
                    <div class="pay_4_pic" style="position: absolute;right:-5px;top:0px;">
                        <img src="__PUBLIC__/Home/images/new/back_r.png">
                    </div>

                </div>
            </a>
        </div>
        <!--<div class="pay_1">-->
            <!--<div class="pay_2">-->
                <!--<p>微信号</p>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="pay_3">-->
            <!--<div class="pay_4">-->
                <!--<input type="text" placeholder="必填">-->
            <!--</div>-->
        <!--</div>-->
        <div class="pay_1">
            <div class="pay_2">
                <p>备注信息</p>
            </div>

        </div>
        <div class="pay_3">
            <div class="pay_4">
                <input id="node" type="text" placeholder="选填">
            </div>
        </div>
        <div class="pay_1">
            <div class="pay_2">
                <p>选择支付方式</p>
            </div>

        </div>
        <!--<div class="pay_5">-->
            <!--<div class="pay_6">-->
                <!--<div class="pay_box">-->
                    <!--<img src="             __PUBLIC__/Home/images/支付宝.png">-->
                <!--</div>-->
                <!--<p>支付宝</p>-->
                <!--<div class="pay_img">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="pay_5">
            <div class="pay_6">
                <div class="pay_box">
                    <img src="__PUBLIC__/Home/images/new/wechat.png">
                </div>
                <p>微信支付</p>
                <div class="pay_imgs">
                    <input type="radio" name="pays" value="1" checked>
                </div>
            </div>
        </div>
        <div class="pay_5">
            <div class="pay_6">
                <div class="pay_box">
                    <img src="__PUBLIC__/Home/images/new/hongye.png">
                </div>
                <p>余额支付</p>
                <p>¥{$amount}</p>
                <p>余额不足？</p>
                <a>点击充值</a>
                <div class="pay_imgs">
                    <input type="radio" value="2" name="pays">
                </div>
            </div>
        </div>
        <div class="pay_bottom">
        </div>
        <div class="pay_b">
            <button id="sub" type="submit">确认支付</button>
            <p>¥ {$return.amount}</p>
            <p>合计</p>
        </div>

    </div>
</div>
</body>
<script>
    $('#sub').click(function(){

        var v = $('input[name=pays]:checked').val();
       if(1 == v){
           var return_id = '{$Think.get.id}';
           var address_id = '{$aid}';
           var node = node;
           var info = {address_id:address_id,return_id:return_id,node:node};
           $.post("{:U('List/orders')}",info,function(data){
               if(data.status == 1){
                   //生成订单成功发起支付
                   var id= data.info;
                   console.log(data.url);
                   var no= data.url;
                   location.href='http://test.hybbms.com/weixinpay/example/jsapi.php?id='+id+'&no='+no;
               }else{
                   alert('订单发起支付失败，请重新确认！');
               }

           });
       }else if(2 == v){
            //发起余额支付 先判断是否够
           var $return = '{$return.amount}';
           var amount = '{$amount}';
            if(amount < $return){
                alert('余额不足！');
                return false;
            }

           var return_id = '{$Think.get.id}';
           var address_id = '{$aid}';
           var node = node;
           var info = {address_id:address_id,return_id:return_id,node:node};
           $.post("{:U('list/pay_amount')}",info,function(data){
               if(data.status == 1){
                   //生成订单成功发起支付
                   window.location.href="/index.php/list/succ?id=1";
               }else{
                   window.location.href="/index.php/list/succ?id=2";
               }

           });


       }else{
           alert('请选择支付方式！')
       }



    })


</script>
</html>