<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/payreturn.css">
    <title>项目回报设置</title>
</head>
<!--项目回报设置-->
<body>
    <style>
 .bottom_btn_1{
    height: 34px;
    width:115px;  
    background: #f45353;
    border-radius: 17px;
    position: fixed;
    bottom: 30px;
    left:45px;  
    text-align: center;
}
.bottom_btn_1 p{
    font-size: 15px;
    color: #ffffff;
    line-height: 35px;
}
.bottom_btn_2{
    height: 34px;
    width:115px;  
    background: #f45353;
    border-radius: 17px;
    position: fixed;
    bottom: 30px;
    right:45px;  
    text-align: center;
}
.bottom_btn_2 p{
    font-size: 15px;
    color: #ffffff;
    line-height: 35px;
}
        </style>
<div id="bg" class="background">
    <div class="in_return">
        <div class="in_return_r">
            <img src="__PUBLIC__/Home/images/new/close.png">
        </div>
    <input id="time" type="hidden" value="1">
        <div class="return_re">
            <ul>
                <li><p>回报金额</p><input id="amount" type="text" name="amount" placeholder="设置回报金额"></li>
                <li><p>回报标题</p><input value="" type="text" id="title" name="title" placeholder="设置回报标题"></li>
                <li><p>回报简介</p><input value="" name="des" id="des" type="text" placeholder="设置回报简介"></li>
                <li><p>规则设置</p><input value="" name="rule" id="rule" type="text" placeholder="设置回报规则"><div class="return_add">
                    <img src="__PUBLIC__/Home/images/new/plus.png">
                </div></li>
            </ul>
            <button id="sub" type="submit" value="提交">提交</button>
        </div>
    </div>
</div>
<volist name="info" id="vo">
    <div class="page">
    <div class="return_all">
        <div class="return_in">
            <p>支持金额</p>
            <p>{$vo.amount}</p>
        </div>
        <div class="return_in">
            <p>回报标题</p>
            <p>{$vo.title}</p>
        </div>
        <div class="return_bin">
            <p>回报简介</p>
            <div class="return_b">
                <span>{$vo.des}</span>
            </div>
        </div>
        <div style="border:none" class="return_bin">
            <p>规则设置</p>
            <volist name="vo.rule" id="rvo">
                <div class="return_b">
                    <span>{$rvo}</span>
                </div>
            </volist>
        </div>
    </div>
</div>
</volist>
<!-- <div id="add" class="add">
    <img src="__PUBLIC__/Home/images/new/add.png">
</div>
<div class="add_btn">
    <p><a href="{:U('Center/myactive')}" style="color: #fff;">完成</a></p>
</div> -->
<div class="bottom_btn_1">
    <p id="add" class="add" >添加回报</p>
</div>
<div class="bottom_btn_2">
    <p id = "end">提交上传</p>
</div>

<script type="text/javascript" src="__PUBLIC__/Home/js/return.js"></script>

<script>
    $('#sub').click(function(){
        var relu = $('#rule').val();
        var time = $('#time').val();
        var str = relu+';';
        for (var i=1;i<time;i++) {
            str = str + $('#rule_'+i).val()+';';
        }
        var title = $('#title').val();
        var amount = $('#amount').val();
        var des = $('#des').val();
        var project_id = '{$Think.get.project_id}';
        console.log(project_id);
        var info = {rule:str,title:title,amount:amount,des:des,project_id:project_id}
        $.post("{:U('List/addReturn')}",info,function(data){
            if(data.status == 1){
                alert(data.info)
                location.reload();
            }else{
                _popup(data.info);
            }
        })
    })

    $('#end').click(function(){

        location.href="{:U('Center/myactive')}";
    })
</script>
</body>
</html>