<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/scccses.css">
    <title>红叶帮帮忙</title>
</head>
<!--支付成功-->
<body>
<div class="page">
    <div class="scc">
        <eq name="id" value="1">
            <img src="__PUBLIC__/Home/images/new/cir.png">
        <else />
            <!--失败的图片-->
            <img src="__PUBLIC__/Home/images/new/cir.png">
        </eq>
    </div>
    <div class="suc">
        <h1>
            <eq name="id" value="1">
            支付成功
            </eq>
            <eq name="id" value="3">
                支付成功
            </eq>
            <eq name="id" value="2">
                支付失败
            </eq>
            <eq name="id" value="4">
                支付失败
            </eq>
        </h1>
        <p>将在</p>
        <p id="text">5s</p>
        <p>后跳转</p>
        <gt name="id" value="2">
            <a href="{:U('Center/cash')}">点击直接跳转</a>
        <else />
            <a href="{:U('List/index')}">点击直接跳转</a>
        </gt>
    </div>
</div>
</body>

<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.1.min.js"></script>
<script>
    var second=5;
    var id = '{$id}';
    var window_internal = window.setInterval( function() {
        if (second==0) {
            if(id > 2){
                location.href='/index.php/Center/cash'
            }else{
                location.href='/index.php/List/index'
            }

        }
        $('#text').text( (second--) + "s");

    } , 1000);

</script>
</html>
